@media screen {
	a.buttonOn {
		text-decoration: none;
		background-color: #ded9c2;
		color: #FEE00F;
		border: 1px outset;
		padding: 1px;
		margin: 0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonOff {
		text-decoration: none;
		background-color: #687796;
		color: #ffffff;
		border: 1px outset;
		padding: 1px;
		margin:0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonImageOff {
		text-decoration: none;
		background-color:#194D98;
		font-size: 11px;
		font-weight:bold;
		border: 1px outset;
		color: #ffffff;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 1px;
		margin-top: 1px;
		margin-right: 5px;
		display: -moz-inline-box;
		display: inline-block;
		vertical-align: top;
outline:0;
	}
	a.buttonImageOn {
		text-decoration: none;
		background-color:#194D98;
		font-size: 11px;
		font-weight:bold;
		border: 1px outset;
		color: #FEE00F;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 1px;
		margin-top: 1px;
		margin-right: 5px;
		display: -moz-inline-box;
		display: inline-block;
		vertical-align: top;
outline:0;
	}
	a.buttonImageOn:hover {
		text-decoration: none;
	}
	a.buttonImageOn:active {
		text-decoration: none;
	}
	

}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
}
a.buttonImageOff .r {
}
a.buttonImageOff .c {
cursor: default;
}


a.buttonImageOn .l {
}
a.buttonImageOn .r {
}
a.buttonImageOn .c {
	cursor: default;
}
