body {
	border: 1px solid black;
	padding: 10px;
	background-color: #ffffff;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: small;
    margin: 0px;

}

tr#Header {
	height: 104px;
    color: #7068b3;
}
tr#Header td {
	margin: 0px;
	padding: 0px;
	height: 104px;
}
td#Logo {
     width: 251px;
	height: 104px;
}

a:link,
	a:visited,
	a:hover,
	a:active
{
	text-decoration: none;
color: #800000;
}

table {
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border: none;

}
table.List {
    border-bottom: 1px solid #194D98;
}
table.List th {
    border-bottom: 1px solid #194D98;
    background: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
}
table.List td {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}
tr.totals {
    border-top: 1px solid #194D98;
}


table.List input.text {
    width: 100%;
}

hr {
    width: 100%;
    margin: 1px;
    padding: 0px;
    height: 1px;
    border: 0px;
    color: #194D98;
    background-color: #194D98;
}

.colRow { background-color: #E3E4F0 }

img {
    border: none;
    margin: 0px;
    padding: 0px;
}

fieldset {
    border-right: none;
    border-left: none;
    border-top: 1px solid #194D98;
    border-bottom: none;
    padding-bottom: 10px;
}
fieldset legend {
    font-weight: bold;
	color: #194D98;
}
fieldset label {
	width: 100px;
}
.Currency {
    float: right;
    font-weight: bold;
}
.spacer {
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

