div.Order fieldset p label {
	width: 30%;
}
div.Order .History fieldset ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div.Order .History fieldset ul li {
	list-style: none;
	margin: 0px;
	padding-left: 100px;
}
div.Order .History fieldset ul li label {
	margin-left: -100px;
	width: 95px;
}

img#Butterfly, img#IDEAG7, img#IDEAG7Master {
	margin-top: 10px;
	width: 130px;
}

#QuickLogin {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 400px;
}
#QuickLogin p {
    padding: 0px;
    padding-left: 80px;
    margin: 0px;
    vertical-align: top;
}
#QuickLogin p label {
    width: 75px;
    margin-left: -80px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
	color: black;
	font-size: x-small;
	font-weight: normal;
}
#QuickLogin p label.radio {
	width: auto;
	display: inline;
	float: none;
	margin: 0px;
	color: black;
	font-size: small;
}

#CurrencySelection {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 470px;
}

#CurrencySelection p {
    padding: 0px;
    padding-left: 100px;
    margin: 0px;
    vertical-align: top;
}
#CurrencySelection p label {
    width: 95px;
    margin-left: -100px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
    color: black;
    font-size: small;
    font-weight: bold;
}
#QuickLogin p input, #CurrencySelection p input, #QuickLogin p select, #CurrencySelection p select {
    margin: 0px;
    width: 65%;
    vertical-align: top;
}
#QuickLogin p select, #CurrencySelection p select {
    padding: 0px;
}
#QuickLogin p a.buttonImageOn, #QuickLogin p a.buttonImageOff, #CurrencySelection p a.buttonImageOn, #CurrencySelection p a.buttonImageOff {
    margin: 0px;
}
.Specials table .Spec {
	text-align: left;
}
img#HomeCollage {
	float: right;
}

#menubar li#MenuQuotes a, #menubar li#MenuOrders a, #menubar li#MenuProject a {
	width: 95px;
}
#menubar li#MenuAboutUs a {
	width: 60px;
}
#menubar li#MenuAccount a {
	width: 120px;
}
#AlertDiv {
	color: red;
}
ul#ProjectTypes {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#ProjectTypes li {
	margin-left: 0px;
	list-style: none;
	padding: 2px 7px 2px 7px;
	text-align: left;
}
#ProjectTypes li.Category {
	background-color: #194D98;
	font-weight: bold;
	color: #fff;
}
#ProjectTypes A {
	color:#194D98;
	text-decoration: none;
}
#ProjectTypes a:hover {
	color:#FEE00F;
/*
	text-decoration: underline;
*/
}
div#header_banner {
	background-repeat: repeat-x;
	width: 100%;
	height: 104px;
	text-align: center;
	margin: 0px auto 0px auto;
}
div#logo {
	float: left;
	width: 251px;
	height: 104px;
}
div#contact_information {
	float: left;
	text-align: left;
	margin-right: 15px;
	margin-top: 15px;
	color: #7068b3;
}
div#currencies {
	float: left;
	margin-top: 4px;
}
div#nav_icons {
	float: right;
	padding-right: 20px;
}
div#main_content {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}
div#main_content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#main_content {height: 1%;}
* div#main_content {display:block;}
/* End hide from IE-mac */

div#main_content_inner {
	padding: 0px 0px 0px 185px;
	background-color: #fff;
}

div#left_sidebar {
	float: left;
	margin: 0px;
	margin-right: 0px;
	width: 180px;
	margin-left: -185px;
	padding: 0px;
	text-align: center;
}
div#content_container {
	background-color: #fff;
	width: 1000px;
	overflow: hidden;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
div.top_shadow {
	background-image: url(/images/shadow_border/top.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	height: 22px;
}
div.shadow_tl {
	float: left;
	background-image: url(/images/shadow_border/tl.gif);
	background-repeat: no-repeat;
	width: 26px;
	height: 22px;
}
div.shadow_tr {
	float: right;
	background-image: url(/images/shadow_border/tr.gif);
	background-repeat: no-repeat;
	width: 17px;
	height: 22px;
}
div.bottom_shadow {
	clear: left;
	background-image: url(/images/shadow_border/bottom.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	height: 22px;
}
div.shadow_bl {
	float: left;
	background-image: url(/images/shadow_border/bl.gif);
	background-repeat: no-repeat;
	width: 26px;
	height: 22px;
}
div.shadow_br {
	float: right;
	background-image: url(/images/shadow_border/br.gif);
	background-repeat: no-repeat;
	width: 17px;
	height: 22px;
}
div.shadow_left {
	background-image: url(/images/shadow_border/left.gif);
	background-repeat: repeat-y;
	background-position: left;
	padding-left: 14px;
}
div.shadow_right {
	background-image: url(/images/shadow_border/right.gif);
	background-repeat: repeat-y;
	background-position: right;
	padding-right: 5px;
}

div#main_page {
	width: 100%;
	float: left;
}
div#main_page_content {
	padding-left: 20px;
	padding-right: 10px;
}
div#main_page_content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#main_page_content {height: 1%;}
* div#main_page_content {display:block;}
/* End hide from IE-mac */

div#choose_currencies_top {
font-size: 12px;
text-decoration: none;
color: #7c6aba;
}
div#contact_information div {
line-height: 1.1em;
}

