div.QuoteHeader {
	margin: 0px;
	padding: 0px;
    float: left;
    width: 33%;
}
div.QuoteHeader fieldset {
    margin-right: .5em;
}
div.QuoteHeader fieldset p {
    text-align: right;
	width: auto;
	padding: 0px;
}
div.QuoteHeader fieldset p label {
    font-weight: bold;
    margin-right: 10px;
	margin-left: 0px;
    float: left;
    width: auto;
    text-align: left;
}

div.QuoteInformation fieldset {
	padding: 0px;
	margin: 0px;
	font-size: 10px;
}
	
div.QuoteInformation fieldset p {
	padding-left: 105px;
}
div.QuoteInformation fieldset p label {
	width: 105px;
	margin-left: -105px;
}
div.QuoteInformation fieldset p label.radio {
	width: auto;
	margin: 0px;
	padding: 0px;
	float: none;
}

div.QuoteInformation fieldset p input {
    width: expression( (this.type=="text" || this.type=="password") ?'94%':'auto');
	margin: 0px;
}
div.QuoteInformation fieldset p input[type="text"] {
    width: 95%;
}
div.QuoteInformation fieldset p select {
    width: 95%;
}
div#Quote table {
	font-size: 10px;
}
