<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?></title>	
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/service.js"></script>
		<? endif ( $r->uri() =~ /\/main\/project/ ) ?>
		<? if ( $r->uri() =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/quote/ ) ?>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>

		<link rel="shortcut icon" href="/images/favicon.ico"/>
<script type="text/javascript">
<!--
        var startList = function() {
            if (document.all && document.getElementById) {
                var navRoot = document.getElementById("menubar");
                if ( navRoot ) {
                    for ( var i=0; i<navRoot.childNodes.length; i+= 1 ) {
                        var node = navRoot.childNodes[i];
                        if (node.nodeName=="LI") {
                            node.onmouseover=function() {
                                this.className+=' over';
							}
                            node.onmouseout=function() {
								this.className=this.className.replace(' over', '');
							}
                        } // end if
                    } // end for
                } // end if
            }
        }
		Event.observe(window, 'load', startList );
			
		if ( typeof(body_onLoad) == 'function' ) 
			Event.observe(window, 'load', body_onLoad );
-->
        </script>
	</head>
	<body>
		<div class="Content">
			<div class="ContentInner">
				<div class="Header">
					<img style="float: left;" src="/images/IQ_logo.png" alt="Intelligent Quote Demo"/>
					<div style="float: left;">
						<img src="/images/IQ_text.png" alt="Intelligent Quote Demo"/>
					</div>

					<span style="float: right;p\osition: relative;">
							<? if ( sets::isin( $openprint::session{'user_type'}, ['A'] ) ) ?>
							<? echo ( ssi::writeButton( $log, $dbh, 'GoAdmin', 'admin.gif', '', '/administrator/', 'Administrators' ); ) ?>
							<? endif ( sets::isin( $openprint::session{'user_type'}, ['A'] ) ) ?>
							<? if ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
							<? echo ( ssi::writeButton( $log, $dbh, 'GoEmployee', 'employee.gif', '', '/employee/', 'Employees' ); ) ?>
							<? endif ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
					</span>
					<br/>
					<br/>
					<span style="float: right;">
							<form name="SelectCurrency" action="<? echo ( misc::get_url( $r->uri(), \%openprint::param, { 'exclude'=>'select_currency_id'} ); ) ?>" method="post">
								Currently selected currency:
								<select name="select_currency_id" onchange="this.form.submit();">
									<? echo (
										ssi::make_drop_down( [ map { $_->id(), $_->name() } openprint::Currency::find( 'order'=>'lower(name)' ) ], $openprint::session{'Currency_id'} );
									) ?>
								</select>
							</form>
					</span>
					<br/>
					<br/>
			<? echo ( ssi::include( $config{'SkinPath'}.'/includes/customer_menu.html' ); ) ?>
					<br class="spacer"/>
				</div><!--Header-->
				<br class="spacer"/>
<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
				<span class="unprintable">
				<br class="spacer"/>
				<br class="spacer"/>
				</span>
			</div><!--ContentInner-->
		</div><!--Content-->
	</body>
</html>
