<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><? echo ( ssi::htmlize( $$variable{'PageTitle'} ); ) ?></title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/forms.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/estimating.css" type="text/css"/>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
		<? if ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/main\/quote/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? if ( $$variable{'uri'} =~ /\/main\/project\/prin/ ) ?>
		<script type="text/javascript" src="/javascripts/service.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/proj/paper.js?version=1.0"></script>
		<? endif ( $$variable{'uri'} =~ /\/main\/project\/prin/ ) ?>
		<? endif ( $$variable{'uri'} =~ /\/main\/project/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/content\/prin/ ) ?>
			<script type="text/javascript" src="/javascripts/service.js?version=1.0"></script>
			<script type="text/javascript" src="/javascripts/proj/paper.js?version=1.0"></script>
			<script type="text/javascript" src="/javascripts/simpleprinting.js?version=1.1"></script>
		<? endif ( $$variable{'uri'} =~ /\/content\/prin/ ) ?>
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
<a name="top"></a>

<div id="center">
<div id="container">

<!-- MASTHEAD //-->

<div id="website-masthead">
		<a href="/"><img src="/images/topknotch.gif" width="220" height="90" border="0" alt="Topknotch Print &amp; Prep" class="left"  /></a>
	<ul>
		<? if ( $session{'user_id'} ) ?>
		<li><a href="/account/user_profile.html" title="ACCOUNT">ACCOUNT</a></li><li><a href="/main/order/history.html" title="ORDERS">ORDERS</a></li>
		<li><a href="/account/logout.html" title="LOG OUT">LOG OUT</a></li>
		<? else ( $session{'user_id'} ) ?>
		<li><a href="/account/registration.html" title="REGISTRATION">REGISTRATION</a></li>
		<li><a href="/account/login.html" title="LOG IN">LOG IN</a></li>
		<? endif ( $session{'user_id'} ) ?>
	</ul>
</div>
<!-- NAV //-->

<div id="nav"><ul>
	<li><a class="nav01" href="#" title="Print" onclick="window.print();">Print</a></li>
	<li><a class="nav02" href="/specials.html" title="Specials">Specials</a></li>
	<li><a class="nav03" href="/waterless.html" title="Green Printing">Green Printing</a></li>
	<li><a class="nav04" href="/paper.html" title="Paper">Paper</a></li>
	<li><a class="nav05" href="/custom_quote.html" title="Custom Quote">Custom Quote</a></li>
	<li><a class="nav06" href="/FAQ.html" title="Help Centre">Help Centre</a></li>
	<li><a class="nav07" href="/about.html" title="About">About</a></li>
	<li><a class="nav08" href="contact.html" title="Contact">Contact</a></li>
</ul></div>
<? echo (
	my $html = '';
	if ( $session{'user_type'} eq 'A' ) {
		$html .= ssi::include( '/includes/administrator-menu.html' );
	} # end if
	if ( sets::isin( $session{'user_type'}, ['A','E'] ) ) {
		$html .= ssi::include( '/includes/employee-menu.html' );
	} # end if
	return $html;
) ?>

<!-- PRINT NAV //-->

<div class="p-nav"><ul>
<? echo ( 
	my $html = '';
	foreach my $ProjectTypeCategory ( openprint::ProjectTypeCategory::find() ) {
		$html .= sprintf(q`<li id="Menu%1$s" class="%2$s"><a href="#" title="%1$s" onclick="toggleMenu($('Menu%1$s'), 'off', 'on');return false;">%1$s</a>`, $ProjectTypeCategory->name(), 
			( ( $$variable{'ProjectType'} and ( $$variable{'ProjectType'}->category_id() == $ProjectTypeCategory->id() ) ) ? 'on' : 'off' ),
			);
		$html .= '<ul>';
		foreach my $ProjectType ( openprint::ProjectType::find('category_id'=>$ProjectTypeCategory->id()) ) {
			$html .= sprintf('<li class="%2$s"><a href="/content/%3$s?projecttype_id=%4$d" title="%1$s">%1$s</a></li>', $ProjectType->name(),
				( ( $$variable{'ProjectType'} and ( $$variable{'ProjectType'}->id() == $ProjectType->id() ) ) ? 'on' : 'off' ),
				$ProjectType->url(), $ProjectType->id(),
				);
		} # end foreach
		$html .= "</ul></li>\n";
	} # end foreach ProjectTypeCategory
	return $html;
) ?>
	<li><img src="/images/p-nav-footer.png" width="160" height="20" border="0" alt="" /></li>
</ul></div>

<!-- CONTENT OPEN //-->
<div id="content">
	<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
</div><!-- CONTENT CLOSE //-->

<!-- FOOTER //-->

		<div id="footer">
		<div class="leftColumn">Topknotch Print - <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Topknotch+Print+Mississauga+ON&amp;sll=43.63114,-79.645747&amp;sspn=0.007564,0.01649&amp;g=855+Matheson+Blvd+E,+Mississauga,+ON+L4W+4L6&amp;ie=UTF8&amp;hq=Topknotch+Print&amp;hnear=Mississauga,+ON,+Canada&amp;z=13&amp;iwloc=A" title="Google Maps" target="_blank">Unit 5&amp;6, 855 Matheson Blvd E, Mississauga, ON L4W 4L6</a><br />
		  <strong>(905) 624-5100</strong> - Copyright &copy; 2003 Topknotch. All rights reserved.</div>
		<div class="rightColumn" style="text-align:right;"><a href="#">Contact Us</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href="#">Privacy Policy</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href="#">Terms of Use</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href="#">Site Map</a></div>
	</div>

<!-- CLOSE CONTAINERS //-->
</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10915494-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

	</body>
</html>
