<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><? echo ( ssi::htmlize( $$variable{'PageTitle'} ); ) ?></title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/estimating.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/project/ ) ?>
		<? if ( $r->uri() =~ /\/content\/prin/ ) ?>
               <script type="text/javascript" src="/javascripts/service.js?version=1.0"></script>
               <script type="text/javascript" src="/javascripts/proj/paper.js?version=1.0"></script>
               <script type="text/javascript" src="/javascripts/simpleprinting.js?version=1.0"></script>
		<? endif ( $r->uri() =~ /\/content\/prin/ ) ?>
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>
	<body>
		<div id="Header">
			<!--#include virtual="/skins/<?SiteTitle?>/includes/header.html"-->
		</div>
		<!--#include virtual="/skins/<?SiteTitle?>/includes/menu.html"-->
		<div id="Content">
				<div class="ProjectTypeBox">
					<!--#include virtual="/skins/<?SiteTitle?>/includes/project_types.html"-->
					<hr class="spacer"/>
					<a href="/support/FAQ.html#FileUploadInstructions">File Upload Instructions</a>
					<br/><br/>
					<!--#include virtual="/skins/<?SiteTitle?>/includes/flags_left.html"-->
				</div>
				<div class="Content">
				<?PageContent?>
<div id="Logos">
					<img id="Butterfly" src="/images/Butterfly.png" alt="Butterfly" /><br/>
		<a href="http://www.idealliance.org"><img id="IDEAG7" src="/images/IDEA.G7.png" alt="IDEA.G7"/></a>
		<a href="http://www.idealliance.org"><img id="IDEAG7Master" src="/images/IDEA.G7Master.png" alt="IDEA.G7Master"/></a>
</div>
				</div><!-- Content -->
				<br class="spacer"/>
		</div>
		<div id="Footer" class="unprintable">
		<!--#include virtual="/skins/<?SiteTitle?>/includes/footer.html"-->
		</div><!-- Footer -->
	</body>
</html>
