
html {
	height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
    margin: 0px;
	padding: 0px;
    background-color: #ffffff;
	min-width: 760px;
}

@media print {
	body {
		padding: 0px;
	}
}

body .Header {
    height: 52px;
}

.Header p {
	color:#666666;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}
.Header p label {
	color:#BCA205;
	text-align: right;
	float: left;
	width: 40px;
}
img {
border: none;
}

.Content {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
.ContentInner {
    z-index: 0;
    margin: 5px;
}
A {
	text-decoration: none;
    color: #404171;
	outline:0;
}
A:visited {
    color: #404171;
}
A:hover {
	color: #687796;
}

.formOn {
	background-color: #f1eee5;
}
.formOff {
	background-color: #ffffff;
}

select, textarea, option {
    font-size: x-small;
	background-color: white;
	color: black;
}
input {
	background-color: white;
	color: black;
    font-size: x-small;
}
input[type="text"], input[type="password"]  {
}

.tipDiv {
    position:absolute;
    z-index:2;
    visibility: hidden;
    background-color: #ffffff;
    width: 350px;
    border: 1px solid;
	height: auto;
}
.tipHead {
    background-color:#DED9C2;
    padding: 5px;
}
.tipText {
    padding: 5px;
}

.PopUp {
	background-color: white;
	border: 1px solid;
	visibility: hidden;
	position: absolute;
}

.spacer {
	clear: both;
}

@media print {
	.filters {
		display: none;
	}
}

form {
	margin: 0px;
	padding: 0px;
}

.error {
	color: red;
}
table.List {
	border-bottom: 1px solid #cfbb4b;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
table.List th {
	font-weight: bold;
	border-bottom: 1px solid #cfbb4b;
}
table.List td {
	padding-top: 1px;
	vertical-align: top;
}
table.List tr.totals {
	border-top: 1px solid #cfbb4b;
}

table.List td input {
    width: expression(this.type=="text" || this.type=="password"?'100%':'auto');
}
table.List td input[type="text"], table.List td input[type="password"]  {
	width: 100%;
}
table.List td textarea {
	width: 100%;
}

.Docket {
}

.Application fieldset {
	margin-bottom: 5px;
}
.Application span.label {
    float: left;
    width: 180px;
    padding: 2px;
    margin: 0px;
    margin-top: 3px;
}
.Application legend {
	color: #BCA205;
	font-weight: bold;
}
.Application .text {
	width: 200px;
	margin:3px;
	height:20px;
}

.Currency {
	font-weight: bold;
}

fieldset {
	border-top: 1px solid #BCA205;
	border-right: none;
	border-left: none;
	border-bottom: none;
}
fieldset legend {
	color: #BCA205;
	font-weight: bold;
}


fieldset p {
    margin-top: .5em;
	display: inline-block;
	padding-left: 240px;
	overflow: hidden;
}
fieldset p:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html fieldset p {height: 1%;}
* fieldset p {display:block;}
/* End hide from IE-mac */


fieldset p label {
    width: 235px;
    text-align: right;
	margin-left: -240px;
	vertical-align: top;
	float: left;
	outline: 0;
}
label.radio {
	width: auto;
	display: inline;
	float: none;
	padding: 0px;
	margin: 0px;
	outline: 0;
}
p.buttons {
	float: right;
}
fieldset p.buttons {
	margin: 0px;
	padding: 0px;
	margin-left: 240px;
	float: left;
}
fieldset p .buttons {
    margin-left: 26%;
	display: -moz-inline-box;
    display: inline-block;
    float: none;
}
fieldset p input {
    float: none;
    width: expression(this.type=="text" || this.type=="password"?'70%':'auto');
	vertical-align: top;
}
fieldset p input[type="text"], fieldset p input[type="password"]  {
    width: 70%;
}
fieldset p input[type="radio"] {
}
fieldset p select {
    width: 70%;
}
fieldset p textarea {
    width: 70%;
}
fieldset p option {
    width: 70%;
}
fieldset.filters {
    margin-left: 0px;
    margin-right: 0px;
	padding: 0px;
}
fieldset.filters p {
	padding-left: 105px;
}
fieldset.filters p label {
	margin-left: -105px;
	width: 100px;
}
fieldset.filters p label.radio {
	width: auto;
	margin: 0;
	display: inline;
	float: none;
}
fieldset.filters p select {
    width: auto;
}
fieldset.filters p input[type="text"] {
    width: auto;
}
fieldset.filters p.buttons {
	margin: 0px;
	padding: 0px;
	margin-left: 105px;
	float: left;
}


.CompanyProfile fieldset {
	margin-bottom: 5px;
}

hr {
	margin: 1px;
	padding: 0px;
	height: 1px;
	border: 0px;
	color: #cfbb4b;
	background-color: #cfbb4b;
}

.column {
	width: 48%;
	float: left;
}
.leftColumn {
	width: 48%;
	float: left;
}
.rightColumn {
	width: 48%;
	float: right;
}
.PageTitle {
	display: block;
}

.colRow {
	background-color: #ded9c2;
 }					/* alternating row color in generated tables */

div.row {
	p\osition: relative;
	clear: both;
	margin-bottom: 10px;
	padding: 1px;
	padding-left: 10px;
}
div.row .required {
	width: 10px;
	float:left;
	margin-left: -10px;
	right: 10px;
	height: 100%;
}

div.row .label {
	padding: 5px;
	width: 180px;
	text-align: left;
	p\osition: relative;
	float:left;
}

div.row .input {
	padding: 5px;
	text-align: left;
	float:left;
	p\osition: relative;
	vertical-align: top;
}
div.row .buttons {
	margin-left: 180px;
	padding: 5px;
	float: left;
	p\osition: relative;
}
fieldset .row {
	width: 100%;
}
fieldset .row .label {
	width: 30%;
	padding: 7px;
}
fieldset .row .input {
	width: 60%;
}
fieldset .row .value {
	padding: 7px;
}
div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.row {height: 1%;}
* div.row {display:block;}
/* End hide from IE-mac */
.PageTitle {
	display: none;
}
.PageTitle h1 {
	font-size: large;
}
.PageTitle h1 {
}
span.DateSelector {
    float: left;
	width: 200px;
}

div.Popup {
    position:absolute;
    visibility: hidden;
    background-color: #ffffff;
    border:1px solid black;
    width: auto;
    height: auto;
    padding: 5px;
    z-index: 100;
    display: none;
}

/* Begin Menu Styles
 * */

ul#menubar {
	width:100%;
    left:0px;
	background-color: #ded9c2;
	list-style: none;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 12px;
    padding: 0px;
    z-index: 6000;
    min-width: 325px;
    display: block;
}
@media print {
    .menubar {
        display: none;
    }
}


ul#menubar:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html ul#menubar {height: 1%;}
* *     ul#menubar{display:block;}
* */* End hide from IE-mac */
ul#menubar li {
    float: left;
    list-style: none;
    margin: 0px;
	padding: 0px;
	border: none;
    display: block;
    background-color: #ded9c2;
}

ul#menubar li a {
    color: #404171;
    display: block;
    width:85px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
    margin: 0px;
    overflow: hidden;
    text-align: left;
    outline: 0;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;

}
ul#menubar li.off ul {
    /*put the subnavs below and hide them all*/
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
	border-top: 1px solid #ffffff;
}

ul#menubar li.on ul {
    /*display the current topic*/
    display: block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
}

ul#menubar li.on a {
    /*change border color for active topic area*/
	color: #ffffff; 
	background-color: #687796;
}

ul#menubar li ul li {
    background-color: #ffffff;
    border: 0;
    float: none;
    padding: 0px;
    margin:0px;
    list-style: none;
    text-align: center;
}

ul#menubar li.on ul li a, #menubar li.off ul li a {
    /*ie doesn't inherit the float*/
   background-color: #f1eee5;
    color: #7f7c75;
    margin: 0px;
	border-bottom: 1px solid white;
	border-top: 1px solid #ffffff;
    outline: 0;
}
ul#menubar li.on ul li a:hover, ul#menubar li.off ul li a:hover {
	background-color: #ded9c2;
	color: #404171;
}

ul#menubar li.off:hover ul, ul#menubar li.over ul {
    /*  display the other topics when
 *   *              their parent is hovered */
    display: block;
    z-index: 6000;
}

/* Sub meny entry color */
#menubar li.off:hover a {
    color: #ffffff;
	background-color: #687796;
}
#menubar li.off a:hover {
    color: #ffffff;
	background-color: #687796;
}
#menubar li:hover a {
    color: #404171;
}
#menubar li.over a {
    color: #ffffff;
	background-color: #687796;
}

/* Sub meny entry color */
#menubar li.off:hover ul li a {
    color: #404171;
   background-color: #f1eee5;
}
#menubar li.off ul li a:hover {
    color: #404171;
}
#menubar li:hover ul li a {
    color: #404171;
}
#menubar li.over ul li a {
    color: #404171;
   background-color: #f1eee5;
}
div.Service span.ThreeColumns {
	width: 32%;
	float: left;
}
div.Service span.TwoColumns {
	width: 50%;
	float: left;
}
h1,h2,h3,h5 {
	color: maroon;
}
