.Docket {
}
.Project span {
	width: 31%;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
	p\osition: relative;
}
.Project label {
	font-weight: bold;
	float: left;
	p\osition: relative;
	margin-right: 5px;
}

div.ProjectHeader {
	border-bottom: 1px solid #cfbb4b;
	margin: 0px;
	margin-bottom: 5px;
}
div.ProjectHeader:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div.ProjectHeader {display: inline-block;}
/* Hides from IE-mac \*/
* html div.ProjectHeader {height: 1%;}
div.ProjectHeader {display: block;}
/* End hide from IE-mac */

div.ProjectHeader fieldset {
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 0px;
	padding: 6px;
	text-align: left;
}
div.ProjectHeader fieldset#ProjectInformation {
	float: left;
	width: 47%;
}
div.ProjectHeader fieldset#ContactInformation {
	float: right;
	width: 47%;
}
div.ProjectHeader fieldset#Reference {
	float: left;
	text-align: left;
	width: 47%;
}
div.ProjectHeader fieldset#Description {
	float: right;
	text-align: left;
	width: 47%;
}


div.ProjectHeader fieldset p {
	text-align: right;
	padding: 0px;
	margin: 0px;
}
div.ProjectHeader fieldset p label {
	margin: 0px;
	padding: 0px;
	float: left;
	font-weight: bold;
	text-align: left;
	width: auto;
}

.ProjectSummary div.row {
    margin: 0px;
	padding: 0px;
}
.ProjectSummary div.row .label {
       text-align: left;
       p\osition: relative;
       float:left;
       font-weight: normal;
       padding: 0px;
}
.ProjectSummary div.row .value {
       text-align: left;
       float:left;
       p\osition: relative;
       margin-right: 10px;
       background-color: #ded9c2;
       padding: 0px;
}

.ProjectSummary div.row .input {
       line-height: 19px;
       margin-left: 10px;
       width: 200px;
       text-align: left;
       float:left;
       p\osition: relative;
}

.InksFront, .Front {
    float: left;
    width: 50%;
}
.InksBack, .Back {
    float: left;
    width: 50%;
}
#BleedsColourBars {
    float: left;
    width: 50%;
}
.Stock {
    float: left;
    width: 50%;
}
.VarnishCoverage {
    float: none;
}
.VarnishCoverage input, .VarnishCoverage input[type="text"] {
    width: 35px;
}
.checkOption {
    float: left;
    width: 30%;
}
.bleedOption {
	float: left;
	width: 100px;
}
div.Service fieldset p span.checkOption label, div.Service fieldset p label label {
    clear: none;
    width: auto;
    float: none;
    margin: 0px;
    padding: 0px;
}
div.Service fieldset {
    margin: 2px;
    padding: 4px;
}
.AddToProjectButtons {
    float: right;
}

span.SpotColour {
    float: left;
    width: 25%;
}
span.SpotColour label, span.Coverages label {
    clear: none;
    width: auto;
    float: none;
    margin: 0px;
    padding: 0px 0px 0px 2px;
}
.checkOption {
	float: left;
	width: 50%;
}
.SpecialColour {
	float: left;
	width: 100%;
}
.SpecialColour .checkOption {
	float: left;
	width: 108px;
}
.colourOption {
	float: left;
	width: 104px;
}
