<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
	<head>
		<title><?PageTitle?></title>	
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<link href="/css/common.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/button.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="Content">
			<div class="ContentInner">
				<div class="Header">
					<img style="float: left; margin-right: 15px;" src="/images/main/header/logo.jpg">
				</div>
				<br/>
				<?PageContent?>
				<br class="spacer"/>
				<br class="spacer"/>
			</div>
		</div>
	</body>
</html>
