[submodule "skins/Process Envelope"]
	path = skins/Process Envelope
	url = iconnor@penultima.org:/var/lib/git/Process Envelope/
[submodule "skins/SimplePrintSolutions"]
	path = skins/SimplePrintSolutions
	url = iconnor@penultima.org:/var/lib/git/SimplePrintSolutions
[submodule "skins/Topknotch Prep & Print"]
	path = skins/Topknotch Prep & Print
	url = iconnor@penultima.org:/var/lib/git/Topknotch Prep & Print
[submodule "skins/Topknotch Print"]
	path = skins/Topknotch Print
	url = iconnor@penultima.org:/var/lib/git/Topknotch Print
[submodule "skins/Topknotch Quote"]
	path = skins/Topknotch Quote
	url = iconnor@penultima.org:/var/lib/git/Topknotch Quote
[submodule "skins/Topknotch Trade"]
	path = skins/Topknotch Trade
	url = iconnor@penultima.org:/var/lib/git/Topknotch Trade
[submodule "skins/PointOne Graphics Inc"]
	path = skins/PointOne Graphics Inc
	url = iconnor@penultima.org:/var/lib/git/PointOne Graphics Inc
