
div.row {
	clear: both;
	margin-bottom: 10px;
	padding: 1px;
}
div.row .required {
	width: 10px;
	float:left;
}
div.row .label {
	width: 180px;
	text-align: left;
	p\osition: relative;
	float:left;
}

div.row .input {
	width: 420px;
	text-align: left;
	float:left;
	p\osition: relative;
	vertical-align: top;

}
div.row .buttons {
    margin-left: 180px;
}
div.row br {
    clear: both;
}
