body {
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    color: #333;
}
@media print {
    body {
        padding: 0px;
    }
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: xx-small;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.List {
    border: none;
    table-layout: fixed;
    border-bottom: 1px solid #0046a2;
}
table.List p {
	margin: 0px;
	padding: 0px;
}
th {
    color: #000000;
    border-bottom: 1px solid #0046A2;
    padding: 1;
    text-align: left;
    font-size: xx-small;
}
th.money {
    text-align: right;
}

td {
    padding: 1px;
    vertical-align: top;
}
tr.totals {
    border-top: 1px solid #0046A2;
}
fieldset {
    border: none;
    border-top: 1px solid #0046a2;
}
fieldset legend {
    color: #ff7f00;
    font-size: medium;
}
fieldset p {
}
fieldset p label {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

td#banner {
}
br.spacer {
	height: 0px;
	clear: both;
}
div.PageTitle {
	float: right;
	margin-top: -80px;
	right: 10px;
}
div.PageTitle h1 {
    text-align: right;
	color: #ff7f00;
    margin: 0px;
    font-size: 16px;
}
div.PageTitle h2 {
    text-align: right;
    color: #000088;
    margin-top: 0px;
    font-size: 12px;
}
tr.colRow {
    background-color: #e3e4f0;
}
