div.Invoicee {
	float: left;
	width: 40%;
}
div.Invoicer {
	float: right;
	width: 40%;
}
div.Notes {
	float: left;
	width: 60%;
}
div#Invoice div.PageTitle {
	float: right;
	margin-top: -90px;
}
td.Interval, th.Interval {
	width: 50px;
}
td.DateTime, th.DateTime {
	width: 115px;
}
td.Date, th.Date {
	width: 130px;
	text-align: left;
}
td.Price, th.Price {
	width: 85px;
	text-align: right;
}
td.Rate, th.Rate {
	width: 75px;
	text-align: right;
}

th.EmployeeName {
	text-align: left;
	width: 80px;
}

div#Totals {
	float: right;
	min-width: 280px;
	width: 40%;
}
.Invoice fieldset {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#Totals fieldset legend {
	margin-right: 0px;
	margin-left: auto;
}
.Invoice fieldset p {
	padding-left; 200px;
}
.Invoice fieldset p label {
	margin-left: -200px;
	width: 195px;
}
#Totals ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#Totals ul li {
	list-style: none;
	text-align: right;
	margin: 0px;
	padding: 0px 0px 0px 170px;
}
#Totals ul li label {
	text-align: right;
	width: 165px;
	margin-left: -170px;
	float: left;
}
#Totals ul li.totals,#Totals ul li.interest, #Totals ul li.owing {
	font-weight: bold;
}
#Totals ul li.owing {
	font-size: large;
	margin: 10px 0px 10px 0px;
}
#Logs {
	width: 100%;
}
@media print {
td.Price, th.Price {
	width: 100px;
}
td.Rate, th.Rate {
	width: 100px;
}
td.Date, th.Date {
	width: 120px;
}
td.DateTime, th.DateTime {
	width: 140px;
}
#Totals ul li.owing {
	font-size: small;
}
}
