/*
dark: #330000
less brown: #663300
light#CC9900
lighter: #FFF2AC
*/
body {
	margin: 0px;
	padding: 5px;
	background-color: #fff;
	color: #333;
}
@media print {
	body {
		padding: 0px;
	}
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}


#Portfolio ul {
	float: none;
	list-style:none;
}
#Portfolio ul li {
	float: none;
	list-style:none;
	margin-bottom: 20px;
}
#Portfolio ul li:after {
	content: ".";
	display: block;
	height: 0;
    font-size: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html #Portfolio ul li {height: 1%;}
*     #Portfolio ul li{display:block;}
/* End hide from IE-mac */
#Portfolio ul li img {
	float: left;
	margin-right: 10px;
}

#Login {
}
#Login:after {
	content: ".";
	display: block;
	height: 0;
    font-size: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html #Login {height: 1%;}
*     #Login{display:block;}
/* End hide from IE-mac */
#Login fieldset.Register {
	float: left;
	width: 48%;
}
#Login fieldset.Login {
	float: left;
	width: 48%;
}
