/* CSS Document */

html, body {
  margin: 0px;
  padding: 0px;
  border-style: none;
}

#body {
  width: 90%;
  border: 0px;

  padding: 5px;
  
}

#body p, #body ul, #body ul li {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}
.PortfolioImage {
	float: left;
	margin-right: 15px;
	border: none;
}
