fieldset p.buttons {
	display: none;
} 
span.buttons {
	display: none;
}

input {
border: none;
}
select {
border: none;
}

body {
	padding: 0px;
	font-size: large;
}
.Page {
	border: none;
	padding: 0px;
}

a.button {
	display: none;
}

.unprintable {
	display: none;
}

#top {
	display: none;
}

#left {
	margin: 0px;
	padding: 0px;
	background: none;
}
#right {
	margin: 0px;
	padding: 0px;
	background: none;
}
#bottom, #bottom-left, #bottom-right {
	display: none;
}
#footer {
	display: none;
}
#header {
	background: none;
}
#header-logo {
margin: 0px;
height: auto;
	background: none;
}

a {
	color: #000000;
}

#content, #content2 {
	background: none;
	margin: 0px;
	padding: 0px;
} 
#middle {
min-width: 0px;
}
fieldset {
margin: 0px;
padding: 0px;
}

table.List {
}
table.List td {
margin: 0px;
padding: 0px;
}
.PageTitle {
	position: absolute;
	top: 50px;
	right: 0px;
}
#menu, #menubar {
	display: none;
}
#administrator_menu {
	display: none;
}
ul.menu {
	display: none;
}
