@media screen {
	a.buttonOn {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		background-color: #D96A00;
		font-size: 11px;
		/*width: 85px;*/
		border: 1px outset;
		color: #404171;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin: 0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonOff {
		background-color: #E5A11B;
		color: #ffffff;
		padding: 1px;
		margin:2px;
		
	}

	a.buttonImageOff {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-size: 11px;
		color: #ffffff;
display: -moz-inline-box;
display: inline-block;
margin-right: 5px;
outline: 0;
cursor: default;
	}
	a.buttonImageOn {
		font-family: Arial, Helvetica, sans-serif;
		color: #404171;
		text-decoration: none;
		font-size: 11px;
display: -moz-inline-box;
display: inline-block;
margin-right: 5px;
outline: 0;
cursor: default;
	}

}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/left.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
}
a.buttonImageOff .r {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/right.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
}
a.buttonImageOff .c {
background: url(/images/buttons/center.gif) repeat-x top;
display: -moz-inline-box;
display: inline-block;
height: 17px;
font-size: 11px;
font-weight: bold;
color: #002260;
padding-top: 3px;
cursor: default;
}


a.buttonImageOn .l {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/left.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
}
a.buttonImageOn .r {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/right.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
}
a.buttonImageOn .c {
background: url(/images/buttons/center.gif) repeat-x top;
display: -moz-inline-box;
display: inline-block;
height: 17px;
font-size: 11px;
font-weight: bold;
padding-top: 3px;
color: #ffffff;
cursor: default;
}
