.InstantPricing {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}
.InstantPricing IMG {
	border: 1px solid black;
	width: 150px;
}
.InstantPricing IMG#FoldType {
	width: 130px;
	height: 130px;
	display: none;
}
.InstantPricing select {
    font-size: 9px;
}

.InstantPricing .Questions {
	color: black;
	font-weight: normal;
	width: 235px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.InstantPricing .Questions p {
	text-align: right;
}
.InstantPricing .Questions span.label, .InstantPricing .Questions label {
	width: auto;
	float: left;
	color: #000000;
	font-weight: bold;
}
.InstantPricing .Questions label.radio {
	float: none;
	font-weight: normal;
}

.InstantPricing .Questions span.input {
	width: auto;
	float: right;
}
.InstantPricing h3 {
	margin: 0px;
}
.InstantPricing .Questions h3 {
	color: #99000a;
	text-align:center;
        font-size: 16px;
}
.InstantPricing .Prices {
	font-weight: normal;
	background-color: #ffffff;
	padding: 2px;
}

.Questions fieldset {
	padding: 0px;
    border: none;
    width: 100%;
}
.checkOption {
	float: left;
}
.importantNotice
{
   color: #99000a;
}
div.Prices
{
   text-align: center;
}
#Specials {
	width: 260px;
}
