body {
	margin: 0px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background-color: #a8a8a8;
}
div#header {
		 
}
div#header_banner {
	background-image: url(/images/gradient_bg.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 104px;
	text-align: center;
	margin: 0px auto 0px auto;
}
div#logo {
	float: left;
	width: 251px;
	height: 104px;
}
div#contact_information {
	float: left;
	text-align: left;
	margin-right: 15px;
	margin-top: 15px;
	color: #7068b3;
}
div#currencies {
	float: left;
	margin-top: 4px;
}
div#nav_icons {
	float: right;
	padding-right: 20px;
}
div#menu {
	text-align: right;
	margin: -40px auto 0px 0px;
	padding-right: 15px;
	color: #11ff11;
}
div#main_content {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}
div#main_content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#main_content {height: 1%;}
* div#main_content {display:block;}
/* End hide from IE-mac */

div#main_content_inner {
	padding: 0px 0px 0px 186px;
	background-color: #fff;
	display: inline-block;
	overflow: hidden;
}
div#main_content_inner:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#main_content_inner {height: 1%;}
* div#main_content_inner {display:block;}
/* End hide from IE-mac */

div#left_sidebar {
	float: left;
	margin: 0px;
	width: 180px;
	margin-left: -185px;
}
div#content_container {
	background-color: #fff;
	width: 1000px;
	overflow: hidden;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #6400b5;
}
div#menu_links {
	padding-right: 10px;
}
div.top_shadow {
background-image: url(/images/shadow_border/top.gif);
background-repeat: repeat-x;
background-color: #fff;
height: 22px;
}
div.shadow_tl {
float: left;
background-image: url(/images/shadow_border/tl.gif);
background-repeat: no-repeat;
width: 26px;
height: 22px;
}
div.shadow_tr {
float: right;
background-image: url(/images/shadow_border/tr.gif);
background-repeat: no-repeat;
width: 17px;
height: 22px;
}
div.bottom_shadow {
clear: left;
background-image: url(/images/shadow_border/bottom.gif);
background-repeat: repeat-x;
background-color: #fff;
height: 22px;
}
div.shadow_bl {
float: left;
background-image: url(/images/shadow_border/bl.gif);
background-repeat: no-repeat;
width: 26px;
height: 22px;
}
div.shadow_br {
float: right;
background-image: url(/images/shadow_border/br.gif);
background-repeat: no-repeat;
width: 17px;
height: 22px;
}
div#main_page {
padding-right: 10px;
float: left;
}
div#main_page_content {
	padding-left: 20px;
	padding-right: 10px;
}
div#main_page_content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#main_page_content {height: 1%;}
* div#main_page_content {display:block;}
/* End hide from IE-mac */

div#choose_currencies_top
{
font-size: 12px;
text-decoration: none;
color: #7c6aba;
}
div#contact_information div
{
line-height: 1.1em;
}
.headline_medium
{
font-weight: bold;
color: #6400b5;
}

/* Instant pricing shadow border styles */
div.InstantPricing .top_shadow {
	background-image: url(/images/instant_pricing/shadow_border/top.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	height: 20px;
}
div.InstantPricing .shadow_tl {
	float: left;
	background-image: url(/images/instant_pricing/shadow_border/tl.gif);
	background-repeat: no-repeat;
	width: 21px;
	height: 20px;
}
div.InstantPricing .shadow_tr {
	float: right;
	background-image: url(/images/instant_pricing/shadow_border/tr.gif);
	background-repeat: no-repeat;
	width: 21px;
	height: 20px;
}
.shadow_left {
background-image: url(/images/shadow_border/left.gif);
background-repeat: repeat-y;
background-position: left;
padding: 0px 0px 0px 14px;
}
div.InstantPricing .shadow_left {
padding-left: 7px;
background-image: url(/images/instant_pricing/shadow_border/left.gif);
}
.shadow_right {
background-image: url(/images/shadow_border/right.gif);
background-repeat: repeat-y;
background-position: right;
padding: 0px 4px 0px 0px;
}
div.InstantPricing .shadow_right {
padding-right: 7px;
background-image: url(/images/instant_pricing/shadow_border/right.gif);
background-color: #e4d9f2;
}
div.InstantPricing .bottom_shadow {
clear: left;
background-image: url(/images/instant_pricing/shadow_border/bottom.gif);
background-repeat: repeat-x;
background-color: #fff;
height: 20px;
}
div.InstantPricing .shadow_bl {
float: left;
background-image: url(/images/instant_pricing/shadow_border/bl.gif);
background-repeat: no-repeat;
width: 21px;
height: 20px;
}
div.InstantPricing .shadow_br {
float: right;
background-image: url(/images/instant_pricing/shadow_border/br.gif);
background-repeat: no-repeat;
width: 21px;
height: 20px;
}

div.InstantPricing input {
     background: expression(this.type=="radio" ?'#E4DAF2;':'white');
}

div#instant_price_section
{
float: right;
width: 267px;
}
div#CalculateBtn
{
margin:0 auto; 
text-align:center; 
width: 95px;
outline: 0;
}
div#NewDimensions {
	display: none;
}
