<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.2"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/common-handheld.css" rel="stylesheet" type="text/css" media="handheld"/>
		<link href="/css/common-print.css" rel="stylesheet" type="text/css" media="print"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css" media="screen, print"/>
		<link href="/css/menu-handheld.css" rel="stylesheet" type="text/css" media="handheld"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css" media="screen,print"/>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
		<? if ( $r->uri() =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/project/ ) ?>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/quote/ ) ?>

		<script type="text/javascript" src="/javascripts/tips.js?version=1.0"></script>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div id="Header">	
			<a href="/index.html"><img id="Logo" src="/images/EdgewaterLogo.png" alt="Edgewater Print Management"/></a>
<? if ( ! $session{'user_id'} ) ?>
			<div id="QuickLogin">
				<form name="QuickLoginForm" method="post" action="<?SecureSiteURL?>/main/account/login.html">
					<fieldset><legend>QUICK LOGIN:</legend>
						<p>
						<label>EMAIL:</label>
						<input type="text" name="email" id="email" onkeydown="if(event.keyCode == 13){checkLoginData( this, this.form.password );}"/>
						</p><p>
						<label>PASSWORD:</label>
						<input type="password" name="password" id="password" onkeydown="if(event.keyCode == 13){checkLoginData(this.form.email, this);}"/>
						</p><p>
							<? echo ( join('', 
								ssi::writeButton( $log, $dbh, 'QuickLoginButton','login.gif',"QuickLoginForm.btnFunction.value='Login';QuickLoginForm.submit();", '', 'Login' ),
								ssi::writeButton( $log, $dbh, 'QuickForgotButton','forgot.gif',"QuickLoginForm.btnFunction.value='Forgotten Password';QuickLoginForm.submit();", '', 'Forgotten Password' ),
								ssi::writeButton( $log, $dbh, 'QuickRegistration','registration.gif','', '/main/account/registration.html', 'Register' ),
								);
							) ?>
						</p>
					</fieldset>
					<input type="hidden" name="btnFunction" />
				</form>
			</div><!--QuickLogin-->
<? if ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
			<div id="SelectCompany">
				<form name="SelectCompanyForm" method="post" action="<? echo ( misc::get_url( $r->uri(), \%param, { 'exclude'=>['select_currency_id','ddmCompany','btnFunction'] } ); ) ?>">
                        <p>
                            <label>Company:</label>
                            <input name="CompanyFilter" type="text" style="width: auto;" onkeyup="filterDDM(this, this.form.ddmCompany);" size="4"/>
                            <select name="ddmCompany" onchange="if(this.options[this.selectedIndex].value != '') this.form.submit();">
                                <option value="">Select a Company</option>
                                <? echo (
                                        openprint::Company::get_dropdown( $session{'company_id'} );
                                        ) ?>
                            </select>
                            <? echo ( ssi::writeButton( $log, $dbh, 'Submit', 'submit.gif', 'SelectCurrency.submit();', '', 'Submit' ); ) ?>
                        </p>
				</form>
			</div>
<? endif ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>

<? else ( ! $session{'user_id'} ) ?>
                <? if ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
                <? echo ( ssi::writeButton( $log, $dbh, 'GoEmployee', 'employee.gif', '', '/employee/', 'Employees' ); ) ?>
                <? endif ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
                <? if ( sets::isin( $session{'user_type'}, ['A'] ) ) ?>
                <? echo ( ssi::writeButton( $log, $dbh, 'GoAdministrator', 'administrator.gif', '', '/administrator/', 'Administrators' ); ) ?>
                <? endif ( sets::isin( $session{'user_type'}, ['A'] ) ) ?>
<? endif ( ! $session{'user_id'} ) ?>
			<div id="SelectCurrency">
				<form name="SelectCurrency" action="<? echo ( misc::get_url( $r->uri(), \%param, { 'exclude'=>'select_currency_id'} ); ) ?>" method="post">
				<p><label>CURRENCY:</label>
					<select name="select_currency_id" onchange="this.form.submit();">
						<? echo (
							ssi::make_drop_down( [ map { $_->id(), $_->name() } openprint::Currency::find( 'order'=>'lower(name)' ) ], $session{'Currency_id'} );
						) ?>
					</select>
				</p>
				</form>
			</div><!--Currency-->
		</div><!--Header-->
		<? if ( $r->uri() eq '/index.html' ) ?>
		<div id="HomeMenu">
		<? else ( $r->uri() eq '/index.html' ) ?>
		<div id="Menu">
		<? endif ( $r->uri() eq '/index.html' ) ?>
		<? echo ( ssi::include( $config{'SkinPath'}.'/includes/customer-menu.html' ); ) ?>
		</div>
		<div id="Content">
			<div id="ContentInner">
				<?PageContent?>
			</div><!--ContentInner-->
		</div><!--Content-->
		<div id="Footer">	
<span style="float: left;">&copy; EDGEWATER PRINT MANAGEMENT.  ALL RIGHTS RESERVED.</span>
<span style="float: right;">SITE BY CONNORTECHNOLOGY.COM</span>
		</div>
	</body>
</html>
