body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #a8a8a8;
    font-style: normal;
    margin: 0px;
    padding: 0px;
	min-width: 730px;
}

@media screen {
    body {
        padding: 0px;
    }
}
@media print {
    body {
        padding: 0px;
    }
}


img {
	border: none;
}

a {
	outline: 0;
}

.colRow {
	background-color: #D5CFED;
}   

.spacer {
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.row {height: 1%;}
*/* End hide from IE-mac */

.row .label {
	float: left;
	width: 30%;
	margin: 0px;
	padding: 0px;
}
.row .input {
	float: left;
	margin: 0px;
	padding: 0px;
}
.row .fullinput {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 68%;
}
.row .buttons {
	margin-left: 100px;
	float: left;
}


table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table td {
	vertical-align: top;
}

table.List {
	border-bottom: 1px solid #6A00BE;
}
table.List th {
	font-weight: bold;
	border-bottom: 1px solid #6A00BE;
}
table.List td {
	padding-top: 1px;
	vertical-align: top;
}

table.List td A {
	text-decoration: none;
}
table.List tr.totals {
}
table.List tr.totals td {
	border-top: 1px solid #6A00BE;
}
table.List tr td input {
    width: expression(this.type=="text" || this.type=="password"?'100%':'auto');
    float: none;
    vertical-align: top;
}
table.List tr td input[type="text"] {
    width: 100%;
    float: none;
    vertical-align: top;
}

/* Style for Tip Overlays */
.tipDiv {
	position:absolute;
	z-index:2;
	visibility: hidden;
	background-color: #ffffff;
	width: 250px;
	border: 1px solid;
}
.tipHead {
	background-color:#DED9C2;
	padding: 5px;
}
.tipText {
	padding: 5px;
}

select {
	font-size: 11px;
	margin: 0px;
	background-color: white;
	color: black;
}
input {
	margin: 0px;
	font-size: 10px;
	background-color: white;
	color: black;
}
.error {
	color: red;
	font-weight: bold;
}
input.text {
	width: 95%;
}
form {
	margin: 0px;
	padding: 0px;
}
fieldset {
	border: none;
    border-top: 1px solid #6A00BE;
}
fieldset legend {
	color: #6A00BE;
	font-weight: bold;
}

fieldset p {
	margin: 0px;
    margin-top: .4em;
	padding: 0px;
	padding-left: 240px;
	display: inline-block;
	overflow: hidden;
}
fieldset p:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html fieldset p {height: 1%;}
* fieldset p {display:block;}
/* End hide from IE-mac */


fieldset p label {
	display: inline-block;
    text-align: right;
    width: 235px;
	margin: 0px;
	margin-left: -240px;
	margin-bottom: .4em;
    vertical-align: top;
float: left;
outline: 0;
}
label.radio {
    width: auto;
	display: inline;
	float: none;
	margin: 0px;
}
p.buttons {
	float: right;
}
fieldset p.buttons {
    width: auto;
	margin-left: 240px;
    float: none;
	padding: 0px;
clear: none;
}
fieldset p .buttons {
    float: left;
}
fieldset p input {
    float: none;
    width: expression(this.type=="text" || this.type=="password"?'70%':'auto');
}
fieldset p input[type="text"], fieldset p input[type="password"]  {
    width: 70%;
    float: none;
    vertical-align: top;
}
fieldset p select {
    width: 70%;
}
fieldset p textarea {
    width: 70%;
}
fieldset p option {
    width: 70%;
}
fieldset.filters {
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}
fieldset.filters legend {
}
fieldset.filters p select {
	width: auto;
}
fieldset.filters p input[type="text"] {
	width: auto;
}

div.OrderHeader {
    float: left;
    width: 49%;
    margin-right: .5em;
}
div.OrderHeader fieldset {
	text-align: left;
}
div.OrderHeader fieldset p {
    text-align: right;
}
div.OrderHeader fieldset p label {
    font-weight: bold;
    margin-right: 10px;
    float: left;
    width: auto;
    text-align: left;
}
div.QuoteHeader {
    float: left;
    width: 32%;
    margin-right: .5em;
}
div.QuoteHeader fieldset p {
    text-align: right;
}
div.QuoteHeader fieldset p label {
    font-weight: bold;
    margin-right: 10px;
    float: left;
    width: auto;
    text-align: left;
}

hr {
    margin: 1px;
    padding: 0px;
    height: 1px;
    border: 0px;
	color: #6A00BE;
	background-color: #6A00BE;
}

.column {
	width: 48%;
	float: left;
}
.leftColumn {
	width: 48%;
	float: left;
}
.rightColumn {
	width: 48%;
	float: right;
}
.PageTitle {
	display: none;
}

.UserProfile label {
}
.CompanyProfile fieldset p {
	padding-left: 200px;
}
.CompanyProfile label {
	margin-left: -200px;
	width: 195px;
}
.CompanyProfile label.radio {
    width: auto;
	display: inline;
	float: none;
	margin: 0px;
}
.CompanyProfile p.buttons {
	margin-left: 200px;
	padding: 0px;
	float: none;
}
span.DateSelector {
    float: left;
	width: 220px;
}
.Currency {
	font-weight: bold;
	float: right;
}
ul.Testimonials {
}
ul.Testimonials li {
	margin-bottom: 10px;
	width: 100%;
}
ul.Testimonials li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html ul.Testimonials li {height: 1%;}
/* End hide from IE-mac */

div.Service span.ThreeColumns {
	width: 32%;
	float: left;
}
div.Service span.TwoColumns {
	width: 50%;
	float: left;
}
      body
      {
         margin: 0px;
         font-family: arial, helvetica, sans-serif;
         font-size: 12px;
         background-color: #a8a8a8;
      }
      div#header
      {
         
      }
      div#header_banner
      {
         background-image: url(/images/gradient_bg.gif);
         background-repeat: repeat-x;
         width: 100%;
         height: 104px;
         text-align: center;
         margin: 0px auto 0px auto;
      }
      div#logo
      {
         float: left;
         width: 251px;
         height: 104px;
      }
      div#contact_information
      {
         float: left;
         text-align: left;
         margin-right: 15px;
         margin-top: 15px;
         color: #7068b3;
      }
      div#currencies
      {
         float: left;
         margin-top: 4px;
      }
      div#nav_icons
      {
         float: right;
         padding-right: 20px;
      }
      div#menu
      {
         text-align: right;
         width: 761px;
         margin: -20px auto 0px auto;
         color: #11ff11;
      }
      div#main_content
      {
         width: 761px;
         margin: 0px auto 0px auto;
         background-color: #fff;
      }
      div#main_content_inner
      {
         padding-left: 6px;
         padding-right: 6px;
         background-color: #fff;
      }
      div#left_sidebar
      {
         float: left;
         width: 180px;
         margin-right: 4px;
      }
      div#main_page
      {
         float: left;
      }
      div#content_container
      {
         background-color: #fff;
         width: 761px;
         overflow: hidden;
         margin: 0px auto 0px auto;
      }
      a:link,
      a:visited,
      a:hover,
      a:active
      {
         text-decoration: none;
         color: #6400b5;
      }
      div#menu_links
      {
         padding-right: 10px;
      }
      div.top_shadow
      {
         background-image: url(/images/shadow_border/top.gif);
         background-repeat: repeat-x;
         background-color: #fff;
         height: 22px;
      }
      div.shadow_tl
      {
         float: left;
         background-image: url(/images/shadow_border/tl.gif);
         background-repeat: no-repeat;
         width: 26px;
         height: 22px;
      }
      div.shadow_tr
      {
         float: right;
         background-image: url(/images/shadow_border/tr.gif);
         background-repeat: no-repeat;
         width: 17px;
         height: 22px;
      }
      div.bottom_shadow
      {
         clear: left;
         background-image: url(/images/shadow_border/bottom.gif);
         background-repeat: repeat-x;
         background-color: #fff;
         height: 22px;
      }
      div.shadow_bl
      {
         float: left;
         background-image: url(/images/shadow_border/bl.gif);
         background-repeat: no-repeat;
         width: 26px;
         height: 22px;
      }
      div.shadow_br
      {
         float: right;
         background-image: url(/images/shadow_border/br.gif);
         background-repeat: no-repeat;
         width: 17px;
         height: 22px;
      }
      div#left_sidebar_content
      {
         background-image: url(/images/shadow_border/left_sidebar_bg.gif);
         background-repeat: repeat-y;
         padding-left: 20px;
      }
      div#left_sidebar_inner
      {
         text-align: left;
         width: 150px;
         margin: 0px auto 0px auto;
      }
      div#main_page
      {
         float: left;
         width: 565px;
      }
      div#main_page_inner
      {
         background-color: #fff;
         padding-top: 5px;
         padding-bottom: 5px;
         overflow: hidden;
      }
      div#main_page_content
      {
         background-image: url(/images/shadow_border/main_page_bg.gif);
         background-repeat: repeat-y;
         padding-left: 20px;
         padding-right: 15px;
      }
      div#choose_currencies_top
      {
         font-size: 12px;
         text-decoration: none;
         color: #7c6aba;
      }
      div#contact_information div
      {
         line-height: 1.1em;
      }
      .headline_medium
      {
         font-weight: bold;
         color: #6400b5;
      }

/* Instant pricing shadow border styles */
      div.instant_price_section_top_shadow
      {
         background-image: url(/images/instant_pricing/shadow_border/top.gif);
         background-repeat: repeat-x;
         background-color: #fff;
         height: 20px;
      }
      div.instant_price_section_shadow_tl
      {
         float: left;
         background-image: url(/images/instant_pricing/shadow_border/tl.gif);
         background-repeat: no-repeat;
         width: 21px;
         height: 20px;
      }
      div.instant_price_section_shadow_tr
      {
         float: right;
         background-image: url(/images/instant_pricing/shadow_border/tr.gif);
         background-repeat: no-repeat;
         width: 21px;
         height: 20px;
      }
      div#instant_price_section_content
      {
         background-image: url(/images/instant_pricing/shadow_border/main_background.gif);
         background-repeat: repeat-y;
         padding-left: 7px;
         padding-right: 7px;
      }
      div#instant_price_section_inner
      {
         background-color: #e4d9f2;
      }
      div.instant_price_section_bottom_shadow
      {
         clear: left;
         background-image: url(/images/instant_pricing/shadow_border/bottom.gif);
         background-repeat: repeat-x;
         background-color: #fff;
         height: 20px;
      }
      div.instant_price_section_shadow_bl
      {
         float: left;
         background-image: url(/images/instant_pricing/shadow_border/bl.gif);
         background-repeat: no-repeat;
         width: 21px;
         height: 20px;
      }
      div.instant_price_section_shadow_br
      {
         float: right;
         background-image: url(/images/instant_pricing/shadow_border/br.gif);
         background-repeat: no-repeat;
         width: 21px;
         height: 20px;
      }
      div#instant_price_section
      {
         float: right;
         width: 267px;
      }
      div#CalculateBtn
      {
         margin:0 auto; 
         text-align:center; 
         width: 95px;
		outline: 0;
      }
