html {
	height: 100%;
}
body {
	background-color: #C5C5C5;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	height: 100%;
}

.Header {
	margin: 0px;
	margin-top:10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid black;
}
.Header .Content {
	padding: 5px;
}
.Header A {
	background-color: #fafafa;
	text-decoration: none;
}
.Header IMG.Logo {
	height: 85px;
	border: none;
}
.Header p {
	margin: 0px;
	padding: 0px;
}
.Header p label {
	width: 40px;
	float: left;
	text-align: right;
}
#Content {
	height: auto;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid black;
	display: block;
	overflow: hidden;
}
@media screen {
	.Header {
		width: 785px;
		margin-left: auto;
		margin-right: auto;
	}
	#Content {
		width: 785px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media print {
	.Header {
		width: auto;
		height: 85px;
	}
	#Content {
		width: auto;
	}
}
@media print {
}
@media screen {
}
.PageTitle {
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 5px;
}
fieldset.SelectCustomer p {
	padding-left: 100px;
}
fieldset.SelectCustomer p label {
	width: 95px;
	margin-left: -100px;
}
div#lastLogins {
padding-top: .6em;
margin-top: .6em;
}
#QuickLogin {
    margin: 0px;
    padding: 0px;
    width: 150px;
}
#QuickLogin p {
    padding: 0px;
    padding-left: 55px;
    margin: 0px;
    vertical-align: top;
}
#QuickLogin p label {
    width: 50px;
    margin-left: -55px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
        color: black;
        font-size: x-small;
        font-weight: normal;
}
#QuickLogin p label.radio {
        width: auto;
        display: inline;
        float: none;
        margin: 0px;
        color: black;
        font-size: small;
}
#QuickLogin p input {
	width: 98%;
}

