<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/estimating.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/upload.css" type="text/css"/>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
        <script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body>
		<div class="Header">
			<!--#include virtual="/skins/<?SiteTitle?>/includes/header.html"-->
			<!--#include virtual="/skins/<?SiteTitle?>/includes/menu.html"-->
			<br class="spacer"/>
		</div><!-- Header -->
		<div id="Content">
			<div class="Content">
			<?PageContent?>
			</div>
		</div>
	</body>
</html>
