<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/menu.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css">
		<link rel="stylesheet" href="/css/employee.css" type="text/css">
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>

		<!-- calendar stylesheet -->
		<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar/calendar-win2k-cold-1.css" title="win2k-cold-1" />

		<!-- main calendar program -->
		<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>

		<!-- language for the calendar -->
		<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>

		<!-- the following script defines the Calendar.setup helper function, which makes
		adding a calendar a matter of 1 or 2 lines of code. -->
		<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>
<script type="text/javascript">
<!--
        var startList = function() {
            if (document.all && document.getElementById) {
                var navRoot = document.getElementById("menubar");
                if ( navRoot ) {
                    for ( var i=0; i<navRoot.childNodes.length; i+= 1 ) {
                        var node = navRoot.childNodes[i];
                        if (node.nodeName=="LI") {
                            node.onmouseover=function() {
                                this.className+=' over';
                            }
                            node.onmouseout=function() {
                                this.className=this.className.replace(' over', '');
                            }
                        } // end if
                    } // end for
                } // end if
            }
        }
        window.onload=startList;
-->
        </script>

		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body>
		<div id="content_container">
			<div id="header">
				<div id="header_banner">
					<div id="logo">
					 <img src="/images/topknotch_logo.gif" alt="Topknotch" />
					</div>
					<div id="nav_icons">
					 <a href="/"><img src="/images/home_icon.gif" alt="Home" /></a>
					 <? if ( $session{'user_id'} ) ?>
					 <a href="/account/logout.html"><img src="/images/logout_icon.gif" alt="Logout" /></a>
					 <? else ( $session{'user_id'} ) ?>
					 <a href="/account/login.html"><img src="/images/login_icon.gif" alt="Login" /></a>
					 <? endif ( $session{'user_id'} ) ?>
					</div>		 
				</div>
			</div>
			<!--#include virtual="/skins/<?SiteTitle?>/includes/employee_menu.html"-->
			<div id="main_content">
				<div id="main_content_inner">
					<div id="main_page">
							<div class="top_shadow">
							 <div class="shadow_tl"></div>
							 <div class="shadow_tr"></div>
							</div>
							<div id="main_page_content">
							 <div id="main_page_inner"><?PageContent?></div>
						</div>
						<div class="bottom_shadow">
							<div class="shadow_bl"></div>
							<div class="shadow_br"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
