<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Connor Technology</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="/css/common.css"/>
		<link type="text/css" rel="stylesheet" href="/css/handheld.css" media="handheld"/>
<? if ( $r->uri() =~ /\/administrator/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/administrator.css"/>
<? else ( $r->uri() =~ /\/administrator/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/main.css"/>
<? endif ( $r->uri() =~ /\/administrator/ ) ?>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/invoice/ ) ?>
		<link href="/css/invoice.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/invoice/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/print.css" media="print"/>
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
        <script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
        <script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
        <script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
        <script type="text/javascript" src="/javascripts/fastinit.js"></script>
        <script type="text/javascript" src="/javascripts/tablekit.js?version=1.2.1"></script>

		<script type="text/javascript">
<!--
		window.onload=setup_ie_menu;
-->
		</script>
	</head>
	<body>
		<div id="top">
			<div id="top-left">
				<div id="top-right">
				</div>
			</div>
		</div>
		<div id="middle">
			<div id="left">
			<div id="right">
			<div id="content"> 
			<div id="header"><a href="/"><img id="header-logo" src="/images/logo.gif" alt="Connor Technology Home" width="344" height="71"/></a>
				<div id="header-text" class="unprintable">
					We sell and support <a class="orange" href="http://www.connortechnology.com/home/products/intelligentquote.html/">Intelligent Quote</a>, a web based estimation and workflow package that is geared to increase productivity and revenue...
				</div>
			</div>
			<ul id="menubar" class="unprintable">
<? if ( $session{user_id} ) ?>
				<li id="Accounts" class="off"><a href="#">Accounts</a>
					<ul>
						<li><a href="/account/logout.html">Logout</a></li>
					</ul>
				</li>
				<li id="Accounting" class="off"><a href="#">Accounting</a>
					<ul>
						<li><a href="/timetrack/history.html">Timetracks</a></li>
						<li><a href="/invoice/history.html">Invoices</a></li>
						<li><a href="/payment/history.html">Payments</a></li>
						<li><a href="/paycheque/history.html">Paycheques</a></li>
						<li><a href="/employee/accounting/expenditures.html">Expenditures</a></li>
						<li><a href="/employee/accounting/ledger.html">Ledger</a></li>
					</ul>
				</li>
				<li id="Marketing" class="off"><a href="#">Sales</a>
					<ul>
						<li><a href="/main/quote/information.html">Current Quote</a></li>
						<li><a href="/main/quote/history.html">Quote History</a></li>
						<li><a href="/employee/marketing/email_campaigns.html">Email Campaigns</a></li>
						<li><a href="/employee/marketing/email_templates.html">Email Templates</a></li>
						<li><a href="/employee/marketing/categories.html">Categories</a></li>
						<li><a href="/employee/marketing/surveys.html">Surveys</a></li>
					</ul>
				</li>
<? if ( $session{'user_type'} eq 'A' ) ?>
				<li id="Pricing" class="off"><a href="#">Pricing</a>
					<ul>
						<li><a href="/administrator/services/edit.html">Services</a></li>
						<li><a href="/administrator/products/edit.html">Products</a></li>
						<li><a href="/administrator/production/pricelists.html">Pricelists</a></li>
					</ul>
				</li>
				<li id="Administrator" class="off"><a href="#">Administrator</a>
					<ul>
						<li><a href="/administrator/managerial/company_profiles.html">Companies</a></li>
						<li><a href="/administrator/managerial/user_profiles.html">Users</a></li>
						<li><a href="/administrator/managerial/configuration.html">Configuration</a></li>
						<li><a href="/administrator/managerial/currency.html">Currencies</a></li>
						<li><a href="/administrator/managerial/taxes.html">Taxes</a></li>
					</ul>
				</li>
<? endif ( $session{'user_type'} eq 'A' ) ?>
<? else ( $session{user_id} ) ?>
<li id="Login" class="off"><a href="/account/login.html">Login</a></li>
<? endif ( $session{user_id} ) ?>
				<li id="Services" class="off"><a href="/home/services/show.html">Services</a>
					<ul>
						<li><a href="/home/services/it_support.html">IT Support</a></li>
						<li><a href="/home/services/offsite_backups.html">Offsite Backups</a></li>
						<li><a href="/home/services/webhosting.html">Web Hosting</a></li>
						<li><a href="/home/services/webdesign.html">Website Design</a></li>
					</ul>
				</li>
				<li id="Products" class="off"><a href="/home/products/show.html">Products</a>
					<ul>
						<li><a href="/home/products/intelligentquote.html">IntelligentQuote</a></li>
						<li><a href="/home/products/servers.html">Servers</a></li>
					</ul>
				</li>
				<li id="Content" class="off"><a href="/home/contact.html">Contact</a>
				</li>
				<li style="width: auto;"><a style="width: auto;">&nbsp;</a></li>
			</ul>
			<div id="content2">
				<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
			</div>
		<div id="footer"><a href="/"><img id="bottom-logo" src="/images/bottom-logo.png" alt="Home" /></a></div>
			</div><!--content-->
			</div><!--right-->
</div><!--left-->
		</div>
		<div id="bottom-left">
			<div id="bottom-right">
				<div id="bottom">
				</div>
			</div>
		</div>
	</body>
</html>
