<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Connor Technology</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/common.css"/>
		<link type="text/css" rel="stylesheet" href="/css/handheld.css" media="handheld"/>
<? if ( $r->uri() =~ /\/administrator/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/administrator.css"/>
<? else ( $r->uri() =~ /\/administrator/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/main.css"/>
<? endif ( $r->uri() =~ /\/administrator/ ) ?>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/invoice/ ) ?>
		<link href="/css/invoice.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/invoice/ ) ?>
		<link type="text/css" rel="stylesheet" href="/css/print.css" media="print"/>
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
		<script type="text/javascript" src="/javascripts/fastinit.js"></script>
		<script type="text/javascript" src="/javascripts/tablekit.js?version=1.2.1"></script>

		<script type="text/javascript">
<!--
		window.onload=setup_ie_menu;
-->
		</script>
		<link href="/css/CT-NEW-CSS.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="content"> 
			<div id="header-holder">
				<div id="header">
					<a href="/index.html"><img id="logo1" src="/images/logo.png" alt="Logo"/><img src="/images/logo.gif" id="logo2" alt="Logo"/></a>
						<div id="contact" style="float:right; text-align:right">
						647.883.5483<br />
						<a href="mailto:info@connortechnology.com?Subject=Inquiry from Connortechnology.com">info@connortechnology.com</a>
						</div>
	
					<div id="menu">
						<ul id="menubar" class="menu unprintable">
						<? if ( $session{user_id} ) ?>
							<li id="Accounts" class="off"><a href="#">Accounts</a>
								<ul>
									<li><a href="/account/logout.html">Logout</a></li>
								</ul>
							</li>
							<li id="Accounting" class="off"><a href="#">Accounting</a>
								<ul>
									<li><a href="/timetrack/history.html">Timetracks</a></li>
									<li><a href="/invoice/history.html">Invoices</a></li>
									<li><a href="/payment/history.html">Payments</a></li>
									<li><a href="/paycheque/history.html">Paycheques</a></li>
									<li><a href="/employee/accounting/expenditures.html">Expenditures</a></li>
									<li><a href="/employee/accounting/ledger.html">Ledger</a></li>
								</ul>
							</li>
							<li id="Marketing" class="off"><a href="#">Sales</a>
								<ul>
									<li><a href="/main/quote/information.html">Current Quote</a></li>
									<li><a href="/main/quote/history.html">Quote History</a></li>
									<li><a href="/employee/marketing/email_campaigns.html">Email Campaigns</a></li>
									<li><a href="/employee/marketing/email_templates.html">Email Templates</a></li>
									<li><a href="/employee/marketing/categories.html">Categories</a></li>
									<li><a href="/employee/marketing/surveys.html">Surveys</a></li>
								</ul>
							</li>
<? if ( $session{'user_type'} eq 'A' ) ?>
			<li id="Pricing" class="off"><a href="#">Pricing</a>
				<ul>
					<li><a href="/administrator/services/edit.html">Services</a></li>
					<li><a href="/administrator/products/edit.html">Products</a></li>
					<li><a href="/administrator/production/pricelists.html">Pricelists</a></li>
				</ul>
			</li>
			<li id="Managerial" class="off"><a href="#">Managerial</a>
				<ul>
					<li><a href="/administrator/managerial/company_profiles.html">Companies</a></li>
					<li><a href="/administrator/managerial/user_profiles.html">Users</a></li>
				</ul>
			</li>
			<li id="Settings" class="off"><a href="#">Settings</a>
				<ul>
					<li><a href="/administrator/managerial/configuration.html">Configuration</a></li>
					<li><a href="/administrator/managerial/currency.html">Currencies</a></li>
					<li><a href="/administrator/managerial/taxes.html">Taxes</a></li>
				</ul>
			</li>
<? endif ( $session{'user_type'} eq 'A' ) ?>
						<? else ( $session{user_id} ) ?>
							<li id="Login" class="off"><a href="/account/login.html">Login</a></li>
						<? endif ( $session{user_id} ) ?>
						<li id="About" class="off"><a href="/home/about.html">About</a></li>
						<li id="Services" class="off"><a href="/home/services/show.html">Services</a>
							<ul>
								<li><a href="/home/services/it_support.html">IT Support</a></li>
								<li><a href="/home/services/offsite_backups.html">Offsite Backups</a></li>
								<li><a href="/home/services/webhosting.html">Web Hosting</a></li>
								<li><a href="/home/services/webdesign.html">Website Design</a></li>
							</ul>
						</li>
						<li id="Products" class="off"><a href="/home/products/show.html">Products</a>
							<ul>
								<li><a href="/home/products/intelligentquote.html">Intelligent Quote</a></li>
								<li><a href="/home/products/servers.html">Servers</a></li>
							</ul>
						</li>
						<li id="CaseStudies" class="off"><a href="/home/casestudies.html">Case Studies</a>
						</li>
						<li id="Careers" class="off"><a href="/home/careers.html">Careers</a>
						</li>				
						<li id="Content" class="off"><a href="/home/contact.html">Contact</a>
						</li>
					</ul>
				</div><!--menu-->
			 </div><!--header-->
		 </div><!--header-holder-->
	<!--Ind. Page Content is substituted in here -->
	<div id="content2">
		<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
	</div>
	<div id="footer">
		<div id="bluebar"></div>
		
<div id="footerbottom">
			<div id="summary">
				<h4>Connor Technology</h4>
				
				<p>Offering Custom Programming Solutions specifically for the print industry. Products like our web based <a href="../home/products/intelligentquote.html" title="Intelligent Quote Estimation Software" target="_self">Intelligent Quote</a> are designed and built to simplify the print production process, from estimation, quoting and ordering. Built to lower expenses, improve workflow and customer service. We also offer reliable <a href="../home/services/webhosting.html" title="Web Hosting" target="_self">Web Hosting</a>, <a href="../home/products/servers.html" title="Web, Mail and FTP Servers" target="_self">Web, Mail and FTP Servers</a>,<a href="../home/services/it_support.html" title="IT Support Services"> IT Support</a> and <a href="../home/services/webdesign.html" title="Modern Web Design" target="_self">Web Design</a>.</p>
				<p>
		 		&copy; Copyright 2010 Connor Technology. All Rights Reserved.
				</p>
			</div>
			
			<div id="sitemap">
				<h4>Site Map</h4>
				<ul>
				<li><a href="/index.html" title="Connor Technology, Programming Services For The Print Industry" target="_self">Home</a></li>
				<li><a href="/home/about.html" title="About Connor Technology, Programming For Print" target="_self">About</a></li>
				<li><a href="/home/contact.html" title="Contact Connor Technology" target="_self">Contact</a></li>
<? if ( $session{'user_id'} ) ?>
				<li><a href="/account/logout.html" title="Logout" target="_self">Logout</a></li>
<? else ( $session{'user_id'} ) ?>
				<li><a href="/account/login.html" title="Login" target="_self">Login</a></li>
<? endif ( $session{'user_id'} ) ?>
				<li><a href="/home/privacy_policy.html" title="Connor Technology Privacy Policy" target="_self">Privacy Policy</a></li>
				<li><a href="/home/terms.html" title="Connor Technology Terms Of Use" target="_self">Terms Of Use</a></li> 
                <li><a href="/home/sitemap.html" title="Connor Technology Site Map" target="_self">Site Map</a></li> 
				</ul>
			</div>
			
<div id="footer-services">
			<h4>Our Services</h4>
			<ul>
			<li><a href="/home/services/it_support.html" title="Connor Techniology IT Support" target="_self">IT Support</a></li>
			<li><a href="/home/services/offsite_backups.html" title="Connor Technology Offsite Backups" target="_self">Offsite Backups</a></li>
			<li><a href="/home/services/webdesign.html" title="Connor Technology Modern Web Design" target="_self">Web Design</a></li>
			<li><a href="/home/services/webhosting.html" title="Connor Technology Web Hosting Service" target="_self">Web Hosting</a></li>
			</ul>
			</div>

<div id="footer-products">
			<h4>Our Products</h4>
			<ul>
			<li><a href="/home/products/intelligentquote.html" title="Intelligent Quote Estimation, Ordering &amp; Quoting System" target="_self">Intelligent Quote</a></li>
			<li><a href="/home/products/servers.html" title="Connor technology Web Servers" target="_self">Web Servers</a></li>
			<li><a href="/home/products/servers.html" title="Connor Technology Mail Servers" target="_self">Mail Servers</a></li>
			<li><a href="/home/products/servers.html" title="Connor Technology FTP Servers" target="_self">FTP Servers</a></li>
			</ul>
		</div><!--footer-products-->
<div id="footer-logo" align="center"><a href="/index.html" target="_self"><img src="/images/logo-footer.gif" alt="Connor Technology specializes in programming solutions for the print industry" width="71" height="59" border="0" /></a></div>
			
			</div><!--footer-bottom-->
</div><!--footer-->
		</div><!--content-->
	</body>
</html>
