<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="mobileoptimized" content="240">

		<script type="text/javascript" src="/javascripts/barcode.js"></script>
<!--
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
-->
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<link href="/css/opera.css" rel="stylesheet" type="text/css"/>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body>
			<? echo (
				my @options = ('<a href="/handheld/index.html">HOME</a>');
				push @options, '<a href="/handheld/paper_inventory/index.html">Inventory</a>';
				return join('&raquo;',@options);
			) ?>
			<?PageContent?>
	</body>
</html>
