
div.row {
	p\osition: relative;
	clear: both;
	margin-bottom: 10px;
	padding: 1px;
}
div.row .required {
	width: 10px;
	float:left;
	height: 100%;
}
div.row .label {
	width: 180px;
	text-align: left;
	p\osition: relative;
	float:left;
}

div.row .input {
	text-align: left;
	float:left;
	p\osition: relative;
	vertical-align: top;
	padding: 5px;
}
div.row .buttons {
    margin-left: 180px;
	float: left;
	p\osition: relative;
	padding: 5px;
}

fieldset.leftColumn p input {
	width: 90%;
}
fieldset.leftColumn p select {
	width: 90%;
}
