a.buttonImageOff {
	text-decoration: none;
	background-color: #004EA2;
	border: none;
	color: #ffffff;
	padding: 0px;
	margin: 0px 2px 2px 5px;
	display: -moz-inline-box;
	display: inline-block;
	outline: 0;
	cursor: default;
}
a.buttonImageOn {
	text-decoration: none;
background-color: #004EA2;
	border: none;
	color: #FE0F0B;
	padding: 0px;
	margin: 0px 2px 2px 5px;
	display: -moz-inline-box;
	display: inline-block;
	outline:0;
	cursor: default;
}
a.buttonImageOn:hover {
	color: #FE0F0B;
	text-decoration: none;
}
a.buttonImageOn:active {
	color: #FE0F0B;
	text-decoration: none;
}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
display:none;
}
a.buttonImageOff .r {
display:none;
}
a.buttonImageOff .c {
	font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: x-small;
    background: none;
    cursor: default;
    display: -moz-inline-box;
    display: inline-block;
    float: none;
    margin: 0px;
    padding: 3px 10px 3px 10px;
    color: white;
}


a.buttonImageOn .l {
display:none;
}
a.buttonImageOn .r {
display:none;
}
a.buttonImageOn .c {
	font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: x-small;
    background: none;
    cursor: default;
    display: -moz-inline-box;
    display: inline-block;
    float: none;
    margin: 0px;
    padding: 3px 10px 3px 10px;
	color: #FE0F0B;
}
