a.buttonImageOff {
	text-decoration: none;
	background-color: #ffffff;
	border-top: 1px outset black;
	border-left: 1px outset black;
	border-right: 2px outset black;
	border-bottom: 2px outset black;
	color: #000000;
	padding: 0px;
	margin: 1px 0px 2px 4px;
	display: -moz-inline-box;
	display: inline-block;
	outline: 0;
	cursor: default;
}
a.buttonImageOn {
	text-decoration: none;
background-color: #ffffff;
	border-top: 1px outset black;
	border-left: 1px outset black;
	border-right: 2px outset black;
	border-bottom: 2px outset black;
	color: #000000;
	padding: 0px;
	margin: 1px 0px 2px 4px;
	display: -moz-inline-box;
	display: inline-block;
	outline:0;
	cursor: default;
}
a.buttonImageOn:hover {
	color: #EE232B;
	text-decoration: none;
}
a.buttonImageOn:active {
	color: #EE232B;
	text-decoration: none;
}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
display:none;
}
a.buttonImageOff .r {
display:none;
}
a.buttonImageOff .c {
	font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: x-small;
    background: none;
    cursor: default;
    display: -moz-inline-box;
    display: inline-block;
    float: none;
    margin: 0px;
    padding: 2px 8px 2px 8px;
    color: black;
}


a.buttonImageOn .l {
display:none;
}
a.buttonImageOn .r {
display:none;
}
a.buttonImageOn .c {
	font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: x-small;
    background: none;
    cursor: default;
    display: -moz-inline-box;
    display: inline-block;
    float: none;
    margin: 0px;
    padding: 2px 8px 2px 8px;
	color: #EE232B;
}
