.Footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	background-color:#DED9C2;
}
.Footer td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}



.spacer {
	clear: both;
}

div.Service div.templates {
    padding-right: 0px;
}
div.Service div.templates:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Service div.templates {height: 1%;}
* div.Service div.templates {display:block;}
/* End hide from IE-mac */

div.Service div.templates p {
	float: left;
	width: 135px;
	height: 130px;
	text-align: center;
	margin: 0px 5px 10px 5px;
	padding: 0px;
}
div.Service div.templates p label {
	clear: none;
	float: none;
	margin: 0px;
}
div.Service div.templates p img {
    clear: both;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.templateOption {
	float: left;
	width: 165px;
	height: 180px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.templateOption img {
	clear: both;
	width: 130px;
	height: 130px;
	margin-left: 10px;
	margin-right: 10px;
}


.left {
    position:absolute;
    width:110px;
    top:83px;
    left:0px;
    z-index: 1
}

div.Service div.row {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 330px;
	padding-bottom: 5px;
	clear: none;
	width: auto;
	display: inline-block;
}
div.Service div.row:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Service div.row {height: 1%;}
* div.Service div.row {display:block;}
/* End hide from IE-mac */

div.Service div.row span.label {
	width: auto;
	text-align: left;
	float: left;
	display:inline;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

div.Service div.row span.value {
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	width: 180px;
	text-align: left;
	float:left;
	p\osition: relative;
	clear: none;
}

div.Service div.row span.input {
	width: 320px;
	margin: 0px;
	margin-right: -330px;
	margin-bottom: -25px;
	text-align: left;
	float:right;
	height: 100%;
	padding: 5px;
	padding-bottom: 20px;
	background-color:#ddddff;
}

div.ProjectCreateEdit ul {
    list-style: none;
}
div.ProjectCreateEdit li {
    float: left;
    width: 200px;
}
div.ProjectCreateEdit ul:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.ProjectCreateEdit ul {height: 1%;}
/* End hide from IE-mac */

#QuickLogin, #CurrencySelection {
	float: right;
	margin: 0px;
	padding: 0px;
	width: 400px;
}
#QuickLogin p, #CurrencySelection p {
	padding: 0px;
	padding-left: 80px;
	margin: 0px;
    vertical-align: top;
	
}
#QuickLogin p label, #CurrencySelection p label {
	width: 75px;
	margin-left: -80px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
}
#QuickLogin p input, #CurrencySelection p input {
	margin: 0px;
	width: 65%;
	padding: 2px;
    vertical-align: top;
}
#QuickLogin p a.buttonImageOn, #QuickLogin p a.buttonImageOff, #CurrencySelection p a.buttonImageOn, #CurrencySelection p a.buttonImageOff {
	margin: 0px;
}

/* Menu Styles */

ul#menubar li#Home a {
	width: 50px;
}
ul#menubar li#Home {
	border-left: 1px solid white;
}
ul#menubar li#AboutUs a {
	width: 60px;
}
ul#menubar li#Account a {
	width: 95px;
}
ul#menubar li#Projects a {
	width: 95px;
}
ul#menubar li#Quotes a {
	width: 95px;
}
ul#menubar li#Orders a {
	width: 95px;
}
ul#menubar li#Support a {
	width: 60px;
}
ul#menubar li#Currency {
	padding-left: 10px;
	display: none;
}


#Certifications {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
}
#Certifications:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html #Certifications {height: 1%;}
* #Certifications {display:block;}
/* End hide from IE-mac */
#Certifications img {
	height: 55px;
	float: left;
}
ul#ServicesOffered {
	list-style: none;
}
ul#ServicesOffered:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html ul#ServicesOffered {height: 1%;}
* ul#ServicesOffered {display:block;}
/* End hide from IE-mac */
ul#ServicesOffered li {
	float: left;
	width: 25%;
	padding: 0px;
	margin: 0px;
}
ul#ServicesOffered li img {
	margin: 0px;
	padding: 0px;
	float: none;
}

ul#FAQ {
}
ul#FAQ li {
	font-weight: bold;
}
ul#FAQ li p {
	font-weight: normal;
}
.SidesTheSame {
top: -22px; left: 50px; position: relative; background: white; width: 110px;padding-left: 5px;
}
