/* Begin Menu Styles
 * */

ul#menubar {
	width:100%;
    left:0px;
	background-color: #194D98;
	list-style: none;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 12px;
    padding: 0px;
    z-index: 6000;
    min-width: 600px;
    display: block;
	border-top: 1px solid #ffffff;
}
@media print {
    .menubar {
        display: none;
    }
}


ul#menubar:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html ul#menubar {height: 1%;}
*     ul#menubar{display:block;}
/* End hide from IE-mac */
ul#menubar li {
    float: right;
    list-style: none;
    margin: 0px;
	padding: 0px;
	border: none;
    display: block;
    background-color: #194D98;
}

ul#menubar li a {
    color: #ffffff;
    display: block;
    width:85px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
    margin: 0px;
    overflow: hidden;
    text-align: left;
    outline: 0;
	border-right: 1px solid #ffffff;

}
ul#menubar li label {
    color: #ffffff;
	padding: 3px 0px 0px 0px;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
    margin: 0px;
}
ul#menubar li.off ul {
    /*put the subnavs below and hide them all*/
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
	border-top: 1px solid #ffffff;
}

ul#menubar li.on ul {
    /*display the current topic*/
    display: block;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
}

ul#menubar li.on a {
    /*change border color for active topic area*/
	color: #5a95d6; 
	background-color: #ffffff;
}

ul#menubar li ul li {
    background-color: #ffffff;
    border: 0;
    float: none;
    padding: 0px;
    margin:0px;
    list-style: none;
    text-align: center;
}

ul#menubar li.on ul li a, #menubar li.off ul li a {
    /*ie doesn't inherit the float*/
	background-color: #5a95d6;
    color: #134984;
    margin: -1px 0px 0px 0px;
	border-bottom: 1px solid white;
	border-top: 1px solid #ffffff;
}
ul#menubar li.on ul li a:hover, ul#menubar li.off ul li a:hover {
	background-color: #5a95d6;
    color: #FEE00F;
}

ul#menubar li.off:hover ul, ul#menubar li.over ul {
    /*  display the other topics when
 *   *              their parent is hovered */
    display: block;
    z-index: 6000;
}

#menubar li.off:hover a {
/*
    color: #5a95d6;
*/
    color: #ffffff;
}
#menubar li.off a:hover {
    color: #FEE00F;
}
#menubar li:hover a {
    color: #FEE00F;
}
#menubar li.over a {
    color: #FEE00F;
}

