.Footer {
	color: white;
	text-decoration: none;
	font-weight: normal;
	background-color:#194D98;
}
.Footer td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Footer a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

.SpecialColour {
	float: left;
	width: 100%;
}
.SpecialColour .checkOption {
	float: left;
	width: 100px;
}
.colourOption {
	float: left;
	width: 104px;
}
.Service div.templates {
    padding-right: 0px;
}
.Service div.templates:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.templates {height: 1%;}
/* End hide from IE-mac */


.Service div.templates p {
    float: left;
    width: 165px;
    height: 180px;
    text-align: center;
    margin: 0px 5px 10px 5px;
    padding: 0px;
}
.Service div.templates p label {
    clear: none;
    float: none;
    margin: 0px;
}
.Service div.templates p img {
    clear: both;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
}

.templateOption {
	float: left;
	width: 165px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.templateOption img {
	clear: both;
	width: 130px;
	height: 130px;
	margin-left: 10px;
	margin-right: 10px;
}


div.Service div.row {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 330px;
	padding-bottom: 5px;
	clear: none;
	width: auto;
}
div.Service div.row:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

div.Service div.row {display: inline-block;}

/* Hides from IE-mac \*/
* html div.Service div.row {height: 1%;}
div.Service div.row {display: block;}
/* End hide from IE-mac */
div.Service div.row span.label {
	width: auto;
	text-align: left;
float: left;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

div.Service div.row span.value {
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	width: 180px;
	text-align: left;
	float:left;
	p\osition: relative;
	clear: none;
}

div.Service div.row span.input {
	width: 320px;
	margin: 0px;
	margin-right: -330px;
	margin-bottom: -25px;
	text-align: left;
	float:right;
	height: 100%;
	padding: 5px;
	padding-bottom: 20px;
	background-color:#ded9c2;
}
div.Service fieldset {
padding-left: 2px;
padding-right: 2px;
}
div.Service fieldset p {
    padding-left: 105px;
}
div.Service fieldset p label {
    width: 100px;
    margin-left: -105px;
}
div.Service fieldset p label.radio {
    width: auto;
    float: none;
    margin: 0px;
}
div.Service fieldset p select, div.Service fieldset p input {
    width: auto;
}


div.ProjectCreateEdit ul {
    list-style: none;
}
div.ProjectCreateEdit li {
    float: left;
    width: 200px;
}
div.ProjectCreateEdit ul:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.ProjectCreateEdit ul {height: 1%;}
/* End hide from IE-mac */
div.Order fieldset p label {
	width: 30%;
}
div.OrderHistory fieldset p {
	padding-left: 100px;
}
div.OrderHistory fieldset p label {
	margin-left: -100px;
	width: 95px;
}

img#Butterfly, img#IDEAG7, img#IDEAG7Master {
	margin-top: 10px;
	width: 130px;
}

#QuickLogin {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 400px;
}
#QuickLogin p {
    padding: 0px;
    padding-left: 80px;
    margin: 0px;
    vertical-align: top;
}
#QuickLogin p label {
    width: 75px;
    margin-left: -80px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
	color: black;
	font-size: x-small;
	font-weight: normal;
}
#QuickLogin p label.radio {
	width: auto;
	display: inline;
	float: none;
	margin: 0px;
	color: black;
	font-size: small;
}

#CurrencySelection {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 470px;
}

#CurrencySelection p {
    padding: 0px;
    padding-left: 100px;
    margin: 0px;
    vertical-align: top;
}
#CurrencySelection p label {
    width: 95px;
    margin-left: -100px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
    color: black;
    font-size: small;
    font-weight: bold;
}
#QuickLogin p input, #CurrencySelection p input, #QuickLogin p select, #CurrencySelection p select {
    margin: 0px;
    width: 65%;
    vertical-align: top;
}
#QuickLogin p select, #CurrencySelection p select {
    padding: 0px;
}
#QuickLogin p a.buttonImageOn, #QuickLogin p a.buttonImageOff, #CurrencySelection p a.buttonImageOn, #CurrencySelection p a.buttonImageOff {
    margin: 0px;
}
#Specials {
	text-align: center;
}
#Specials h2 {
	margin-top: 0px;
}
img#HomeCollage {
	float: right;
}

#menubar li#MenuQuotes a, #menubar li#MenuOrders a, #menubar li#MenuProject a {
	width: 95px;
}
#menubar li#MenuAboutUs a {
	width: 60px;
}
#menubar li#MenuAccount a {
	width: 120px;
}
#AlertDiv {
	color: red;
}
ul#ProjectTypes {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#ProjectTypes li {
	margin-left: 0px;
	list-style: none;
	padding-left: 5px;
	text-align: left;
}
#ProjectTypes li.Category {
	background-color: #194D98;
	font-weight: bold;
	color: #fff;
}
#ProjectTypes A {
	color:#194D98;
	text-decoration: none;
}
#ProjectTypes a:hover {
	color:#FEE00F;
/*
	text-decoration: underline;
*/
}
