html {
}
body {
	color: #000000;
	padding: 10px;
}

#Header {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	width: 873px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
#Header .Content {
	padding: 5px;
}
#Header IMG.Logo {
	border: none;
	height: 80px;
	margin-left: 5px;
}
#Menu {
    width: 873px;
    margin-left: auto;
    margin-right: auto;
border-left: 1px solid black;
border-right: 1px solid black;
    float: none;
    display: block;
    padding: 0px;
}
#Menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html #Menu {height: 1%;}
* #Menu {display:block;}
/* End hide from IE-mac */

#Content {
    height: auto;
    padding: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    display: block;
    width: 873px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: none;
    overflow: hidden;
}

#Footer {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 873px;
        background-color: #ded9c2;
        font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    }

fieldset p {
    padding-left: 115px;
}
fieldset p label {
    margin-left: -115px;
    width: 110px;
}
fieldset p.buttons {
    margin: 0px;
    padding: 0px;
    margin-left: 115px;
    float: left;
}
label.radio {
	margin: 0px;
	width: auto;
	float: none;
} 

ul#menubar li#Account a {
	width: 55px;
}
ul#menubar li#Pricing a {
	width: 75px;
}
ul#menubar li#Paper a {
	width: 65px;
}
ul#menubar li#Managerial a {
	width: 95px;
}
ul#menubar li#Equipment a {
	width: 65px;
}
ul#menubar li#Reports a {
	width: 95px;
}
ul#menubar li#Setup a {
	width: 120px;
}

.Units {
    width: 90px;
    text-align: center;
}
.Cost {
    width: 90px;
    text-align: center;
}
.Markup {
    width: 80px;
    text-align: center;
}
td.Price {
    width: 90px;
    text-align: center;
}
.Discount {
    width: 100px;
    text-align: center;
}

    #Prices .Price .Add {
        float: left;
    }
    #Prices .Price .Min  {
        float: left;
        width: 10%;
        text-align: center;
    }
    #Prices .Price .Min input.text {
    }
    #Prices .Price .Max  {
        float: left;
        width: 10%;
        text-align: center;
    }
    #Prices .Price .Max input.text {
    }
    #Prices .Price .Units {
        float: left;
    }
    #Prices .Price .Cost {
        float: left;
    }
    #Prices .Price .Cost input.text {
        width: 90%;
    }
    #Prices .Price .Markup {
        float: left;
    }
    #Prices .Price .Markup input.text {
        width: 90%;
    }
    #Prices .Price .Price {
        float: left;
        width: 10%;
        text-align: center;
    }
    #Prices .Price .Price input.text {
        width: 90%;
    }
    #Prices .Price .Discount {
        float: left;
        width: 15%;
        text-align: center;
    }

