body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
}

hr {
	margin: 1px;
	padding: 0px;
	height: 1px;
	border: 0px;
	color: #800000;
	background-color: #800000;
}

img {
	border: none;
}

.colRow {
        background-color: #cccccc;
}   

.spacer {
	clear: both;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
.row .label {
	float: left;
	clear: left;
	width: 30%;
	margin: 0px;
	padding: 0px;
}
.row .input {
	float: left;
	margin: 0px;
	padding: 0px;
}
.row .fullinput {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 68%;
}
.row .buttons {
	margin-left: 100px;
	float: left;
}

fieldset {
	border: none;
    border-top: 1px solid #800000;
}
fieldset legend {
	color: #800000;
	font-weight: bold;
}
fieldset legend a {
	color: #800000;
	text-decoration: none;
}
fieldset p {
    margin: .5em;
	padding-left: 185px;
}
fieldset p:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html fieldset p {height: 1%;}
* fieldset p {display:block;}
/* End hide from IE-mac */


fieldset p label {
    width: 185px;
	margin-left: -185px;
    text-align: right;
    vertical-align: top;
	float: left;
}
fieldset p.buttons {
    padding-left: 185px;
}
fieldset p .buttons {
    margin-left: 185px;
	display: -moz-inline-box;
    display: inline-block;
    float: none;
}
fieldset p input {
    float: none;
    width: expression(this.type=="text"||this.type=="password"?'40%':'auto');
}
fieldset p input[type="text"], fieldset p input[type="password"]  {
    width: 60%;
    float: none;
    vertical-align: top;
}

fieldset.filters {
	width: auto;
}
fieldset.filters legend {
}
fieldset.filters p input {
	width: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table.List {
	border-bottom: 1px solid #990000;
}
table.List th {
	background-color: #ffffff;
	font-weight: bold;
	color: maroon;
	border-bottom: 1px solid maroon;
}
table.List td {
	padding-top: 1px;
}

table.List td A {
	text-decoration: none;
}
table.List tr.totals {
    border-top: 1px solid #800000;
}

/* Style for Tip Overlays */
.tipDiv {
	position:absolute;
	z-index:2;
	visibility: hidden;
	background-color: #ffffff;
	width: 250px;
	border: 1px solid;
}
.tipHead {
	background-color:#DED9C2;
	padding: 5px;
}
.tipText {
	padding: 5px;
}

select {
vertical-align: top;
	font-size: 11px;
	margin: 0px;
}
input {
	margin: 0px;
	font-size: 10px;
}
.error {
	color: red;
	font-weight: bold;
}
input.text {
	width: 95%;
}
form {
	margin: 0px;
	padding: 0px;
}

a {
	color: #800000;
	outline: 0;
}

label.radio {
	width: auto;
	margin: 0px;
	float: none;
} 

h1, h2, h3, h5 {
	color: maroon;
	margin-top: 0px;
}
.PageTitle {
	display: none;
}
span.DateSelector {
    float: left;
	width: 220px;
}
div.Service span.ThreeColumns {
	width: 32%;
	float: left;
}
div.Service span.TwoColumns {
	width: 50%;
	float: left;
}

div#NewDimensions {
	display: none;
}
