html {
}
body {
	color: #000000;
	padding: 10px;
min-width: 980px;

}

#Header {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
#Header .Content {
	padding: 5px;
}
#Header IMG.Logo {
	border: none;
	height: 80px;
	margin-left: 5px;
}

	#Footer {
		background-color: maroon;
		font-weight: bold;
	margin: 0px;
		color: white;
	} 
#Footer a {
	color: white;
}
@media print {
	.Menu {
		display: none;
	}
	#left_sidebar {
		display: none;
	}
}
img#Butterfly {
	width: 162px;
	margin-top: 10px;
}
#ProjectTypes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 162px;
}
#ProjectTypes ul {
	margin: 0px;
	padding: 0px;
}
#ProjectTypes li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	text-align: left;
}
#ProjectTypes li.Category {
	background-color: maroon;
	color: white;
	font-weight: bold;
	list-style: none;
	margin-left: 0px;
	padding-left: 5px;
}
#ProjectTypes A {
	color: #000000;
	text-decoration: none;
}
#ProjectTypes a:hover {
	text-decoration: underline;
}

.Estimate {
	font-size: 10px;
}
#Estimate A IMG {
	border: 1px solid black;
}
.CompanyProfile fieldset {
	float: left;
	width: 45%;
	margin-right: 5px;
}
.CompanyProfile legend {
	font-weight: bold;
}
.UserProfile fieldset {
	float: left;
	width: 45%;
	margin-right: 5px;
}
.UserProfile legend {
	font-weight: bold;
}
.Order {
	padding: 5px;
}
.Content {
	padding: 0px;
}
div.ProjectHeader {
}
div.ProjectHeader fieldset {
	width: auto;
}
div.ProjectHeader legend {
}
	div.ProjectHeader div.row {
		text-align: right;
		margin-bottom: 2px;
	}
	div.ProjectHeader div.Left {
		float: left;
		width: 45%;
	}
	div.ProjectHeader div.Right {
		float: right;
		width: 45%;
	}
	div.ProjectHeader div.row span.label {
		float: left;
		width: auto;
		p\osition: relative;
		font-weight: bold;
	}
	div.ProjectHeader div.row span.value {
		width: auto;
		text-align: left;
		p\osition: relative;
	}

.Service {
}
.Service div.row {
	width: 100%;
	p\osition: relative;
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.Service div.row .required {
	width: 10px;
	height: 100%;
	float:left;
	clear: left;
}
 .Service div.row .label {
	margin-left: 10px;
	width: auto;
	text-align: left;
	float: none;
	display:inline;
	line-height: 22px;
}

.Service div.row span.input {
	margin-left: 10px;
	width: 360px;
	text-align: left;
	float:right;
	p\osition: relative;
}
.PageTitle {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 5px;
}
#QuickLogin {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 300px;
}
#QuickLogin fieldset {
	margin: 0px;
}
#QuickLogin p {
    padding: 0px;
    padding-left: 60px;
    margin: 0px;
    vertical-align: top;
}
#QuickLogin p label {
    width: 55px;
    margin-left: -60px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
	color: black;
	font-size: x-small;
	font-weight: normal;
}
