<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/common-print.css" type="text/css" media="print"/>

		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.0"></script>

		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>
	<body>
		<div id="content_container">
			<div id="left_sidebar">
				<div class="shadow_top"><div class="shadow_tl"></div><div class="shadow_tr"></div></div>
				<div class="shadow_left"><div class="shadow_right">
				<div id="Categories"><h3>Categories</h3>
				<ul>
				<? echo (
					require openprint::Article_Category;
					my $html = '';
					foreach my $AC ( openprint::Article_Category::find('order'=>'position') ) {
						$html .= sprintf('<li><a href="/articles/list.html?category_id=%1$d">%2$s</a></li>', $AC->id(), ssi::htmlize( $AC->name() ) );
					} # end foreach
					return $html;
				) ?>
				</ul>
				</div>
				</div></div>
<? if ( ! $session{'user_id'} ) ?>
				<div class="shadow_bottom"><div class="shadow_bl"></div><div class="shadow_br"></div></div>
				<div class="shadow_top"><div class="shadow_tl"></div><div class="shadow_tr"></div></div>
				<div class="shadow_left"><div class="shadow_right">
					<form id="QuickLogin" name="QuickLoginForm" method="post" action="<?SecureSiteURL?>/main/account/login.html">
						<fieldset><legend>Quick Login</legend>
							<p><label>Email:</label><input type="text" name="email" id="email" onkeydown="if(event.keyCode == 13){checkLoginData( this, this.form.password );}"/></p>
							<p><label>Password:</label><input type="password" name="password" id="password" onkeydown="if(event.keyCode == 13){checkLoginData(this.form.email, this);}"/></p>
							<p>
								<label>Remember:</label>
								<input type="radio" id="rdbRememberMeY" name="rdbRememberMe" value="Y" />
								<label class="radio" for="rdbRememberMeY">Yes</label>
								<input type="radio" id="rdbRememberMeN" name="rdbRememberMe" value="N" checked="checked" />
								<label class="radio" for="rdbRememberMeN">No</label>
							</p>
							<? echo ( ssi::writeButton( $log, $dbh, 'QuickLoginButton','login.gif',"QuickLoginForm.btnFunction.value='Login';QuickLoginForm.submit();", '', 'Login' ) ) ?>
							<? echo ( ssi::writeButton( $log, $dbh, 'QuickRegistration','registration.gif','', '/main/account/registration.html', 'Register' );) ?>
						</fieldset>
						<input type="hidden" name="btnFunction" />
					</form>
				</div></div>
				<div class="shadow_bottom"><div class="shadow_bl"></div><div class="shadow_br"></div></div>
<? endif ( ! $session{'user_id'} ) ?>

			</div>
			<div id="main_page">
				<div class="shadow_top"><div class="shadow_tl"></div><div class="shadow_tr"></div></div>
				<div class="shadow_left">
				<div class="shadow_right">
					 <? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
				</div>
				</div>
				<div class="shadow_bottom"><div class="shadow_bl"></div><div class="shadow_br"></div></div>
			</div>
			&nbsp;
		</div>
	</body>
</html>
