@media screen {
	a.buttonOn {
		text-decoration: none;
		background-color: #ded9c2;
		color: #404171;
		border: 1px outset;
		padding: 1px;
		margin: 0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonOff {
		text-decoration: none;
		background-color: #687796;
		color: #ffffff;
		border: 1px outset;
		padding: 1px;
		margin:0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonImageOff {
		text-decoration: none;
		background-color: #ded9c2;
		font-size: 11px;
		border: 1px outset;
		color: #404171;
		padding: 2px 10px 2px 10px;
		margin: 1px 5px 1px 1px;
		display: -moz-inline-box;
		display: inline-block;
		vertical-align: top;
		outline:0;
	}
	a.buttonImageOff:hover {
		background-color: maroon;
		color: #ffffff;
		text-decoration: none;
	}
}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
	margin: 0px;
	padding: 0px;
}
a.buttonImageOff .r {
	margin: 0px;
	padding: 0px;
}
a.buttonImageOff .c {
	margin: 0px;
	padding: 0px;
	width: auto;
cursor: default;
}


a.buttonImageOff:hover .l {
}
a.buttonImageOff:hover .r {
}
a.buttonImageOff:hover .c {
	color: #ffffff;
	cursor: default;
}
