html {
}
body {
	color: #000000;
	padding: 10px;
}

#Header {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	width: 873px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
#Header .Content {
	padding: 5px;
}
#Header IMG.Logo {
	border: none;
	height: 80px;
	margin-left: 5px;
}
#Menu {
    width: 873px;
    margin-left: auto;
    margin-right: auto;
border-left: 1px solid black;
border-right: 1px solid black;
    float: none;
    display: block;
    padding: 0px;
}
#Menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html #Menu {height: 1%;}
* #Menu {display:block;}
/* End hide from IE-mac */

#Content {
    height: auto;
    padding: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    display: block;
    width: 873px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: none;
    overflow: hidden;
}

#Footer {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 873px;
        background-color: #ded9c2;
        font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    }

