body {
	background: none;
	
}
#Content {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	background: none;
}
#Header {
	background: none;
	height: auto;
}
#Header #Logo {
	background: none;
	color: #000000;
	float: none;
}
#Header #Logo a {
	background: none;
	color: #000000;
}
#Menu,.Menu {
display: none;
}
#QuickLogin, #DidYouKnow,#CurrencySelection {
display: none;
}
.unprintable {
	display: none;
}

.filters {
	display: none;
}

.colRow {
	background-color: #dddddd;
}
.Service div.templates {
	display: none;
}

