<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/tempstylesheet.css" type="text/css"/>
		<link rel="stylesheet" href="/css/common-print.css" type="text/css" media="print"/>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<style type="text/css">
div#main_content_inner {
         padding-left: 6px;
}
		</style>
	</head>
	<body>
		<div id="content_container">
         <div id="main_content">
            <div id="main_content_inner">
               <div id="main_page">
               <div id="main_page2">
                  <div class="top_shadow">
                     <div class="shadow_tl"></div>
                     <div class="shadow_tr"></div>
                  </div>
                  <div id="main_page_content">
                     <div id="main_page_inner">
                        <?PageContent?>
                     </div>
                  </div>
                  <div class="bottom_shadow">
                     <div class="shadow_bl"></div>
                     <div class="shadow_br"></div>
                  </div>
               </div>
               </div>
            </div>
         </div>
         &nbsp;
      </div>
	</body>
</html>
