<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="/css/main.css" type="text/css"/>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/common-print.css" type="text/css" media="print"/>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<? if ( $$variable{'uri'} =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/main\/project/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/main\/quote/ ) ?>
		<? if ( $$variable{'uri'} =~ /\/content\/prin/ ) ?>
               <script type="text/javascript" src="/javascripts/service.js?version=1.0"></script>
               <script type="text/javascript" src="/javascripts/proj/paper.js?version=1.0"></script>
               <script type="text/javascript" src="/javascripts/simpleprinting.js?version=1.1"></script>
		<link rel="stylesheet" href="/css/estimating.css" type="text/css"/>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? endif ( $$variable{'uri'} =~ /\/content\/prin/ ) ?>

		<script type="text/javascript" src="/javascripts/tips.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>

		<link rel="shortcut icon" href="/images/favicon.ico"/>
	</head>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div id="content_container">
			<? echo ( ssi::include( $config{'SkinPath'}.'/includes/header.html' ); ) ?>
			<div id="menu">
				<div id="menu_links">
				<? echo ( ssi::include( $config{'SkinPath'}.'/includes/menu.html' ); ) ?>
				</div>
			</div>
			<div id="main_content"><div id="main_content_inner">
				<? if ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
				<? else ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
				<div id="left_sidebar">
					<div class="top_shadow"><div class="shadow_tl"></div><div class="shadow_tr"></div></div>
					<div class="shadow_left"><div class="shadow_right">
					<? echo ( ssi::include( $config{'SkinPath'}.'/includes/project_types.html' ); ) ?>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_xclick"/>
						<input type="hidden" name="business" value="amin@topknotch.com"/>
						<input type="hidden" name="item_name" value="Topknotch Prep &amp; Print Funds Transfer"/>
						<input type="hidden" name="item_number" value="MSD-01"/>
						<input type="hidden" name="no_shipping" value="1"/>
						<input type="hidden" name="return" value="http://www.topknotch.com"/>
						<input type="hidden" name="no_note" value="1"/>
						<input type="hidden" name="currency_code" value="CAD"/>
						<input type="hidden" name="tax" value="0"/>
						<input type="hidden" name="bn" value="EZ Donate"/>
						<input type="image" width="100%" src="/images/paypal.gif" name="submit" alt="paypal image"/>
					</form>
					<img id="Butterfly" src="/images/Butterfly.png" alt="Butterfly"/>
					</div></div>
					<div class="bottom_shadow"><div class="shadow_bl"></div><div class="shadow_br"></div></div>
				</div>
				<? endif ( $$variable{'uri'} =~ /\/main\/order/ ) ?>
				<div class="top_shadow"><div class="shadow_tl"></div><div class="shadow_tr"></div></div>
				<div class="shadow_left"><div class="shadow_right">
				<div id="main_page"><div id="main_page_content">
				<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
				</div></div>
				</div></div>
				<div class="bottom_shadow"><div class="shadow_bl"></div><div class="shadow_br"></div></div>
			</div></div>
		</div>
	</body>
</html>
