<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css"/>
		<link href="/css/administrator.css" rel="stylesheet" type="text/css"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
        <script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
<script type="text/javascript">
<!--
        var startList = function() {
            if (document.all && document.getElementById) {
                var navRoot = document.getElementById("menubar");
                if ( navRoot ) {
                    for ( var i=0; i<navRoot.childNodes.length; i+= 1 ) {
                        var node = navRoot.childNodes[i];
                        if (node.nodeName=="LI") {
                            node.onmouseover=function() {
                                this.className+=' over';
                            }
                            node.onmouseout=function() {
                                this.className=this.className.replace(' over', '');
                            }
                        } // end if
                    } // end for
                } // end if
            }
        }
        window.onload=startList;
-->
        </script>

	</head>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div class="Content"> 
			<div id="Header">
				<img style="float: left; margin-right: 15px;" src="/images/logo.gif" alt="Topknotch Trade" />
			<? if ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
			<span style="float: right;"><? echo ( ssi::writeButton( $log, $dbh, 'GoEmployee', 'employee.gif', '', '/employee/', 'Employees' ); ) ?></span>
			<? endif ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
				<span style="float: right;"><? echo ( ssi::writeButton( $log, $dbh, 'GoCustomer', 'customer.gif', '', '/', 'Customer' ); ) ?></span>
			</div>
			<br/>
			<!--#include virtual="/includes/administrator_menu.html"-->
		<div class="ContentInner"> 
			<?PageContent?>
			<br class="spacer"/>
		</div><!--ContentInner-->
		</div><!--Content-->
	</body>
</html>
