<table width="600" border="0" cellspacing="0" cellpadding="0" cols="4">
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_vertical.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_horizontal.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_desk.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_flip.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarPortrait" onClick="selectProjectTemplate('f1');"/>
      <span class="smTbl">Portrait</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarHorizontal" onClick="selectProjectTemplate('f1');"/>
      <span class="smTbl">Horizontal</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarDesk" onClick="selectProjectTemplate('f1');"/> 
      <span class="smTbl">Desk Calendar</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarFlip" onClick="selectProjectTemplate('f1');"/> 
      <span class="smTbl">Flip Calendar</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_saddle_stitched.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_plastic_comb.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_hanger.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/calendars/calendar_zip_disk.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarSaddleStitched" onClick="selectProjectTemplate('f1');"/> 
      <span class="smTbl">Saddle Stiched</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarPlasticComb" onClick="selectProjectTemplate('f1');"/> 
      <span class="smTbl">Plastic Comb</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarHanger" onClick="selectProjectTemplate('f1');"/> 
      <span class="smTbl">Hanger Calendar</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CalendarFloppy" onClick="selectProjectTemplate('f1');"/>
      <span class="smTbl">Floppy Disk Calendar</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
