<table width="600" border="0" cellspacing="0" cellpadding="0" cols="4">
  <tr>
    <td width="150" align="center"><img src="/images/main/project_templates/postcards/postcard_vertical.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/postcards/postcard_horizontal.gif" width="130" height="130"></td>
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/8.5x11_half_fold.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/brochures/double_gatefolded.gif" width="130" height="130"></td>
  </tr>
  <tr>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CardPortrait" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeCardPortrait?> /> 
      <span class="smTbl">Portrait</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CardLandscape" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeCardLandscape?> /> 
      <span class="smTbl">Landscape</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="2PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType2PanelFold?> /> 
      <span class="smTbl">2 Panel</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="DoubleGateFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeDoubleGateFold?> /> 
      <span class="smTbl">Double Gate Fold</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr> 
    <td width="150" align="center"><img src="/images/main/project_templates/brochures/3_fold.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/brochures/4_fold.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/brochures/5_fold.gif" width="130" height="130"></td>
    <td align="center"> <img src="/images/main/project_templates/brochures/6_fold.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="3PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType3PanelFold?> /> 
      <span class="smTbl">3 Panel 
      <input type="radio" name="rdbTemplateType" value="3PanelZFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType3PanelZFold?> />
      3 Panel Z</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="4PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType4PanelFold?> /> 
      <span class="smTbl">4 Panel 
      <input type="radio" name="rdbTemplateType" value="4PanelZFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType4PanelZFold?> />
      <span class="smTbl">4 Panel</span> Z</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="5PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType5PanelFold?> /> 
      <span class="smTbl">5 Panel 
      <input type="radio" name="rdbTemplateType" value="5PanelZFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType5PanelZFold?> />
      <span class="smTbl">5 Panel </span>Z</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="6PanelFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType6PanelFold?> /> 
      <span class="smTbl">6 Panel 
      <input type="radio" name="rdbTemplateType" value="6PanelZFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateType6PanelZFold?> />
      <span class="smTbl">6 Panel</span> Z</span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
