<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="150" align="center"> <img src="/images/main/project_templates/business_cards/business_card_horizontal.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"> <img src="/images/main/project_templates/business_cards/business_card_vertical.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center">&nbsp;</td>
    <td width="150" align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CouponLandscape" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeCouponLandscape?> />
      Landscape</td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="CouponPortrait" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeCouponPortrait?> />
      Portrait</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
