<div class="templates">
	<? echo (
		my $html = '';
		my @templates = sql::execute( undef, undef, q{SELECT DISTINCT type FROM projecttemplate WHERE projecttype_id=? ORDER BY type}, $$variable{'Project'}->type_id() );
		if ( @templates == 1 ) {
			return sprintf('<input type="hidden" name="rdbTemplateType" value="%s"/>', $templates[0] );
		} elsif ( @templates == 0 ) {
			return '';
		} # end if
		$html .= misc::load_file( $log, $ENV{'DOCUMENT_ROOT'} . '/includes/main/proj/templates/project_template_select.html' );
		foreach my $template ( @templates ) {
			$html .= sprintf('<p><img src="/images/templates/%3$s/%1$s.gif" alt="%1$s"/><input type="radio" name="rdbTemplateType" id="rdbTemplateType%1$s" value="%1$s" onclick="selectProjectTemplate(this.form.name);" %2$s /><label for="rdbTemplateType%1$s">%1$s</label>', $template, $template eq $$variable{'rdbTemplateType'} ? ' checked="checked"' : '', $$variable{Project}->Type()->name() );
		} # end foreach
		return $html;
	) ?>
</div>
