<div class="templates">
<? echo (
	my $ProjectType = $$variable{Project}->Type();
	my %Templates = map { $_->type(), $_->name() } openprint::ProjectType_Template->find( projecttype_id=>$ProjectType->id(), order=>'name' );
	my @Templates = sort keys %Templates;

	if ( @Templates == 1 ) {
		return sprintf('<input type="hidden" name="rdbTemplateType" value="%s"/>', $Templates[0] );
	} elsif ( @Templates == 0 ) {
		return '';
	} # end if
	my $html .= include( '/includes/main/proj/templates/project_template_select.html' );
	foreach my $Template ( @Templates ) {
		if ( -f $config{SkinPath}.'/images/templates/'.$ProjectType->name().'/'.$Template.'.gif' ) {
			$html .= sprintf(q`<p onclick="$('rdbTemplateType%1$s').checked=true;selectProjectTemplate('f1');"><img src="/images/templates/%4$s/%1$s.gif" alt="%2$s"/><br/><input type="radio" name="rdbTemplateType" id="rdbTemplateType%1$s" value="%1$s" onclick="selectProjectTemplate(this.form.name);" %3$s/> <label for="rdbTemplateType%1$s">%2$s</label></p>`, $Template, $Templates{$Template}, checked( $Template eq $$variable{rdbTemplateType} ), $ProjectType->name() );
		} elsif ( -f $config{SkinPath}.'/images/templates/'.$Template.'.gif' ) {
			$html .= sprintf(q`<p onclick="$('rdbTemplateType%1$s').checked=true;selectProjectTemplate('f1');"><img src="/images/templates/%1$s.gif" alt="%2$s"/><br/><input type="radio" name="rdbTemplateType" id="rdbTemplateType%1$s" value="%1$s" onclick="selectProjectTemplate(this.form.name);" %3$s/> <label for="rdbTemplateType%1$s">%2$s</label></p>`, $Template, $Templates{$Template}, checked( $Template eq $$variable{rdbTemplateType} ) );
		} else {
			$log->error("No Project Template image for " . $config{SkinPath}.'/images/templates/'.$ProjectType->name().'/'.$Template.'.gif' );
			$html .= sprintf('<p><input type="radio" name="rdbTemplateType" id="rdbTemplateType%1$s" value="%1$s" onclick="selectProjectTemplate(this.form.name);" %2$s /> <label for="rdbTemplateType%1$s">%1$s</label></p>', $Template, checked( $Template eq $$variable{rdbTemplateType} ), $ProjectType->name() );
		} # end if
		$html .= "\n";
	} # end foreach
	return $html;
) ?>
</div>
