<div class="templates">
<p>
	<img src="/images/templates/Presentation%20Folders/2Panel1Pocket.gif"> 
	<input type="radio" id="rdbTemplateTypeSinglePocket" name="rdbTemplateType" value="2Panel1Pocket" onClick="set_rdb_value(this.form.rdbPanels, 2);this.form.chkPocketCenter.checked=false;selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq '2Panel1Pocket' ) ?> /> 
	<label for="rdbTemplateTypeSinglePocket">Single Pocket</label>
</p>
<p>
	<img src="/images/templates/Presentation%20Folders/2Panel2Pocket.gif"> 
	<input type="radio" id="rdbTemplateType2Panel2Pocket" name="rdbTemplateType" value="2Panel2Pocket" onClick="set_rdb_value(this.form.rdbPanels, 2);this.form.chkPocketCenter.checked=false;selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq '2Panel2Pocket' ) ?> /> 
	<label for="rdbTemplateType2Panel2Pocket">Double Pocket</label>
</p>
<p>
	<img src="/images/templates/Presentation%20Folders/2Panel2PocketGusset.gif"> 
	<input type="radio" id="rdbTemplateTypeDoublePocketGusset" name="rdbTemplateType" value="DoublePocketGusset" onClick="set_rdb_value(this.form.rdbPanels, 2);this.form.chkPocketCenter.checked=false;selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'DoublePocketGusset' ) ?> /> 
	<label for="rdbTemplateTypeDoublePocketGusset">Double Pocket With Gussets</label>
</p>
<p>
	<img src="/images/templates/Presentation%20Folders/3Panel2Pocket.gif">
	<input type="radio" id="rdbTemplateTypeTriFoldDoublePocket" name="rdbTemplateType" value="TriFoldDoublePocket" onClick="set_rdb_value(this.form.rdbPanels, 3);selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'TriFoldDoublePocket' ) ?> />
	<label for="rdbTemplateTypeTriFoldDoublePocket">TriFold Double Pocket</label>
</p>
<p>
	<img src="/images/templates/Presentation%20Folders/3Panel2PocketGusset.gif">
	<input type="radio" id="rdbTemplateTypeTriFoldDoublePocketGusset" name="rdbTemplateType" value="TriFoldDoublePocketGusset" onClick="set_rdb_value(this.form.rdbPanels, 3);selectProjectTemplate('f1');" <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq 'TriFoldDoublePocketGusset' ) ?> />
	<label for="rdbTemplateTypeTriFoldDoublePocketGusset">TriFold Double Pocket With Gussets</label>
</p>
<br class="spacer"/>
</div>

