<? eval ( 
	@{$$variable{'templates'}} = sql::execute( $log, $dbh, q{SELECT distinct type FROM projecttemplate WHERE projecttype_id=(SELECT lngIndex FROM project_types WHERE strid=?) ORDER BY type}, $$variable{'ProjectType'} );
	if ( @{$$variable{'templates'}} == 1 ) {
		$$variable{'rdbTemplateType'} = $$variable{'templates'}[0];
	} # end if
) ?>
<? if ( @{$$variable{'templates'}} > 1 ) ?>
	<!--#include virtual="/includes/main/proj/templates/project_template_select.html" -->
<div class="row">
<? echo (
	my $html;
	foreach my $type ( @{$$variable{'templates'}} ) {
		$html .= '<span class="templateOption">';
        $html .= qq{<img src="/images/main/project_templates/$$variable{'ProjectType'}/$type.gif" alt="$$variable{'ProjectType'}"/>};
        $html .= qq{<input type="radio" name="rdbTemplateType" value="$type" onClick="selectProjectTemplate(this.form.name);" } . ( $$variable{'rdbTemplateType'} eq $type ? 'checked="checked"' : '' ) . ' />';
        $html .= qq{<span class="smTbl">$type</span>};
		$html .= '</span>';
	} # end foreach
	return $html;
<br class="spacer"/>
) ?>
</div>
<? else ( @{$$variable{'templates'}} > 1 ) ?>
<input type="hidden" name="rdbTemplateType" value="<?rdbTemplateType?>"/>
<? endif ( @{$$variable{'templates'}} > 1 ) ?>
