<div class="templates">
    <span class="templateOption">
    <img src="/images/templates/2PanelFold.gif" alt="2 Panel Fold"/> 
      <input type="radio" id="rdbTemplateType4PageSignatureFold" name="rdbTemplateType" value="4PageSignatureFold"  <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq '4PageSignatureFold' or $$variable{'rdbTemplateType'} eq  '' ) ?> />
      <label for="rdbTemplateType4PageSignatureFold">2 Panel</label>
	</span>
    <span class="templateOption">
		<img src="/images/main/project_templates/brochures/single_gatefolded.gif" alt=""/> 
		<input type="radio" name="rdbTemplateType" value="SingleGateFold" onClick="" <?rdbTemplateTypeSingleGateFold?> /> 
		<label for="rdbTemplateTypeSingleGateFold">Single Gate Fold</label>
</span>
    <span class="templateOption">
<img src="/images/templates/DoubleGateFold.gif" alt="" />
    <input type="radio" id="rdbTemplateTypeDoubleGateFold" name="rdbTemplateType" value="DoubleGateFold" <?rdbTemplateTypeDoubleGateFold?> /> 
      <label for="rdbTemplateTypeDoubleGateFold">Double Gate Fold</label>
</span>
    <span class="templateOption">
    <img src="/images/main/project_templates/brochures/8.5x11_no_fold.gif" alt="" />
    <input type="radio" id="rdbTemplateTypeNoFold" name="rdbTemplateType" value="NoFold"  <?rdbTemplateTypeNoFold?> />
      <label for="rdbTemplateTypeNoFold">No Fold</label>
</span>
<br class="spacer"/>
</div>
