<div class="templates">
    <p>
    <img src="/images/templates/2PanelFold.gif" alt="2 Panel Fold"/> 
      <input type="radio" id="rdbTemplateType4PageSignatureFold" name="rdbTemplateType" value="4PageSignatureFold"  <? echo ( 'checked' if $$variable{'rdbTemplateType'} eq '4PageSignatureFold' or $$variable{'rdbTemplateType'} eq  '' ) ?> />
      <label for="rdbTemplateType4PageSignatureFold">2 Panel</label>
	</p>
    <p>
		<img src="/images/templates/SingleGateFold.gif" alt=""/> 
		<input type="radio" name="rdbTemplateType" value="SingleGateFold" <?rdbTemplateTypeSingleGateFold?> /> 
		<label for="rdbTemplateTypeSingleGateFold">Single Gate Fold</label>
	</p>
    <p>
		<img src="/images/templates/DoubleGateFold.gif" alt="" />
		<input type="radio" id="rdbTemplateTypeDoubleGateFold" name="rdbTemplateType" value="DoubleGateFold" <?rdbTemplateTypeDoubleGateFold?> /> 
		<label for="rdbTemplateTypeDoubleGateFold">Double Gate Fold</label>
	</p>
</div>
