<div class="templates">
    <p>
		<img src="/images/templates/2PanelFold.gif" alt="2 Panel Fold"/>
		<input type="radio" id="rdbTemplateType4PageSignatureFold<?Signature?>" name="rdbTemplateType<?Signature?>" value="4PageSignatureFold" onclick="$('PresentationFolderQuestions').hide();" <? echo ( ($$variable{'rdbTemplateType'.$$variable{'Signature'}} eq '4PageSignatureFold' or $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq  '' ) ? 'checked="checked"' : '' ) ?> />
		<label for="rdbTemplateType4PageSignatureFold<?Signature?>">2 Panel</label>
	</p>
    <p>
		<img src="/images/templates/SingleGateFold.gif" alt="Single Gate Fold"/> 
		<input type="radio" id="rdbTemplateTypeSingleGateFold<?Signature?>" name="rdbTemplateType<?Signature?>" value="SingleGateFold" onclick="$('PresentationFolderQuestions').hide();" <? echo ( $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq 'SingleGateFold' ? 'checked="checked"' : '' ) ?> /> 
		<label for="rdbTemplateTypeSingleGateFold<?Signature?>">Single Gate Fold</label>
	</p>
    <p>
		<img src="/images/templates/DoubleGateFold.gif" alt="Double Gate Fold" />
		<input type="radio" id="rdbTemplateTypeDoubleGateFold<?Signature?>" name="rdbTemplateType<?Signature?>" value="DoubleGateFold" onclick="$('PresentationFolderQuestions').hide();" <? echo ( $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq 'DoubleGateFold' ? 'checked="checked"' : '' ) ?> />
		<label for="rdbTemplateTypeDoubleGateFold<?Signature?>">Double Gate Fold</label>
	</p>
<? if ( openprint::ProjectType->find('strid'=>'PresentationFolders') ) ?>
	<p>
		<img src="/images/templates/PresentationFolders/2Panel1Pocket.gif"> 
		<input type="radio" id="rdbTemplateTypeSinglePocket<?Signature?>" name="rdbTemplateType<?Signature?>" value="2Panel1Pocket" onclick="$('PresentationFolderQuestions').show();$('rdbPanels2<?Signature?>').checked=true;$('chkPocketCenter<?Signature?>').checked=false;selectProjectTemplate('f1');" <? echo ( $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq '2Panel1Pocket' ? 'checked="checked"' : '' ) ?> /> 
		<label for="rdbTemplateTypeSinglePocket<?Signature?>">Single Pocket</label>
	</p>
	<p>
		<img src="/images/templates/PresentationFolders/2Panel2Pocket.gif"> 
		<input type="radio" id="rdbTemplateType2Panel2Pocket<?Signature?>" name="rdbTemplateType<?Signature?>" value="2Panel2Pocket" onclick="$('PresentationFolderQuestions').show();$('rdbPanels2<?Signature?>').checked=true;$('chkPocketCenter<?Signature?>').checked=false;$('chkPocketLeft<?Signature?>').checked=true;$('chkPocketRight<?Signature?>').checked=true;selectProjectTemplate('f1');" <? echo ( $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq '2Panel2Pocket' ? 'checked="checked"' : '' ) ?> /> 
		<label for="rdbTemplateType2Panel2Pocket<?Signature?>">Double Pocket</label>
	</p>
	<p>
		<img src="/images/templates/PresentationFolders/3Panel2Pocket.gif">
		<input type="radio" id="rdbTemplateTypeTriFoldDoublePocket<?Signature?>" name="rdbTemplateType<?Signature?>" value="TriFoldDoublePocket" onclick="$('PresentationFolderQuestions').show();$('rdbPanels3<?Signature?>').checked=true;selectProjectTemplate(this.form.name);" <? echo ( $$variable{'rdbTemplateType'.$$variable{'Signature'}} eq 'TriFoldDoublePocket' ? 'checked="checked"' : '' ) ?> />
		<label for="rdbTemplateTypeTriFoldDoublePocket<?Signature?>">TriFold Double Pocket</label>
	</p>
<? endif ( openprint::ProjectType->find('strid'=>'PresentationFolders') ) ?>
	<br class="spacer"/>
</div>
