
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="150" align="center"> <img src="/images/main/project_templates/business_cards/business_card_horizontal.gif" width="130" height="130"> 
    </td>
    <td align="center"> <img src="/images/main/project_templates/business_cards/business_card_vertical.gif" width="130" height="130"> 
    </td>
    <td width="150" align="center"> <img src="/images/main/project_templates/business_cards/business_card_horzontal_fold.gif" width="130" height="130"></td>
    <td width="150" align="center"> <img src="/images/main/project_templates/business_cards/business_card_vertical_fold.gif" width="130" height="130"></td>
  </tr>
  <tr> 
    <td align="center"> <input type="radio" name="rdbTemplateType" value="TagLandscape" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeTagHorizontal?> />
      <span class="smTbl">Landscape</span></td>
    <td align="center"> <input type="radio" name="rdbTemplateType" value="TagPortrait" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeTagVerticale?> />
      <span class="smTbl">Portrait</span></td>
    <td align="center"><input type="radio" name="rdbTemplateType" value="TagLandscapeFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeTagVerticalFold?> /> 
      <span class="smTbl">Landscape Fold </span> </td>
    <td align="center"> <span class="smTbl">
<input type="radio" name="rdbTemplateType" value="TagPortraitFold" onClick="selectProjectTemplate('f1');" <?rdbTemplateTypeTagHorizontalFold?> />
      <span class="smTbl">Portrait Fold</span></span></td>
  </tr>
  <tr> 
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
