@media screen {
	a.buttonOn {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		background-color: #D96A00;
		font-size: 11px;
		/*width: 85px;*/
		border: 1px outset;
		color: #404171;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin: 0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	a.buttonOff {
		background-color: #E5A11B;
		color: #ffffff;
		padding: 1px;
		margin:2px;
		
	}

	a.buttonImageOff {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-size: 11px;
		color: #ffffff;
		display: -moz-inline-box;
		display: inline-block;
		margin: 0px 0px 0px 5px;
		outline: 0;
		cursor: default;
		height: 20px;
		padding: 0px;
	}
	a.buttonImageOff:hover {
		color: #404171;
	}
}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}


a.buttonImageOff .l {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/left.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
margin: 0px;
}
a.buttonImageOff .r {
display: -moz-inline-box;
display: inline-block;
background: url(/images/buttons/right.gif) no-repeat;
width: 11px;
height: 20px;
cursor: default;
margin:0px;
}
a.buttonImageOff .c {
background: url(/images/buttons/center.gif) repeat-x top;
display: -moz-inline-box;
display: inline-block;
height: 17px;
font-size: 11px;
font-weight: bold;
color: #002260;
padding: 3px 0px 0px 0px;
cursor: default;
vertical-align: top;
margin: 0px;
width: auto;
}


a.buttonImageOff:hover .l {
}
a.buttonImageOff:hover .r {
}
a.buttonImageOff:hover .c {
}
