.InstantPricing {
    font-size: 12px;
    font-style: normal;
    color: #000000;
}
.InstantPricing img {
	border: 1px solid black;
	width: 150px;
}
.InstantPricing img#FoldType {
	display: none;
}
.InstantPricing select {
    font-size: 9px;
}

.InstantPricing #instant_price_section {
	color: black;
	font-weight: normal;
	width: 269px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.InstantPricing .Questions {
	padding: 5px;
}

.InstantPricing ul li label {
	width: auto;
	float: left;
	color: #000000;
	font-weight: bold;
	margin:0px;
}
.InstantPricing label.radio {
	float: none;
	font-weight: normal;
}

div#instant_price_section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div#instant_price_section ul li {
    text-align: right;
    padding:5px 0px 5px 0px;
    list-style: none;
}
div#instant_price_section .ProjectName input {
    width: 98%;
}


.InstantPricing h3 {
	margin: 0px;
}
.InstantPricing h1 {
	margin: 0px;
	
	color: #99000a;
	text-align:center;
        font-size: medium;
	line-height: auto;
}
.InstantPricing h2 {
	display: none;
}
.InstantPricing .Stock h2 {
	margin: 0px;
	display: block;
	font-size: small;
}
.InstantPricing .Prices {
	font-weight: normal;
	background-color: #ffffff;
	padding: 2px;
   text-align: center;
}
.InstantPricing .Prices input,  .InstantPricing #subtotal input {
	text-align: right;
}

.InstantPricing fieldset {
	padding: 0px;
	margin: 0px;
    border: none;
    width: 100%;
}
.InstantPricing fieldset legend {
display: none;				
}
.checkOption {
	float: left;
}
.importantNotice
{
   color: #99000a;
}
#Specials {
	width: 380px;
}
#steps {
	display: none;
}
#reference {
	width: 95%;
}
div#instant_price_section fieldset div.content ul li p {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

p.buttons {
	float: none;
	width: 100%;
	text-align: right;
}
