.InstantPricing {
    font-size: 12px;
    font-style: normal;
    color: #000000;
}
.InstantPricing img {
	border: 1px solid black;
	width: 150px;
}
.InstantPricing IMG#FoldType {
	width: 130px;
	height: 130px;
	display: none;
}
.InstantPricing select {
    font-size: 9px;
}

.InstantPricing #instant_price_section {
	color: black;
	font-weight: normal;
	width: 235px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.InstantPricing p {
	padding:5px;
}
.InstantPricing ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.InstantPricing ul li {
	text-align: right;
	list-style: none;
	padding:5px;
}
.InstantPricing ul li label {
	width: auto;
	float: left;
	color: #000000;
	font-weight: bold;
}
.InstantPricing label.radio {
	float: none;
	font-weight: normal;
}

.InstantPricing h3 {
	margin: 0px;
}
.InstantPricing h1 {
	margin: 0px;
	
	color: #99000a;
	text-align:center;
        font-size: medium;
	line-height: auto;
}
.InstantPricing h2 {
	display: none;
}
.InstantPricing .Stock h2 {
	margin: 0px;
	display: block;
	font-size: small;
}
.InstantPricing .Prices {
	font-weight: normal;
	background-color: #ffffff;
	padding: 2px;
}

.InstantPricing fieldset {
	padding: 0px;
    border: none;
    width: 100%;
}
.checkOption {
	float: left;
}
.importantNotice
{
   color: #99000a;
}
div.Prices
{
   text-align: center;
}
#Specials {
	width: 380px;
}
#steps {
	display: none;
}
#reference {
	width: 95%;
}
