
div.Order fieldset p {
	padding-left: 130px;
}
div.Order fieldset p label {
	width: 125px;
	margin-left: -130px;
}
div.Order fieldset p label.radio {
	width: auto;
	margin: 0px;
	padding: 0px;
	float: none;
}

div.Order fieldset p input {
    width: expression( (this.type=="text" || this.type=="password") ?'94%':'auto');
	margin: 0px;
}
div.Order fieldset p input[type="text"] {
	width: 95%;
}
div.Order fieldset p select {
	width: 95%;
}
div.Order fieldset p textarea {
	width: 95%;
}
div.OrderHeader {
	width: 100%;
    border-bottom: 1px solid #000088;
    margin-bottom: 5px;
}
div.OrderHeader:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.OrderHeader {height: 1%;}
* */* End hide from IE-mac */

div.OrderHeader fieldset {
	border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 0px;
    padding: 5px;
    width: 48%;
    text-align: left;
	float: left;
}

div.OrderHeader fieldset p {
	text-align: right;
	padding: 0px;
	margin: 0px;
}
div.OrderHeader fieldset p label {
	padding: 0px;
	margin: 0px;
	float: left;
	font-weight: bold;
	text-align: left;
	width: auto;
}
div.OrderHeader fieldset#OrderedBy {
	float: right;
}
div.Order #Totals {
	float: right;
	width: 250px;
}
.Order #Totals ul {
	list-style: none;
}
.Order #Totals ul li {
	padding-left: 100px;
	text-align: right;
}
.Order #Totals ul li label {
	margin-left: -100px;
	width: 95px;
} 

.Order #Totals ul li#Total {
	font-weight: bold;
}
.Order #AdminOptions {
	float: left;
}
.Order #AdminOptions ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
