div#Quote {
	text-align: left;
}
div#Quote .Header fieldset ul li {
    text-align: right;
	width: auto;
	padding: 0px;
}
div#Quote .Header fieldset ul li label {
    font-weight: bold;
    margin-right: 10px;
	margin-left: 0px;
    float: left;
    width: auto;
    text-align: left;
}
div#Quote .Header #PreparedBy, div#Quote .Header #PreparedFor, div#Quote .Header #Information {
	width: 33%;
	float: left;
	margin: 0px;
}
div#Quote .Header:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#Quote .Header {height: 1%;}
* div#Quote .Header {display:block;}
/* End hide from IE-mac */

div.QuoteInformation fieldset {
	padding: 0px;
	margin: 0px;
	font-size: 10px;
}
div.QuoteInformation fieldset ul li {
	padding-left: 100px;
}
div.QuoteInformation fieldset ul li label {
	width: 95px;
	margin-left: -100px;
}
div.QuoteInformation fieldset ul li label.radio {
	width: auto;
	margin:0px;
}
	
div.QuoteInformation fieldset ul li input {
    width: expression( (this.type=="text" || this.type=="password") ?'94%':'auto');
	margin: 0px;
}
div.QuoteInformation fieldset ul li input[type="text"] {
    width: 95%;
}
div.QuoteInformation fieldset ul li select {
    width: 97%;
}
div.QuoteInformation select#company_id, div.QuoteInformation select#user_id {
	width: 79%;
}
div#Quote table {
	font-size: 10px;
}
