<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?> - Employee</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
		<script type="text/javascript" src="/javascripts/window.js"></script>
		<script type="text/javascript" src="/javascripts/barcode.js"></script>
		<!-- calendar stylesheet -->
		<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar/calendar-win2k-cold-1.css" title="win2k-cold-1" />
		<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>
		<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>

		<link href="/css/common.css" rel="stylesheet" type="text/css" />
		<link href="/css/common-handheld.css" rel="stylesheet" type="text/css" media="handheld"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		<link href="/css/menu.css" rel="stylesheet" type="text/css" />
		<link href="/css/employee.css" rel="stylesheet" type="text/css" />
		<link href="/css/button.css" rel="stylesheet" type="text/css" />
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>
	<? eval (
		$openprint::session{'menu'} = $openprint::param{'menu'} if exists $openprint::param{'menu'};
		) ?>
	<? if ( ( ! exists $openprint::session{'menu'} ) or $openprint::session{'menu'} ) ?>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div id="Header">	
			<div id="Logo">
				<table><tr>
				<td><a href="/index.html"><img src="/images/header/logo.gif" alt="PointOne Graphics Inc"/></a></td>
				<td><a href="/index.html"><span id="PointOne">PointOne</span><br/><span id="GraphicsInc">GRAPHICS INC</span></a></td>
				</tr></table>
			</div>
			<div class="Menu">
					<ul id="menubar">
						<li class="off"><a href="/employee/index.html">HOME</a></li>
						<li id="AccountMenu" class="<? echo ( $r->uri() =~ /employee\/account/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('AccountMenu'), 'off', 'on');return false;">ACCOUNT</a>
							<ul>
<? if ( $openprint::session{'user_id'} ) ?>
								<li><a href="/employee/account/logout.html">&raquo; Logout</a></li>
								<li><a href="/employee/account/profile.html">&raquo; Profile</a></li>
<? else ( $openprint::session{'user_id'} ) ?>
								<li><a href="/employee/account/login.html">&raquo; Login</a></li>
<? endif ( $openprint::session{'user_id'} ) ?>
							</ul>
						</li>
<? if ( $openprint::session{'user_id'} ) ?>
						<li id="ProductionMenu" class="<? echo ( $r->uri() =~ /employee\/production/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('ProductionMenu'), 'off', 'on');return false;">PRODUCTION</a>
							<ul>
								<li><a href="/employee/production/projects.html;NOSSL">&raquo; Projects</a></li>
								<li><a href="/employee/production/barcode.html;NOSSL">&raquo; Barcode</a></li>
								<li><a href="/employee/production/print_overview.html;NOSSL">&raquo; Press Schedule</a></li>
<!--
								<li><a href="/employee/production/press_schedule.html;NOSSL">&raquo; New Press Schedule</a></li>
-->
								<? if ( openprint::usergroup::is_user_in( ['Scheduling'], $openprint::session{'user_id'} ) ) ?>
								<li><a href="/employee/production/duc_interface.html;NOSSL">&raquo; Set Schedule</a></li>
								<? endif ( openprint::usergroup::is_user_in( ['Scheduling'], $openprint::session{'user_id'} ) ) ?>
								<li><a href="/employee/production/bindery_overview.html;NOSSL">&raquo; Bindery Overview</a></li>
								<li><a href="/employee/production/bindery_schedule.html;NOSSL">&raquo; Bindery Schedule</a></li>
							</ul>
						</li>
						<? if ( openprint::usergroup::is_user_in( ['Marketing'], $openprint::session{'user_id'} ) ) ?>
						<li id="MarketingMenu" class="<? echo ( $r->uri() =~ /employee\/marketing/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('MarketingMenu'), 'off', 'on');return false;">MARKETING</a>
							<ul>
								<li><a href="/employee/marketing/categories.html;NOSSL">&raquo; Marketing Categories</a></li>
								<li><a href="/employee/marketing/email_campaigns.html;NOSSL">&raquo; Email Campaigns</a></li>
								<li><a href="/employee/marketing/surveys.html;NOSSL">&raquo; Surveys</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Marketing'], $openprint::session{'user_id'} ) ) ?>
						<? if ( openprint::usergroup::is_user_in( ['Sales','Reporting'], $openprint::session{'user_id'} ) ) ?>
						<li id="ReportsMenu" class="<? echo ( $r->uri() =~ /employee\/reports/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('ReportsMenu'), 'off', 'on');return false;">REPORTS</a>
							<ul>
								<li><a href="/employee/reports/project_history.html;NOSSL">&raquo; Project History</a></li>
								<li><a href="/employee/reports/order_history.html;NOSSL">&raquo; Order History</a></li>
								<? if ( openprint::usergroup::is_user_in( ['Reporting'], $openprint::session{'user_id'} ) ) ?>
								<li><a href="/employee/reports/efficiency.html;NOSSL">&raquo; Efficiency</a></li>
								<li><a href="/employee/reports/delivery.html;NOSSL">&raquo; Delivery</a></li>
								<li><a href="/employee/reports/turnaround.html;NOSSL">&raquo; Turnaround</a></li>
								<? endif ( openprint::usergroup::is_user_in( ['Reporting'], $openprint::session{'user_id'} ) ) ?>
								<li><a href="/employee/reports/prepress_overview.html;NOSSL">&raquo; Prepress Overview</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Sales','Reporting'], $openprint::session{'user_id'} ) ) ?>
						<? if ( openprint::usergroup::is_user_in( ['Accounting'], $openprint::session{'user_id'} ) ) ?>
						<li id="AccountingMenu" class="<? echo ( $r->uri() =~ /employee\/accounting/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('AccountingMenu'), 'off', 'on');return false;">ACCOUNTING</a>
							<ul>
								<li><a href="/employee/accounting/search.html;NOSSL">&raquo; Outstanding</a></li>
								<li><a href="/employee/accounting/credit.html;NOSSL">&raquo; Customer Credit</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Accounting'], $openprint::session{'user_id'} ) ) ?>
						<? if ( openprint::usergroup::is_user_in( ['Inventory'], $openprint::session{'user_id'} ) ) ?>
						<li id="InventoryMenu" class="<? echo ( $r->uri() =~ /employee\/inventory/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('InventoryMenu'), 'off', 'on');return false;">INVENTORY</a>
							<ul>
								<li><a href="/employee/inventory/purchase_orders.html;NOSSL">&raquo; Purchase Orders</a></li>
								<li><a href="/employee/inventory/available_paper.html;NOSSL">&raquo; Available Paper</a></li>
								<li><a href="/employee/inventory/paper.html;NOSSL">&raquo; Paper</a></li>
								<li><a href="/employee/inventory/skids.html;NOSSL">&raquo; Skids</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Inventory'], $openprint::session{'user_id'} ) ) ?>
						<li id="SupportMenu" class="<? echo ( $r->uri() =~ /employee\/support/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('SupportMenu'), 'off', 'on');return false;">SUPPORT</a>
							<ul>
								<li><a href="/employee/support/helpdesk_search.html;NOSSL">&raquo; Help Desk</a></li>
								<li><a href="/employee/support/returns.html;NOSSL">&raquo; Returns</a></li>
							</ul>
						</li>
<? endif ( $openprint::session{'user_id'} ) ?>
					</ul>
				</div><!-- Menu -->
			</div><!-- Header -->
		<div id="Content"> 
			<div id="ContentInner"> 
				<?PageContent?>
			</div>
		</div>
	</body>
	<? else ( ( ! exists $openprint::session{'menu'} ) or $openprint::session{'menu'} ) ?>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();" style="background-image: none; padding: 5px;">
			<div id="ContentInner"> 
				<?PageContent?>
			</div>
	</body>
	<? endif ( ( ! exists $openprint::session{'menu'} ) or $openprint::session{'menu'} ) ?>
</html>
