<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?> - Employee</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js?version=1.6.0.3"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js?version=1.8.2"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/buttons.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.2"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/popups.js?version=1.1"></script>
		<script type="text/javascript" src="/javascripts/fastinit.js"></script>
		<script type="text/javascript" src="/javascripts/tablekit.js?version=1.2.1"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<script type="text/javascript" src="/javascripts/barcode.js?version=1.2"></script>
		<!-- calendar stylesheet -->
		<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar/calendar-win2k-cold-1.css" title="win2k-cold-1" />
		<script type="text/javascript" src="/javascripts/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="/javascripts/jscalendar/lang/calendar-en.js"></script>
		<script type="text/javascript" src="/javascripts/jscalendar/calendar-setup.js"></script>

		<link href="/css/common.css?version=1.0" rel="stylesheet" type="text/css" />
		<link href="/css/common-handheld.css" rel="stylesheet" type="text/css" media="handheld"/>
		<link href="/css/common-print.css" rel="stylesheet" type="text/css" media="print"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		<link href="/css/menu.css" rel="stylesheet" type="text/css" />
		<link href="/css/employee.css?version=1.0" rel="stylesheet" type="text/css" />
		<link href="/css/button.css" rel="stylesheet" type="text/css" />
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>
		<? if ( $r->uri() =~ /purchase_order/ ) ?>
		<link href="/css/purchase_order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /purchase_order/ ) ?>
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>
	<? eval (
		$session{'menu'} = $openprint::param{'menu'} if exists $openprint::param{'menu'};
		) ?>
	<? if ( ( ! exists $session{'menu'} ) or $session{'menu'} ) ?>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div id="Header">	
			<div id="Logo">
				<table><tr>
				<td><a href="/index.html"><img src="/images/header/logo.gif" alt="PointOne Graphics Inc"/></a></td>
				<td><a href="/index.html"><span id="PointOne">PointOne</span><br/><span id="GraphicsInc">GRAPHICS INC</span></a></td>
				</tr></table>
			</div>
			<div id="CurrencySelection">
				Currently selected currency:
				<form name="SelectCurrency" action="<? echo ( misc::get_url( $r->uri(), \%openprint::param, { 'exclude'=>'select_currency_id'} ); ) ?>" method="post">
					<select name="select_currency_id" onchange="this.form.submit();">
					<? echo (
							ssi::make_drop_down( [ map { $_->id(), $_->name() } openprint::Currency::find( 'order'=>'lower(name)' ) ], $session{'Currency_id'} );
							) ?>
					</select>
				</form>
			</div>
			<div class="Menu">
					<ul id="menubar">
						<li class="off"><a href="/employee/index.html">HOME</a></li>
						<li id="AccountMenu" class="<? echo ( $r->uri() =~ /employee\/account/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('AccountMenu'), 'off', 'on');return false;">ACCOUNT</a>
							<ul>
<? if ( $session{'user_id'} ) ?>
								<li><a href="/employee/account/logout.html">&raquo; Logout</a></li>
								<li><a href="/employee/account/profile.html">&raquo; User Profiles</a></li>
<? else ( $session{'user_id'} ) ?>
								<li><a href="/employee/account/login.html">&raquo; Login</a></li>
<? endif ( $session{'user_id'} ) ?>
							</ul>
						</li>
<? if ( $session{'user_id'} ) ?>
						<li id="ProductionMenu" class="<? echo ( $r->uri() =~ /employee\/production/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('ProductionMenu'), 'off', 'on');return false;">PRODUCTION</a>
							<ul>
								<li><a href="/employee/production/projects.html;NOSSL">&raquo; Projects</a></li>
								<li><a href="/employee/production/barcode.html;NOSSL">&raquo; Barcode</a></li>
								<li><a href="/employee/production/print_overview.html;NOSSL">&raquo; Press Schedule</a></li>
								<li><a href="/employee/production/monthly_schedule.html;NOSSL">&raquo; Schedule Overview</a></li>
<!--
								<li><a href="/employee/production/press_schedule.html;NOSSL">&raquo; New Press Schedule</a></li>
-->
								<? if ( openprint::usergroup::is_user_in( ['Scheduling'], $session{'user_id'} ) ) ?>
								<li><a href="/employee/production/duc_interface.html;NOSSL">&raquo; Set Schedule</a></li>
								<? endif ( openprint::usergroup::is_user_in( ['Scheduling'], $session{'user_id'} ) ) ?>
								<li><a href="/employee/production/bindery_overview.html;NOSSL">&raquo; Bindery Overview</a></li>
								<li><a href="/employee/production/bindery_schedule.html;NOSSL">&raquo; Bindery Schedule</a></li>
							</ul>
						</li>
						<? if ( openprint::usergroup::is_user_in( ['Marketing'], $session{'user_id'} ) ) ?>
						<li id="MarketingMenu" class="<? echo ( $r->uri() =~ /employee\/marketing/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('MarketingMenu'), 'off', 'on');return false;">MARKETING</a>
							<ul>
								<li><a href="/employee/marketing/categories.html;NOSSL">&raquo; Marketing Categories</a></li>
								<li><a href="/employee/marketing/email_templates.html;NOSSL">&raquo; Email Templates</a></li>
								<li><a href="/employee/marketing/email_campaigns.html;NOSSL">&raquo; Email Campaigns</a></li>
								<li><a href="/employee/marketing/surveys.html;NOSSL">&raquo; Surveys</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Marketing'], $session{'user_id'} ) ) ?>
						<? if ( openprint::usergroup::is_user_in( ['Sales','Reporting'], $session{'user_id'} ) ) ?>
						<li id="ReportsMenu" class="<? echo ( $r->uri() =~ /employee\/reports/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('ReportsMenu'), 'off', 'on');return false;">REPORTS</a>
							<ul>
								<li><a href="/employee/reports/project_history.html;NOSSL">&raquo; Project History</a></li>
								<li><a href="/employee/reports/order_history.html;NOSSL">&raquo; Order History</a></li>
								<? if ( openprint::usergroup::is_user_in( ['Reporting'], $session{'user_id'} ) ) ?>
								<li><a href="/employee/reports/delivery.html;NOSSL">&raquo; Delivery</a></li>
								<li><a href="/employee/reports/turnaround.html;NOSSL">&raquo; Turnaround</a></li>
								<li><a href="/employee/reports/stock.html;NOSSL">&raquo; Stock</a></li>
								<li><a href="/employee/reports/prepress_productivity.html;NOSSL">&raquo; Prepress Productivity</a></li>
								<? endif ( openprint::usergroup::is_user_in( ['Reporting'], $session{'user_id'} ) ) ?>
								<li><a href="/employee/reports/prepress_overview.html;NOSSL">&raquo; Prepress Overview</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Sales','Reporting'], $session{'user_id'} ) ) ?>
						<? if ( openprint::usergroup::is_user_in( ['Accounting'], $session{'user_id'} ) ) ?>
						<li id="AccountingMenu" class="<? echo ( $r->uri() =~ /employee\/accounting/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('AccountingMenu'), 'off', 'on');return false;">ACCOUNTING</a>
							<ul>
								<li><a href="/employee/accounting/search.html;NOSSL">&raquo; Outstanding</a></li>
								<li><a href="/employee/accounting/credit.html;NOSSL">&raquo; Customer Credit</a></li>
								<li><a href="/employee/accounting/stock.html;NOSSL">&raquo; Stock</a></li>
							</ul>
						</li>
						<? endif ( openprint::usergroup::is_user_in( ['Accounting'], $session{'user_id'} ) ) ?>
						<li id="InventoryMenu" class="<? echo ( $r->uri() =~ /employee\/inventory/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('InventoryMenu'), 'off', 'on');return false;">INVENTORY</a>
							<ul>
								<li><a href="/employee/inventory/purchase_orders.html;NOSSL">&raquo; Purchase Orders</a></li>
								<li><a href="/employee/inventory/available_paper.html;NOSSL">&raquo; Available Paper</a></li>
								<li><a href="/employee/inventory/docket_labels.html;NOSSL">&raquo; Docket Labels</a></li>
								<li><a href="/employee/inventory/paper.html;NOSSL">&raquo; Paper</a></li>
								<li><a href="/employee/inventory/skids.html;NOSSL">&raquo; Skids/Rolls</a></li>
								<li><a href="/employee/inventory/rfidtags.html;NOSSL">&raquo; RFID Tags</a></li>
								<li><a href="/employee/inventory/rfidscanners.html;NOSSL">&raquo; RFID Scanners</a></li>
								<li><a href="/employee/inventory/manifest.html;NOSSL">&raquo; Update Inventory</a></li>
								<li><a href="/employee/inventory/manifests.html;NOSSL">&raquo; Manifests</a></li>
								<li><a href="/employee/inventory/inventory_log.html;NOSSL">&raquo; Inventory Log</a></li>
							</ul>
						</li>
						<li id="ISOMenu" class="<? echo ( $r->uri() =~ /employee\/iso/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('ISOMenu'), 'off', 'on');return false;">ISO</a>
							<ul>
								<li><a href="/employee/iso/pars.html;NOSSL">&raquo; Preventive Action Requests</a></li>
								<li><a href="/employee/iso/cars.html;NOSSL">&raquo; Corrective Action Requests</a></li>
							</ul>
						</li>
						<li id="SupportMenu" class="<? echo ( $r->uri() =~ /employee\/support/ ? 'on' : 'off' ) ?>"><a href="#" onclick="toggleMenu($('SupportMenu'), 'off', 'on');return false;">SUPPORT</a>
							<ul>
								<li><a href="/employee/support/helpdesk_search.html;NOSSL">&raquo; Help Desk</a></li>
								<li><a href="/employee/support/returns.html;NOSSL">&raquo; Returns</a></li>
							</ul>
						</li>
					<li class="off"><a href="#" onclick="bug_report_window();return false;">SEND BUG REPORT</a></li>
<? endif ( $session{'user_id'} ) ?>
					</ul>
				</div><!-- Menu -->
			</div><!-- Header -->
		<div id="Content"> 
			<div id="ContentInner"> 
				<?PageContent?>
			</div>
		</div>
	</body>
	<? else ( ( ! exists $session{'menu'} ) or $session{'menu'} ) ?>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();" style="background-image: none; padding: 5px;">
			<div id="ContentInner"> 
				<?PageContent?>
			</div>
	</body>
	<? endif ( ( ! exists $session{'menu'} ) or $session{'menu'} ) ?>
</html>
