<html>
	<head>
		<link rel="stylesheet" href="/css/button.css" type="text/css"/>
		<link rel="stylesheet" href="/css/common.css" type="text/css"/>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
	</head>
	<body>
	<?PageContent?>
	</body>
</html>
