body {
	font-size: xx-small;
}
fieldset p {
    padding-left: 115px;
}
fieldset p label {
    margin-left: -115px;
    width: 110px;
}
fieldset p.buttons {
    margin: 0px;
    padding: 0px;
    margin-left: 115px;
    float: left;
	width: auto;
}
label.radio {
	margin: 0px;
	width: auto;
	float: none;
} 

fieldset.leftColumn p input[type="text"], fieldset .leftColumn p input[type="text"] {
	width: 80%;
	font-size: xx-small;
}
fieldset.leftColumn p select, fieldset .leftColumn p select {
	width: 80%;
	font-size: xx-small;
}
.Add {
	width: 20px;
	text-align: center;
}
.Range  {
	width: auto;
	text-align: center;
}
table.List td input[type="text"] {
	width: 96%;
}
table.List tr td.Range input, table.List tr td.Range input[type="text"] {
	width: 40%;
}

table.List tr td.Units, table.List tr th.Units {
	width: 120px;
	text-align: center;
}
.Cost {
	width: 75px;
	text-align: center;
}
.Markup {
	width: 50px;
	text-align: center;
}
.Stock .Pricing table.List .Price {
	width: 75px;
}
table.List tr th.Discount, table.List tr td.Discount {
	width: 95px;
	text-align: center;
}

.Equipment {
	margin-bottom: 5px;
	background-color: #f1eee5;
	border: 1px solid;
}

#UserProfile ul {
    list-style: none;
	width: auto;
	float: left;
}
#UserProfile ul li {
    float: left;
    width: 200px;
}
#UserProfile ul:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html #UserProfile ul {height: 1%;}
* #UserProfile ul {display:block;}
/* End hide from IE-mac */
#Configuration fieldset p {
	padding-left: 405px;
}
#Configuration fieldset p label {
	width: 400px;
	margin-left: -405px;
}
#Configuration label.radio {
	width: auto;
	margin: 0px;
	padding: 0px;
}
	
#Configuration input[type="text"], #Configuration textarea, #Configuration select {
	width: 95%;
}
table.List td, table.List th, table.List td input {
	font-size: xx-small;
}
select {
	font-size: xx-small;
}
.Stock {
	width: 100%;
}
.Stock .Information {
	width: 100%;
}
.Stock .Recommendations {
	width: 100%;
}
.Stock .Recommendations ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.Stock .Recommendations ul li {
	float: left;
	width: 25%;
	margin: 0px;
	padding: 0px;
}
.Stock .Pricing {
}
.Stock .Pricing fieldset {
}
.Stock .Pricing .buttons {
	float: right;
}
.Stock .Pricing table.List th.buttons {
	width: 300px;
}
.Stock p.bladecleaning, .Stock p.scoring, .Stock p.perfecting, .Stock p.cuttable, .Stock p.doublesided, .Stock p.multipart, .Stock p.diescoring, .Stock p.digital {
	text-align: right;
	padding: 0px;
}
.Stock p.bladecleaning label, .Stock p.scoring label, .Stock p.perfecting label, .Stock p.cuttable label, .Stock p.doublesided label, .Stock p.multipart label, .Stock p.diescoring label, .Stock p.digital label {
	margin: 0px;
	width: 300px;
}
.FoldRunSpeed .buttons {
	width: 80px;
}
ul#logactions {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul#logactions:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html ul#logactions {height: 1%;}
* ul#logactions {display:block;}
/* End hide from IE-mac */
ul#logactions li {
	float: left;
	width: 175px;
}
