@media screen {
	a.buttonOn {
		text-decoration: none;
		border: none;
		color: #404171;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		margin: 0px;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
display: -moz-inline-box;
display: inline-block;
margin-right: 5px;
outline: 0;
	}

	a.buttonOff {
		background-color: #999999;
		color: #ffffff;
		padding: 1px;
		margin:2px;
display: -moz-inline-box;
display: inline-block;
margin-right: 5px;
outline: 0;
	}

	a.buttonImageOff {
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		padding: 0px;
		margin: 0px 0px 0px 5px;
display: -moz-inline-box;
display: inline-block;
outline: 0;
text-shadow: 1px 1px #333;
color: #FFF !important;
overflow: none;
	}
	a.buttonImageOff:hover {
		text-decoration: none;
	}

}
@media print {
	a.button {
		display: none;
	}
	a.buttonOff {
		display: none;
	}
	a.buttonOn {
		display: none;
	}
	a.buttonImageOff {
		display: none;
	}
	a.buttonImageOn {
		display: none;
	}
}

a.buttonImageOff .l {
	background: url(/images/btn-left.gif) no-repeat 0 0px;
	display: -moz-inline-box;
	display: inline-block;
	width: 4px;
	height: 31px;
	padding: 0px;
	margin: 0px;
}
a.buttonImageOff .r {
	background: url(/images/btn-right.gif) no-repeat 0 0px;
	display: -moz-inline-box;
	display: inline-block;
	width: 4px;
	height: 31px;
	padding: 0px;
	margin: 0px;
}
a.buttonImageOff .c {
	background: url(/images/btn-background.gif) repeat-x 0 0px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	height: 24px;
	padding: 7px 10px 0 10px;
	text-shadow: 1px 1px #333;
	margin: 0px;
	width: auto;
}
a.buttonImageOff:hover .c {
}

a.buttonImageOff:hover .l {
	background: url(/images/btn-left.gif) no-repeat 0 -31px;
}
a.buttonImageOff:hover .r {
	background: url(/images/btn-right.gif) no-repeat 0 -31px;
}
a.buttonImageOff:hover .c {
	background: url(/images/btn-background.gif) repeat-x 0 -31px;
}
a.rightarrow .c, a.rightarrow:hover .c, a.Complete .c, a.Complete:hover .c {
	padding: 7px 40px 0px 10px;
}
a.rightarrow .r, a.Complete .r {
	background: url(/images/btn-right-arrow.gif) no-repeat 0 0px;
	width: 25px;
}
a.rightarrow:hover .r, a.Complete:hover .r {
	background: url(/images/btn-right-arrow.gif) no-repeat 0 -31px;
	width: 25px;
}
a.leftarrow .c, a.leftarrow:hover .c, a.Back .c, a.Back:hover .c {
	padding: 7px 10px 0px 40px;
}
a.Back {
	float: left;
}
a.leftarrow .l, a.Back .l {
	background: url(/images/btn-left-arrow.gif) no-repeat 0 0px;
	width: 25px;
}
a.leftarrow:hover .l, a.Back:hover .l {
	background: url(/images/btn-left-arrow.gif) no-repeat 0 -31px;
	width: 25px;
}

a.Calculate .c, a.Calculate:hover .c {
	padding: 7px 40px 0px 10px;
}
a.Calculate .r {
	background: url(/images/btn-calculate.gif) no-repeat 0 0px;
	width: 25px;
}
a.Calculate:hover .r {
	background: url(/images/btn-calculate.gif) no-repeat 0 -31px;
	width: 25px;
}
