.InstantPricing {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}
.InstantPricing IMG {
	border: none;
	width: 150px;
}
.InstantPricing IMG#FoldType {
	display: none;
}
.InstantPricing select {
    font-size: 9px;
}

.InstantPricing .Questions {
	color: black;
	font-weight: normal;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
.InstantPricing .Questions p {
    text-align: right;
}
.InstantPricing .Questions p label {
	text-align: left;
	float: left;
}
.InstantPricing .Questions span.label {
	width: auto;
	float: left;
	color: #800000;
	font-weight: bold;
}
.InstantPricing .Questions span.input {
	width: auto;
	float: right;
}
.InstantPricing h3 {
	margin: 0px;
}
.InstantPricing .Questions h3 {
	background-color: #800000;
	color: #ffffff;
	text-align:center;
}
.InstantPricing .Prices {
	font-weight: normal;
	background-color: #ffffff;
	padding: 2px;
	text-align: center;
}

.checkOption {
	float: left;
}

div#instant_price_section {
float: right;
         width: 289px;

}
#Specials {
	width: 420px;
}
