.InstantPricing {
    font-size: small;
    font-style: normal;
    color: #000000;
	width: 100%;
}
.InstantPricing IMG {
	border: none;
	width: 150px;
}
.InstantPricing IMG#FoldType {
	display: none;
}
.InstantPricing select {
    font-size: x-small;
}

div#instant_price_section ul li {
    text-align: right;
}
div#instant_price_section ul li label.radio {
	float: none;
	width: auto;
	font-weight: normal;
	text-transform: none;
}

div#instant_price_section {
	width: 100%;
}
#Specials {
	width: 420px;
}
div#instant_price_section .ProjectSpecifications {
	background:#daf3fc;
}
div#instant_price_section .ProjectSpecifications h1 {
	background:#fff;
	padding-top: 20px;
	padding-bottom: 10px;
}
div#instant_price_section .Colours, 
div#instant_price_section .Stock, 
div#instant_price_section .Size, 
div#instant_price_section .Finishing,
div#instant_price_section .Production,
div#instant_price_section #Cover,
div#instant_price_section #Interior,
div#instant_price_section #AlertDiv
{
	width: 385px;
	margin: 0px;
	padding: 5px;
} 
div#instant_price_section .Size {
	float: left;
}
div#instant_price_section .Stock {
	float: left;
} 
div#instant_price_section .Colours {
	float: right;
} 
div#instant_price_section .Finishing {
	float: right;
} 
div#instant_price_section .Production {
	float: right;
} 
div#instant_price_section #Cover {
	float: right;
} 
div#instant_price_section #Interior {
	float: right;
} 
div#instant_price_section #AlertDiv {
	float: right;
} 
div#instant_price_section .ProjectName p {
	background: #07759f;
	margin: 0px;
	padding: 10px;
	color: #fff;
	font-size:x-small;
    overflow:auto;
	text-align: center;
	line-height: 12px;
}
div#instant_price_section .ProjectName h1 {
}
div#instant_price_section .ProjectName input {
	width: 75%;
	float: left;
}
div#instant_price_section h2 {
	font-size:medium;
	color: #07759f;
}
div#instant_price_section .Prices, div#instant_price_section.Delivery {
	background: #07759f;
	color: #fff;
	font-size:xx-small;
	margin-top: 5px;
}
div#instant_price_section .Prices ul, div#instant_price_section .Delivery ul {
	width: 50%;
	float: right;
	list-style: none;
	margin: 10px;
	padding: 0px;
	color: #fff;
}
div#instant_price_section .Prices ul li.unitprice {
	display: none;
}

div#instant_price_section .Prices ul li label {
	font-size: large;
}
