.InstantPricing {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}
.InstantPricing IMG {
	border: none;
	width: 150px;
}
.InstantPricing IMG#FoldType {
	display: none;
}
.InstantPricing select {
    font-size: 9px;
}

.InstantPricing .Questions {
	background-color: #ded9c2;
	border: 1px solid #B1B4BC;
	color: black;
	font-weight: normal;
	padding: 5px;
	float: right;
	width: 240px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.InstantPricing .Questions span.label {
	width: auto;
	float: left;
	color: #800000;
	font-weight: bold;
}
.InstantPricing .Questions span.input {
	width: auto;
	float: right;
}
.InstantPricing h3 {
	margin: 0px;
}
.InstantPricing .Questions h3 {
	background-color: #800000;
	color: #ffffff;
	text-align:center;
}
.InstantPricing .Prices {
	font-weight: normal;
	border: 1px inset #B1B4BC;
	background-color: #ffffff;
	padding: 2px;
}

.Questions fieldset {
	padding: 0px;
    border: none;
    width: 100%;
}
.checkOption {
	float: left;
}

div#instant_price_section {
float: right;
         width: 262px;

}
div.instant_price_section_top_shadow {
	display: none;
}
#Specials {
	width: 420px;
}
