/* --------------------------- STEPS --------------------------- */

#steps {
	width: 100%;
	height: 60px;
	margin: 0px 0px 30px 0px;
	padding: 0px;
	text-align:left;
	}
	
#steps ul {
	list-style: none;
	display: inline;
	padding: 0px;
	}


#steps li {
	display: inline;
	width: 176px;
	height: 37px;
	margin: 0px;
	text-align:left;
	float: left;
	font-size: 18px;
	font-weight: bold;
	padding: 13px 10px 10px 10px;
	color: #07759f;
	}

#steps li label {
	width: 100%;
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #606;
}
#steps li.step1 {
	background: url(/images/bg-step1.jpg) no-repeat 0px 0px;
	margin-right: 1px;
}
#steps li.step1 label {
	color: #00682a;
}
#steps li.step1on {
	background: url(/images/bg-step1.jpg) no-repeat 0px -60px;
	margin-right: 1px;
	color: #fff;
}
#steps li.step1on label {
	color: #c4e5f1;
}

#steps li.step1complete {
	background: url(/images/bg-step1.jpg) no-repeat 0px -120px;
	margin-right: 1px;
	color: #fff;
}
#steps li.step1complete label {
	color: #00682a;
}

#steps li.step2 {
	background: url(/images/bg-step2.jpg) no-repeat 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
}
#steps li.step2 label {
	color: #00682a;
}
#steps li.step2on {
	background: url(/images/bg-step2.jpg) no-repeat 0px -60px;
	margin-left: 1px;
	margin-right: 1px;
	color: #fff;
}
#steps li.step2on label {
	color: #c4e5f1;
}
#steps li.step2complete {
	background: url(/images/bg-step2.jpg) no-repeat 0px -120px;
	margin-left: 1px;
	margin-right: 1px;
	color: #fff;
}
#steps li.step2complete label {
	color: #00682a;
}

#steps li.step3 {
	background: url(/images/bg-step3.jpg) no-repeat 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
}
#steps li.step3on {
	background: url(/images/bg-step3.jpg) no-repeat 0px -60px;
	color: #fff;
	margin-left: 1px;
	margin-right: 1px;
}
#steps li.step3complete {
	background: url(/images/bg-step3.jpg) no-repeat 0px -120px;
	color: #fff;
}
#steps li.step3complete label {
	color: #00682a;
}

#steps li.step4 {
	background: url(/images/bg-step4.jpg) no-repeat 0px 0px;
	margin-left: 1px;
}
#steps li.step4on {
	background: url(/images/bg-step4.jpg) no-repeat 0px -60px;
	color: #fff;
	margin-left: 1px;
	margin-right: 1px;
}
#steps li.step4complete {
	background: url(/images/bg-step4.jpg) no-repeat 0px -120px;
	color: #fff;
}
#steps li.step3complete label {
	color: #00682a;
}
	
/* --------------------------- FORMS --------------------------- */

#full-light-blue {
	position: relative;
	background:#daf3fc;
	width: 770px;
	padding: 10px;
	margin: 0px;
	text-align: left;
	overflow:auto;
	}
	
#full-dark-blue {
	position: relative;
	background: #07759f;
	width: 770px;
	padding: 10px;
	margin: 0px;
	text-align: left;
	color:#FFF;
	overflow:auto;
	}
	
#full-dark-blue h1, #full-dark-blue h2, #full-dark-blue h3, #full-dark-blue h4, #full-dark-blue h5, #full-dark-blue h6 { color:#FFF; margin:0px; padding:0px; }

#full-dark-blue p { color:#FFF; padding:0px; line-height:14px; }
	
#full-dark-blue a:link { text-decoration:underline;	color:#e1c2e1; font-weight:bold; }

#full-purple {
	position: relative;
	background: #606;
	width: 770px;
	padding: 10px;
	margin: 0px;
	text-align: left;
	color:#FFF;
	overflow:auto;
	}
	
#full-purple h1, #full-purple h2, #full-purple h3, #full-purple h4, #full-purple h5, #full-purple h6, #full-purple p { 
	color:#FFF; margin:0px; padding:0px;
 }

.full-form-frame {
	position:relative;
	background:#FFF;
	border:1px solid #a0b5ca;
	width:768px;
	padding:0px;
	margin:0px;
	overflow:auto;
	}

.full-form {
	position:relative;
	width:768px;
	padding:0px;
	margin:0px;
	}

.full-form ul {
	position:relative;
	width:768px;
	list-style:none;
	padding:0px;
	margin:0px;
	overflow:auto;
	}

.full-form p {
	width:754px;
}
.half-form-frame { background:#FFF;	border:1px solid #a0b5ca; }

.half-form {
	position:relative;
	width:375px;
	padding:0px;
	margin:0px;
	}
.half-form p {
    text-align: right;
    padding:5px 7px 5px 7px;
	margin: 0px;
}

.half-form ul {
    overflow:auto;
	}


.full-form li, .half-form li {
    margin:0px;
    padding:5px 7px 5px 7px;
    list-style: none;
    text-align: right;
    overflow:auto;
    font-size:12px;
    line-height:16px;
    font-weight:normal;
    color:#000;
    }

#one-third-light-blue {
	position: relative;
	background:#daf3fc;
	width: 230px;
	padding: 10px;
	margin: 0px;
	text-align: left;
	overflow:auto;
	}

.one-third-form-frame { background:#FFF; border:1px solid #a0b5ca; }

#one-third-form {
	position:relative;
	width:230px;
	padding:0px;
	margin:0px;
	}

#one-third-form ul {
	position:relative;
	width:230px;
	padding:0px;
	margin:0px;
	list-style: none;
	overflow:auto;
	}

#one-third-form li {
	width:216px;
	margin:0px;
	padding:7px;
	list-style: none;
	text-align:left;
	overflow:auto;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
	color:#000;
	}

	
#service-form {
	position:relative;
	float:left;
	width:150px;
	padding:0px;
	margin:0px;
	font-weight:bold;
	}
	
#description-form {
	position:relative;
	width:450px;
	padding:0px;
	margin:0px;
	}
	
#description-form ul {
	position:relative;
	padding:0px;
	width:450px;
	margin:0px;
	overflow:auto;
	}

#description-form li {
	width:450px;
	margin:0px;
	padding:0px;
	text-align:left;
	overflow:auto;
	font-size:12px;
	line-height:16px;
	font-weight:normal;
	color:#000;
	}
	
#price-form {
	position:relative;
	float:right;
	width:130px;
	padding:0px;
	margin:0px;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	}
	
/* --------------------------- CLASSES --------------------------- */	
	
.large-text-field { width: 205px; margin:0px; padding:0px; }
.medium-text-field { width: 100px; margin:0px; padding:0px; }
.small-text-field { width: 40px; margin:0px; padding:0px; }
	
.large-drop-down { width: 210px; margin:0px; padding:0px; }
.small-drop-down { width: 50px; margin:0px; padding:0px;	}
.medium-drop-down {	width: 80px; margin:0px; padding:0px; }
	
.field-heading { font-weight: bold;	padding-top:4px; float:left; }
form label {
text-transform: uppercase;
font-weight: bold;	padding-top:4px; float:left;
}
label.radio {
    margin: 0px;
    width: auto;
    float: none;
}


.form-title { font-weight:bold; float: left; }
.blue-bg { background:#c4e5f1; }

.total { color: #FFF;	font-size: 20px; font-weight: bold; line-height: 24px; margin: 0px;	padding: 0px; float:right; }
.fine { color: #FFF; font-size: 10px; font-weight: normal; line-height: 12px; margin: 0px; padding: 0px; float:left; }
