html {
}
body {
	color: #000000;
	padding: 10px;
	min-width: 980px;
}

#Header {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
#Header .Content {
	padding: 5px;
}
#Header IMG.Logo {
	border: none;
	height: 80px;
	margin-left: 5px;
}

#Footer {
		background-color: maroon;
		font-weight: bold;
	margin: 0px;
margin-top: 10px;
		color: white;
	} 
#Footer a {
	color: white;
}
@media print {
	.Menu {
		display: none;
	}
	#left_sidebar {
		display: none;
	}
}
img#Butterfly {
	width: 160px;
	margin-top: 10px;
}

.CompanyProfile fieldset {
	float: left;
	width: 45%;
	margin-right: 5px;
}
.CompanyProfile legend {
	font-weight: bold;
}
.UserProfile fieldset {
	float: left;
	width: 45%;
	margin-right: 5px;
}
.UserProfile legend {
	font-weight: bold;
}
.PageTitle {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 5px;
}
#QuickLogin {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 300px;
}
#QuickLogin fieldset {
	margin: 0px;
}
#QuickLogin p {
    padding: 0px;
    padding-left: 60px;
    margin: 0px;
    vertical-align: top;
}
#QuickLogin p label {
    width: 55px;
    margin-left: -60px;
    text-align: right;
    float: left;
    overflow: visible;
    padding: 0px;
    vertical-align: top;
	color: black;
	font-size: x-small;
	font-weight: normal;
}
#QuickLogin p label.radio {
	float: none;
	width: auto;
	margin-left: 0px;
}
div.Registration form fieldset#Contact {
	width: 375px;
	float: left;
}
div.Registration form fieldset#Address {
	width: 375px;
	float: right;
}
div#Login {
	background-color:#daf3fc;
}
div#Login:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div#Login {height: 1%;}
* div#Login {display:block;}
/* End hide from IE-mac */

#Login fieldset.Register {
	float: right;
	width: 50%;
	border: none;
	padding: 20px 0px 0px 0px;
	margin: 0px;
}

#Login fieldset.Login {
	float: left;
	width: 50%;
	border: none;
	padding: 20px 0px 0px 0px;
	margin: 0px;
}
#Login fieldset legend {
	background:#daf3fc;
	color:#07759f;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 5px 0 -27px -8px;
    padding: 0px;
	width: 100%;
	display: block;
}
#Login fieldset div.body {
	text-align: left;
	margin:0px;
	padding: 0px;
	height: 180px;
}
