div#Content div.Content {
float: none;
width: auto;
padding: 5px;
}
div.Order fieldset li {
	padding-left: 130px;
}
div.Order fieldset li label {
	width: 125px;
	margin-left: -130px;
}
div.Order fieldset li label.radio {
	width: auto;
	margin: 0px;
	padding: 0px;
	float: none;
}

div.Order fieldset li input {
    width: expression( (this.type=="text" || this.type=="password") ?'94%':'auto');
	margin: 0px;
}
div.Order fieldset li input[type="text"] {
	width: 95%;
}
div.Order fieldset li select {
	width: 95%;
}
div.Order fieldset li textarea {
	width: 95%;
}
div.Order div.Header {
	width: 100%;
    margin-bottom: 5px;
}
div.Order div.Header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Order div.Header {height: 1%;}
* */* End hide from IE-mac */

div.OrderHeader fieldset {
	border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 0px;
    padding: 5px;
    width: 48%;
    text-align: left;
	float: left;
}

div.OrderHeader fieldset p {
	text-align: right;
	padding: 0px;
	margin: 0px;
}
div.OrderHeader fieldset p label {
	padding: 0px;
	margin: 0px;
	float: left;
	font-weight: bold;
	text-align: left;
	width: auto;
}
div#main_content_inner {
	padding: 0px;
}
div.OrderHistory fieldset p {
	padding-left: 90px;
}
div.OrderHistory fieldset p label {
	margin-left: -90px;
	width: 85px;
}
div.OrderHistory fieldset p input {
	vertical-align: top;
}
div.OrderHistory fieldset#JumpTo {
	float: left;
	width: 40%;
	padding: 0px;
	margin: 0px;
}
div.OrderHistory fieldset#Filter {
	float: right;
	width: 59%;
	padding: 0px;
	margin: 0px;
}
div.Order div.Header {
	background:#daf3fc;
}
div.Order div.Header:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Order div.Header {height: 1%;}
* div.Order div.Header {display:block;}
/* End hide from IE-mac */
div.Order div#ContactInformation {
	float:left;
	width: 50%;
}
div.Order div#ShippingInformation {
	float:right;
	width: 50%;
}
div.Order div#Contents {
	width: 100%;
}
div.Order div.Project {
	width: 100%;
}
div.Order div.Project:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Order div.Project {height: 1%;}
* div.Order div.Project {display:block;}
/* End hide from IE-mac */

div.Order div.Project fieldset {
	padding: 0px;
	margin: 0px;
}
div.Order fieldset legend {
	font-size:large;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}
div.Order div.Project fieldset legend {
	font-size:x-large;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
div.Order div.Header fieldset .content, div.Order div.Project fieldset .content {
	background:#daf3fc;
	padding: 10px;
}
div.Order div#AdminOptions {
	display: none;
}
div.Order div#Totals {
	float: right;
	width: 100%;
}
div.Order div#Totals ul li {
	font-weight: bold;
}
div.Order div#Totals ul li label {
	font-size: large;
	width: 73%;
	text-align: right;
}
div.Order div#Totals li#SubTotal {
	background: #07759f;
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	text-align: right;
	font-weight: bold;
} 
div.Order div#Totals li#Total {
	background: #606;
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	text-align: right;
	font-weight: bold;
}
div.Order div.Header #OrderInformation {
	float: left;
	width: 50%;
	margin: 0px;
	padding: 0px;
} 
div.Order div.Header #BillingInformation {
	float: right;
	width: 50%;
	margin: 0px;
	padding: 0px;
} 
