
#pb { margin: 14px auto 2px auto; padding: 3px; }
#pb a { color: #000; }
#pb a:hover { color: #aaa; }
#footer { color: #aaa; margin: 24px auto 4px auto; }
#filelist a:link { color: #507090; }
#filelist a:visited { color: #000; }
#filelist a:hover { color: #c00; }

#progMeterContainer { width: 700px;
margin: 15px auto; background: white; border: 1px solid #999; padding: 10px;
 }

#progMeterContainer #title { font-size: 200%; font-weight: bold; padding: 8px; }
#progMeterContainer #intro { text-align: justify; }
#progressMeter { padding-top: 10px; }
#progressMeterBar { margin: 2px auto; width: 350px; height: 20px; border: 1px inset; background: #eee; text-align: left; }
#progressMeterBarDone1 { width: 0; height: 20px; border-right: 1px solid #444; }
#progressMeterBarDone { width: 0; height: 20px; border-right: 1px solid #444; background: #507090; }
#progressMeter table { width: 350px; margin: 20px auto; text-align: right; border-collapse: collapse; border: 0; border-bottom: 1px solid #bbb;}
#progressMeter table td { border-top: 1px solid #bbb; text-align: center; }
#progressMeter #upload-row-1, #progressMeter #upload-row-3 { background: #e6e6e6; }
#progressMeter #upload-row-2, #progressMeter #upload-row-4 { background: #efefef; }
#transferRate { font-style: italic; }
td.headercell { font-weight: bold; }
		  #tca1,#tcb1,#tcc1,#tcd1 { width: 33%; }
		#tca2,#donef,#leftf,#totalf { display: none; }
		#tca3,#dones,#lefts,#totals { width: 34%; }
		#tca4,#donet,#leftt,#totalt { width: 33%; }
#filelist { text-align: left; border-collapse: collapse; margin: 2px auto; }
#filelist td { padding: 2px 14px; }
/* #filelist tr:hover { background: #e9e9e9; } */
#filelist .size, #filelist .delete { text-align: right; }

#setfilecount { margin: 28px 0 12px 0; }
#theuploadform { }
#filefields { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border: 1px solid #ccc; /* background: #e3e3e3; */ }
#filefields .even { background: #fff; }
#filefields .odd { /* background: #e3e3e3; */ }
.formfields { padding: 15px 0 10px 0; }
.formfields div { margin-bottom: 5px; }
#uploadbutton { margin: 14px 0 6px 0; }

#uploadCompleteMsg {
	display: none;
}
