form div.header {
	width: auto;
	height: auto;
	background: none;
}
.row {
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
	clear: both;
}
.row .label {
	width: 150px;
	text-align: right;
	margin: 5px;
	float: left;
	clear: left;
}
.row .input {
	margin: 5px;
	margin-left: 160px;
	width: auto;
	display: block;
	clear: right;
}
.row .buttons {
	margin: 5px;
	margin-left: 160px;
	width: auto;
	display: block;
	clear: right;
}
	
.PONum {
	float: left;
	width: 100px;
	clear: left;
}
.Date {
	float: left;
	width: 100px;
}

.Supplier {
	float: left;
}
.Status {
	float: right;
	width: 100px;
	clear: right;
}
.Total {
	float: right;
	width: 100px;
}
