/*
fieldset p {
	padding-left: 100px;
}
fieldset p label {
	width: 95px;
	margin-left: -100px;
}
*/
/* User Profile styles */
div#Configuration fieldset p {
	padding-left: 400px;
}
	
div#Configuration fieldset p label {
	width: 395px;
margin-left: -400px;
text-align: left;
}

div#UserProfile form fieldset p {
	padding-left: 200px;
}
div#UserProfile form fieldset p label {
	margin-left: -200px
	width: 295px;
}
div#UserProfile fieldset p.buttons {
}
div#UserProfile fieldset select {
}

div#Configuration fieldset p label.radio, fieldset p label.radio {
	width: auto;
	margin: 0px;
}
.Add {
	width: 20px;
	text-align: center;
}
.Range  {
	width: auto;
	text-align: center;
}
table.List tr td.Range input, table.List tr td.Range input[type="text"] {
	width: 40%;
}

.Units {
	width: 90px;
	text-align: center;
}
.Cost {
	width: 90px;
	text-align: center;
}
.Markup {
	width: 80px;
	text-align: center;
}
.Price {
	width: 90px;
	text-align: center;
}
.Discount {
	width: 95px;
	text-align: center;
}

.Equipment {
	margin-bottom: 5px;
	background-color: #f1eee5;
	border: 1px solid;
}

fieldset.Fold p {
	padding-left: 100px;
}
fieldset.Fold p label {
	width: 95px;
	margin-left: -100px;
}
fieldset.Fold p input {
	width: auto;
}
table tr .Boolean {
	width: 80px;
	text-align: left;
}
table tr .Name {
	width: 140px;
	text-align: left;
}
table tr .Email {
	width: 180px;
	text-align: left;
}
