.Claim .DateSelector {
	float: none;
}

@media screen {
.unprintable {
}
}
@media print {
	.unprintable {
		display: none;
	}
	div.Claim div.Dates {
		display: none;
	}
	body div#Header {
		display: none;
	}
}

.Claim {
	background-color: white;

}

.Claim table {
	border-top: 1px solid #3b5e91;
	table-layout: fixed;
}
.Claim table td {
	border: 1px solid #aebdd2;
	vertical-align: top;
}
.Claim table th {
	border: 1px solid #aebdd2;
	background-color: #e4ebf4;
}
	
.Claim table tr.total td, .Claim table tr.subtotal td, .Claim table tr.federaltax td, .Claim table tr.statetax td {
	text-align: right;
}
.Claim table td input {
	width: 96%;
	min-width:0px;
	margin: 0px;
	padding: 0px;
}
.Claim table td input.RollQTY {
	width: 60px;
} 
.Claim table .Cost {
	width: 150px;
}
.Claim table td.Price input {
	text-align: right;
}
.Claim table .RFID {
	width: 140px;
	text-align: left;
}
.Claim table .Skid {
	width: 70px;
	text-align: left;
}
.Claim table .Quantity {
	width: 75px;
}
.Claim table td.Quantity {
	text-align: right;
}
.Claim table td.Weight, .Claim table th.Weight {
	width: 120px;
}
.Claim table th.Weight {
	color: #e4ebf4;
}
.Claim table td.Weight input[type="text"] {
	width: 50px;
} 
.Claim table td.Cost input[type="text"] {
	width: 60px;
	text-align: right;
} 
.Claim table td textarea {
	width: 98%;
	min-width:0px;
	margin: 0px;
	padding: 0px;
	min-height: 0px;
}


div.Claim div.Header {
	display: block;
	position: relative;
	width: 100%;
	background-image: url(/images/bluegradient.png);
	background-repeat: repeat-x;
	vertical-align: top;
	border-top: 1px solid #3b5e91;
	padding-top: 5px;
}
div.Claim .Header:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .Claim .Header {height: 1%;}
* .Claim .Header {display: block;}
/* End hide from IE-mac */

div.Claim div.Header .Logo {
	margin: 7px;
	padding: 0px;
	color: black;
	width: 270px;
	background: none;
	float: left;
}
div.Claim .Header .Logo:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .Claim .Header  .Logo{height: 1%;}
* .Claim .Header  .Logo{display: block;}
/* End hide from IE-mac */

.Claim div.Header .Logo table {
	text-align: center;
	margin-left: auto;
	border: none;
	border-top: none;
}
.Claim .Header .Logo table td {
	border: none;
	vertical-align: top;
	padding: 1px;
}
.Claim .Header table.HeaderText {
}
.Claim .Header .Logo table.HeaderText td {
	font-size: 12px;
}

div.Claim .Header .Logo a {
	color: black;
	border: none;
}
div.Claim .Header .Logo a img {
	width: 100%;
}
div.Claim .Header .Logo .PointOne {
	border-bottom: none;
	font-family: Georgia, Times, serif;
	padding: 0px;
	margin: 0px; 
	font-size: 42px;
}
div.Claim .Header .Logo .GraphicsInc {
	padding: 0px;
	margin: 0px; 
	font-size:24px;
}
div.Claim .Header .PageTitle {
	margin: 0px;
	float: right;
	width: 230px;
}
div.Claim .Header .PageTitle h1 {
	font-size:24px;
	color: #3b5e91;
} 
div.Claim #Contents {
	margin-top: 20px;
}
div.Claim .Information {
	padding: 5px;
}
div.Claim .Information:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .Claim .Information {height: 1%;}
* .Claim .Information {display: block;}
/* End hide from IE-mac */
div.Claim .Vendor {
	width: 50%;
	float: left;
}
div.Claim .Sender {
	width: 50%;
	float: right;
	margin-bottom: 5px;
}
div.Claim .Dates {
	width: 50%;
	float: right;
}
div.Claim .Dates p, div.Claim .Sender p {
	margin: 0px;
	padding: 0px;
}
fieldset p {
    margin: 0px;
    margin-top: .4em;
    display: inline-block;
    padding: 0px;
    padding-left: 170px;
    overflow: hidden;
}

fieldset p:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html fieldset p {height: 1%;}
* fieldset p {display: block;}
/* End hide from IE-mac */

label {
	text-transform: uppercase;
outline: 0;
}

fieldset p label {
    width: 165px;
    text-align: right;
    margin-left: -170px;
    vertical-align: top;
    float: left;
    overflow: visible;
}

td p {
    padding: 0px;
}
td p label {
    width: auto;
    margin-left: 0px;
}

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

p.buttons {
text-align: right;
width: 100%;
margin: 0px;
padding: 0px;
float: none;
}
p.buttons:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html p.buttons {height: 1%;}
* p.buttons {display: block;}
/* End hide from IE-mac */
div.Claim .Disclaimer {
	font-weight: bold;
	font-size: small;
	padding: 5px;
}
