
#Content {
	top: 0px;
	p\osition: relative;
	background-color: #DEDCB7;
	color: #22275E;
	height: 100%;
	margin: 0px;
	margin-left: 190px;
	padding: 10px;
	padding-top: 0px;

}
#Content:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}
/* Hides from IE-mac \*/
* html #Content {height: 1%;}
* #Content {display: block;}
/* End hide from IE-mac */

#ContentInner {
	padding: 0px;
	padding-top: 10px;
	margin: 0px;
	width: 100%;
}
html {
	height: 100%;
}

body { 	
	padding: 0px;
	margin: 0px;
	background-color: #DEDCB7;
	background-image: none;
	font-size: small;
	font-family: Arial, Helvetica, Sans-Serif;
	background-image: url(/images/brown_slant.png);
	background-repeat: repeat-y;
	min-width: 880px;
	max-width: 1280px;
}
input, select, textarea {
	color: black;
	font-size: small;
	padding: 1px;
	color: black;
}
input {
}

body #Header {
	position: absolute;
	top:0px;
	left: 0px;
	width: 190px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}
	
body #Header #Logo {
	background-color: #22275E;
	padding: 7px;
	color: white;
}
body #Header #Logo table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#Header #Logo a {
	color: white;
}
#Header #Logo #PointOne {
	border-bottom: 1px solid white;
	font-family: Georgia, Times, serif;
	padding: 0px;
	margin: 0px; 
	font-size: 26px;
}
#Header #Logo #GraphicsInc {
padding: 0px;
 margin: 0px; 
font-size:16px;
}
div#Header .Logo hr {
	margin: 0px;
	padding: 0px;
	height: 1px;
	border: 0px;
	color: #ffffff;
	background-color: #ffffff;
}

a {
  text-decoration : none;
} 
a:link { color: #000066;  }                             /* normal text links */
a:active { color: #000066;   }
a:visited { color:#333399;   }
a:hover { color: #6666CC;   }


.spacer {
	height: 0px;
	clear: both;
}

form {
	margin: 0px;
}

.hiddenPic {
	display: none;
}
table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.List {
	border-bottom: 1px solid #000088;
	table-layout: fixed;
}
table.List th {
	border: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #000088;
	background: transparent;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
table.List td {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	margin: 0px;
}
table.List tr.totals {
}
table.List tr.totals td {
	border-top: 1px solid #000088;
}

table.List input {
	width: expression(this.type=="text" || this.type=="password" ?'97%':'auto');
}
table.List input[type=text] {
	width: 97%;
}


fieldset {
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-top: 1px solid #000088;
	padding: 2px;
	margin: 0px;
	padding-bottom: 10px;
}
fieldset:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}
/* Hides from IE-mac \*/
* html fieldset {height: 1%;}
* fieldset {display: block;}
/* End hide from IE-mac */

fieldset legend {
	font-weight: bold;
	color: #000088;
}


div.leftColumn {
	float: left;
	width: 48%;
}
div.rightColumn {
	float: right;
	width: 48%;
}
div.column {
	float: left;
	width: 50%;
}
div.Service span.ThreeColumns {
	width: 32%;
	float: left;
}
div.Service span.TwoColumns {
	width: 50%;
	float: left;
}
div.PopupWindow {
	display: none;
}
div.Popup {
	position:absolute;
	visibility: hidden;
	background-color: #ffffff;
	border:1px solid black;
	width: auto;
	height: auto;
	padding: 5px;
	z-index: 100;
	display: none;
}

.tipDiv {
	position:absolute;
	 z-index:2;
	visibility: hidden;
	background-color: #ffffff;
	width: 350px;
	border: 1px solid;
	height: auto;
}
.tipHead {
background-color: #CAB880;
color: white;
padding: 5px;
}
.tipText {
padding: 5px;
}
span.buttons {
	margin-left: 175px;
	float: left;
	p\osition: relative;
}
p.buttons {
	float: right;
}

fieldset p {
	margin: 0px;
	margin-top: .4em;
	display: inline-block;
	padding: 0px;
	padding-left: 185px;
	overflow: hidden;
}

fieldset p:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html fieldset p {height: 1%;}
* fieldset p {display: block;}
/* End hide from IE-mac */

label {
outline: 0;
}

fieldset p label {
	width: 180px;
	text-align: right;
	margin-left: -185px;
	vertical-align: top;
	float: left;
	overflow: visible;
	padding-top: 2px;
}
fieldset p select {
    width: 70%;
	vertical-align: top;
}
fieldset p textarea {
    width: 70%;
}
fieldset p option {
}

fieldset p label.radio {
	vertical-align: middle;
	width: auto;
	display: inline;
	margin: auto;
	float: none;
}

fieldset p.buttons {
	float: none;
}
fieldset p input {
	width: expression(this.type=="text" || this.type=="password" ?'275px':'auto');
}
fieldset p input[type="text"], fieldset p input[type="password"]  {
	width: 60%;
	vertical-align: top;
}
fieldset p input[type="radio"] {
	margin-top: 3px;
}

fieldset.filters {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	/*
	border-bottom: none;
	*/
	border-right: none;
	border-left: none;
	border-top: 1px solid #000088;
	border-bottom: none;
}
@media print {
    .filters {
        display: none;
    }
}

fieldset.filters p {
	padding-left: 135px;
}
fieldset.filters p label {
	width: 130px;
	margin-left: -135px;
}
fieldset.filters p input {
	width: auto;
}
fieldset.filters p select {
	width: auto;
	max-width: 100%;
}

.row {
/*
	height: 29px;
	*/
	clear: both;
}
.label {
	width: 175px;
	float: left;
	p\osition: relative;
}
.shortRightLabel  {
	width: 100px;
	text-align: right;
	float: left;
	p\osition: relative;
}
.shortLeftLabel
{
	width: 130px;
	text-align: left;
	float: left;
	p\osition: relative;   
}
.input {
	float: left;
	p\osition: relative;
}

@media print {
.unprintable {
display: none;
}
}
hr {
        width: 100%;
        margin: 1px;
        padding: 0px;
        height: 1px;
        border: 0px;
        color: #000088;
        background-color: #000088;
}

.error, .warning {
        color: red;
}

.colRow {
	background-color: #CAB880;
}/* alternating row color in generated tables */
.colRowRed {
    color: red;
}/* alternating row color in generated tables */

.mediumLengthLabel {
	display: -moz-inline-box;
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.longLengthLabel {
	display: -moz-inline-box;
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.extraLongLengthLabel {
	display: -moz-inline-box;
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.requiredFieldIndicator {
	padding:0px;
	width: 8px;
	height: 10px;
   font-size: 13pt;
   font-weight: bold;
   color: #790000;
	display: -moz-inline-box;
	display: inline-block;
}

.TipLink {
   font-weight: normal;
   color: #22275E;
}
.Currency {
	float: right;
	font-weight: bold;
}
img {
	border: none;
}
span.DateSelector {
	float: left;
	width: 235px;
}
span.DateSelector select {
	width: auto;
	max-width: none;
}
span.DateSelector select option {
}

#DidYouKnow {
	margin: 0px;
	padding: 0px;
	min-height: 178px;
	width: 190px;
}
#DidYouKnowHeader {
	color:#E3BF28; 
	font-weight: bold;
	padding: 10px;
	padding-left: 15px;
	background-color: #22275e;
	font-size: 16px;
}
#DidYouKnowText {
	padding: 15px;
	background-color: #22275e;
	color: white;
	background-image: url(/images/did_you_know_background.png);
	background-position: top;
	background-repeat: repeat-x;
	font-size: 12px;
	min-height: 88px;
}
#CurrencySelection {
	padding: 5px;
}
.red {
	color: #EE3E33;
}
.bold {
	font-weight: bold;
}
#Navigation {
	float: left;
	font-size: 16px;
}
.PageTitle {
	width: 100%;
	text-align: right;
}
.PageTitle h1 {
	text-align: right;
    color: #EE3E33;
	margin: 0px;
	font-size: 20px;
}
.PageTitle h2 {
	text-align: right;
	color: #000088;
	margin-top: 0px;
	font-size: 16px;
}
h3 {
    color: #EE3E33;
}
#BugReport fieldset p {
	padding-left: 75px;
}
#BugReport fieldset p label {
	width: 75px;
	margin-left: -75px;
}
br.pagebreak {
    height: 0px;
    page-break-after: always;
}
fieldset p input.CompanyFilter {
	width: auto;
}
