html {
}
#Content {
	top: 0;
	position: relative;
	background-color: #DEDCB7;
	color: #22275E;
	height: 100%;
	margin: 0 0 0 190px;
	padding: 0 10px 10px 10px;

}
#Content:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}

#ContentInner {
	padding: 0px;
	padding-top: 10px;
	margin: 0px;
	width: 100%;
}

body { 	
	padding: 0px;
	margin: 0px;
	background-color: #DEDCB7;
	background-image: none;
	font-size: small;
	font-family: Arial, Helvetica, Sans-Serif;
	background-image: url(/images/brown_slant.png);
	background-repeat: repeat-y;
	min-width: 880px;
	max-width: 1280px;
}
input[type="radio"],input[type="checkbox"] {
	vertical-align: middle;
}
input, select, textarea {
	color: black;
	font-size: small;
	padding: 1px;
	color: black;
}
td textarea {
	width: 98%;
	margin: 0px;
}
input {
}

#Header {
	position: absolute;
	top:0px;
	left: 0px;
	width: 190px;
	padding: 0px;
	margin: 0px;
/*
	z-index: 10;
*/
}
	
#Header #Logo {
	background-color: #22275E;
	padding: 7px;
	color: white;
}
#Logo table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#Logo img {
	width: 47px;
	height: 49px;
}
#Logo a {
	color: white;
}
#PointOne {
	border-bottom: 1px solid white;
	font-family: Georgia, Times, serif;
	padding: 0;
	margin: 0; 
	font-size: 26px;
}
#GraphicsInc {
padding: 0;
margin: 0; 
font-size:16px;
}
#Header .Logo hr {
	margin: 0px;
	padding: 0px;
	height: 1px;
	border: 0px;
	color: #ffffff;
	background-color: #ffffff;
}

a {
	text-decoration : none;
	outline: 0;
} 
a:link { color: #000066;  }                             /* normal text links */
a:active { color: #000066;   }
a:visited { color:#333399;   }
a:hover { color: #6666CC;   }

.spacer {
	height: 0;
	clear: both;
}

form {
	margin: 0;
}

.hiddenPic {
	display: none;
}
table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table.List {
	border-bottom: 1px solid #000088;
	table-layout: fixed;
}
.List th {
	border: none;
	border-bottom: 1px solid #000088;
	background: transparent;
	padding: 0;
	margin: 0;
}
.List td {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
	margin: 0;
}
.List .totals {
	margin-bottom: 20px;
}
.totals td {
	border-top: 1px solid #000088;
}

.List input {
	width: expression(this.type=="text" || this.type=="password" ?'97%':'auto');
}
.List input[type="text"] {
	width: 97%;
}

fieldset {
	border: none;
	border-top: 1px solid #000088;
	padding: 2px 2px 10px 2px;
	margin: 0;
}
fieldset:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}

fieldset legend {
	font-weight: bold;
	color: #000088;
}

.leftColumn {
	float: left;
	width: 48%;
}
.rightColumn {
	float: right;
	width: 48%;
}
.column {
	float: left;
	width: 50%;
}
div.Service span.ThreeColumns {
	width: 32%;
	float: left;
}
div.Service span.TwoColumns {
	width: 48%;
	float: left;
}
.PopupWindow {
	display: none;
}
.Popup {
	position:absolute;
	visibility: hidden;
	background-color: #ffffff;
	border:1px solid black;
	width: auto;
	height: auto;
	padding: 5px;
	z-index: 100;
	display: none;
}

.tipDiv {
	position:absolute;
	 z-index:2;
	visibility: hidden;
	background-color: #ffffff;
	width: 350px;
	border: 1px solid;
	height: auto;
}
.tipHead {
background-color: #CAB880;
color: white;
padding: 5px;
}
.tipText {
padding: 5px;
}
span.buttons {
	margin-left: 175px;
	float: left;
	p\osition: relative;
}
p.buttons {
	float: right;
}
.buttons:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}

fieldset p,
fieldset ul li {
	margin: 0;
	margin-top: .4em;
	padding: 0 0 0 185px;
	overflow: hidden;
}

fieldset p:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}

label {
outline: 0;
}

fieldset p label {
	width: 180px;
	text-align: right;
	margin-left: -185px;
	vertical-align: top;
	float: left;
	overflow: visible;
}
fieldset p select {
    width: 70%;
	vertical-align: top;
}
fieldset p textarea, fieldset ul li textarea {
    width: 70%;
}
fieldset p option {
}

fieldset p label.radio {
	vertical-align: middle;
	width: auto;
	display: inline;
	margin: auto;
	float: none;
}

fieldset p.buttons {
	float: none;
}
fieldset p input {
	width: expression(this.type=="text" || this.type=="password" ?'275px':'auto');
}
fieldset p input[type="text"], fieldset p input[type="password"], fieldset p input[type="number"], fieldset p input[type="email"]  {
	width: 60%;
	vertical-align: top;
}
fieldset input[type="radio"] {
	vertical-align: middle;
}
fieldset ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
fieldset ul:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}
fieldset ul li:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}

fieldset ul li label {
	width: 180px;
	margin: 0px 0px 0px -185px;
	float: left;
	text-align: right;
}
fieldset ul li label.radio {
	vertical-align: middle;
	width: auto;
	margin: 0px;
	float: none;
}
fieldset ul li input[type="text"] {
	width: 60%;
}

.dialog li {
	padding-left: 80px;
}
.dialog li label {
	margin-left: -80px;
	width: 75px;
}
.dialog input,
.dialog textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	resize: vertical;
}
table input[type="text"], table input[type="number"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

fieldset.filters {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	/*
	border-bottom: none;
	*/
	border-right: none;
	border-left: none;
	border-top: 1px solid #000088;
	border-bottom: none;
}
@media print {
    .filters {
        display: none;
    }
}
@media screen {
fieldset.filters:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}

fieldset.filters p {
	padding-left: 135px;
}
fieldset.filters p label {
	width: 130px;
	margin-left: -135px;
}
fieldset.filters p label.radio {
	margin: 0px;
	width: auto;
}
fieldset.filters p input, fieldset.filters ul li input {
	width: auto;
}
fieldset.filters p select {
	width: auto;
	max-width: 100%;
}

.row {
/*
	height: 29px;
	*/
	clear: both;
}
.label {
	width: 175px;
	float: left;
	p\osition: relative;
}
.shortRightLabel  {
	width: 100px;
	text-align: right;
	float: left;
	p\osition: relative;
}
.shortLeftLabel
{
	width: 130px;
	text-align: left;
	float: left;
	p\osition: relative;   
}
.input {
	float: left;
	p\osition: relative;
}

@media print {
	.unprintable {
		display: none;
	}
}
hr {
        width: 100%;
        margin: 1px;
        padding: 0px;
        height: 1px;
        border: 0px;
        color: #000088;
        background-color: #000088;
}

.error, .warning {
        color: red;
}

.colRow,.roweven {
	background-color: #CAB880;
}/* alternating row color in generated tables */
.colRowRed {
    color: red;
}/* alternating row color in generated tables */
tr.highlightOn {
	background-color: #FF5C51;
}

.mediumLengthLabel {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.longLengthLabel {
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.extraLongLengthLabel {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: .5em;
	vertical-align: top;
	padding: .1em;	
}
.requiredFieldIndicator {
	padding:0px;
	width: 8px;
	height: 10px;
   font-size: 13pt;
   font-weight: bold;
   color: #790000;
	display: inline-block;
}

.TipLink {
   font-weight: normal;
   color: #22275E;
}
.Currency {
	float: right;
	font-weight: bold;
}
img {
	border: none;
}
table .Date {
	width: 118px;
	text-align: right;
	padding-right: 2px;
}
table .DateTime {
	width: 150px;
	text-align: left;
}
td.Elapsed, th.Elapsed {
	width: 120px;
	text-align: left;
}
td.Docket, th.Docket {
	width: 50px;
	text-align: center;
}
td.Stock, th.Stock {
	text-align: right;
}
td.StockQuantity, th.StockQuantity, tr .StockQuality {
	width: 100px;
	text-align: right;
}
table .Quantity {
	width: 40px;
	text-align: right;
}
td.Weight, th.Weight {
	width: 80px;
	text-align: right;
}
td.User, th.User {
	width: 120px;
	text-align: left;
}
td.Company, th.Company {
	width: 200px;
	text-align: left;
	overflow:hidden;
}
td.checkbox, th.checkbox {
	width: 20px;
	text-align: center;
}
td.Price, th.Price {
	width: 100px;
	text-align: right;
}
table .Status {
	width: 100px;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
}
td.Cost, th.Cost {
	width: 130px;
	text-align: right;
}
span.DateSelector {
	float: left;
	width: 275px;
}
span.DateSelectorC {
	float: left;
	width: 275px;
}
span.DateSelectorCT {
	min-width: 300px;
	display: inline-block;
}
.DateTimeSelector {
	display: inline-block;
	min-width: 400px;
}
.DateSelector select, .DateTimeSelector select {
	width: auto;
	max-width: none;
}
span.DateSelector select option {
}
span.time {
	margin-left: 5px;
}

#CurrencySelection {
	padding: 5px;
}
.red {
	color: #EE3E33;
}
.bold {
	font-weight: bold;
}
#Navigation {
	float: left;
	font-size: 16px;
}
.PageTitle {
	width: 100%;
	text-align: right;
}
.PageTitle h1 {
	text-align: right;
    color: #EE3E33;
	margin: 0px;
	font-size: 20px;
}
.PageTitle h2 {
	text-align: right;
	color: #000088;
	margin-top: 0px;
	font-size: 16px;
}
h3 {
    color: #EE3E33;
}
#BugReport fieldset p {
	padding-left: 75px;
}
#BugReport fieldset p label {
	width: 75px;
	margin-left: -75px;
}
br.pagebreak {
    height: 0px;
    page-break-after: always;
}
fieldset p input.CompanyFilter {
	width: auto;
}

form.inplaceeditor-form { /* The form */
	width: 100%;
}

form.inplaceeditor-form input[type="text"] { /* Input box */
}

form.inplaceeditor-form textarea { /* Textarea, if multiple columns */
	width: 100%;
	height: 100%;
}

form.inplaceeditor-form input[type="submit"] { /* The submit button */
}

form.inplaceeditor-form a { /* The cancel link */
}

.changed {
    background-color: yellow;
}
.editable:hover {
    background-color: yellow;
}

input.filter, fieldset p input.filter, fieldset ul li input.filter {
	width: 40px;
}

td p {
	margin: 0px;
	padding: 0px;
}
td p label {
    width: auto;
    margin-left: 0px;
}

.CapturedSignatures {
}
.CapturedSignatures li  {
	vertical-align: top;
	padding: 0px;
}
.CapturedSignatures img {
	vertical-align: top;
	border: 2px solid #000088;
}
.thumbnail {
	width: 48px;
}
.ServerInfo ul {
	color:#E3BF28; 
	font-weight: bold;
	background-color: #22275e;
	font-size: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.ServerInfo li {
	list-style: none;
	margin: 0;
	padding: 4px 4px 4px 70px;
	text-align: right;
}
.ServerInfo label {
	margin: 0 0 0 -60px;
	font-weight: bold;
	width: 55px;
	text-align: left;
	float: left;
}
.ServerInfo li:after {
    content: "."; 
    display: block; 
    height: 0; 
	font-size: 0;
    clear: both; 
    visibility: hidden;
}
#DidYouKnow {
	margin: 0;
	padding: 0;
	min-height: 155px;
	width: 190px;
}
#DidYouKnowHeader {
	color:#E3BF28; 
	font-weight: bold;
	padding: 10px 10px 10px 15px;
	background-color: #22275e;
	font-size: 16px;
}
#DidYouKnowText {
	padding: 15px;
	background-color: #22275e;
	color: white;
	background-image: url(/images/did_you_know_background.png);
	background-position: top;
	background-repeat: repeat-x;
	font-size: 12px;
	min-height: 88px;
}
#QuickLogin {
	margin-bottom: 10px;
	margin-top: 10px;
}
#QuickLogin {
}
#QuickLogin fieldset {
	border: none;
	padding: 5px;
}
#QuickLogin fieldset legend {
	margin-left: 0px;
	padding: 0px;
	font-size: 16px;
}
#QuickLogin fieldset input {
	width: 90%;
}
