table .status {
	width: 200px;
text-align: left;
}
.Price {
	width: 100px;
text-align: right;
}
.service {
	text-align: left;
}
.quantity {
	width: 75px;
	text-align: left;
}
#ProductionLog .quantity {
	text-align: right;
	padding-right: 5px;
}
.subtotal .service,
.tax .service,
.total .service,
.paid .service,
.downpayment .service,
.cod .service {
	font-weight: bold;
	text-align: right;
}
.subtotal .service:after,
.total .service:after,
.tax .service:after,
.paid .service:after,
.downpayment .service:after,
.cod .service:after {
	content: ":";
}

#Labels .Date {
	text-align: left;
}
#Labels .buttons,
#Files .buttons {
	width: 75px;
	text-align: right;
}
#Files .filename {
	text-align: left;
}
.filters .docket, .filters .project_id {
	float: left;
	width: 50%;
	padding: 0;
}
.filters .docket label, .filters .project_id label {
	margin: 0;
	padding: 0 5px 0 0;
	vertical-align: middle;
	width: 60px;
}
#project_id {
	width: 60px;
}
.StockAllocated .Stock,
.StockCheckout .Stock {
	text-align: left;
	float: none;
	width: auto;
}
table .Price input {
	width: 100%;
}
