#psContainer {
	height:20px;
	width:100px;
	border:1px solid #999999;
	margin: 1px 0 0 5px;
	background-color:#DDDDDD;
	display: inline-block;
}

#psStrength {
	background-image:url('/images/password_strength.png');
	background-repeat: repeat-y;
	height:20px;
	width:0;
	display: inline-block;
	text-align: center;
}
fieldset p,
fieldset.filters p {
	padding: 0 0 0 200px;
}
fieldset p label,
fieldset.filters p label {
	width: 195px;
	margin: 0 0 0 -200px;
}
