#PAR {
}
#PAR table {
	background-color: white;
	border: 1px solid black;
	table-layout: fixed;
}
#PAR table td {
	border: 1px solid black;
	width: 10%;
	vertical-align: top;
}
table.View tr td {
padding: 5px;
}
table tr td textarea {
	width: 99%;
}
table tr td select {
	padding: 1px;
}
table tr td select option {
	padding: 1px;
}
