.PO .buttons {
	margin: 0;
}
.Authorizations .limit input {
	width: 100%;
}

tr.unauthorized {
	background-color: yellow;
}

table .Manifest {
	text-align: left;
}
table .amount {
	width: 110px;
	text-align: right;
}
table .amount input {
	text-align: right;
	width: 65px;
}

#Payments .currency {
	width: 140px;
}
