div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}
.PO .buttons {
	margin: 0;
}
.Authorizations .limit input {
	width: 100%;
}

tr.unauthorized {
	background-color: yellow;
}

table .Manifest {
	text-align: left;
}
.amount {
	width: 110px;
	text-align: right;
}
.amount input {
	text-align: right;
	width: 65px;
}

#Payments .currency {
	width: 140px;
}
.PO .items input {
	width: 96%;
	min-width:0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.PO input.RollQTY {
	width: 60px;
} 
.price input {
	text-align: right;
	width: 65px;
}
.total input {
	text-align: right;
}
input.SheetQTY {
	width: 60px;
} 
.PO input.SheetName {
	width: 240px;
} 
.PO input.SheetWidth, .PO input.SheetHeight {
	width: 60px;
} 
.PO input.SheetMWeight {
	width: 40px;
} 
.PO textarea {
	width: 98%;
	min-width:0;
	margin: 0;
	padding: 0;
	min-height: 0;
	resize: vertical;
}
.items .buttons {
	display: table-cell;
	width: 55px;
}
.select_type {
	width: 250px;
}
#line-new {
	display: table-footer-group;
}
table .buttons {
	width: 55px;
}
#Assets .actions {
	width: 75px;
}
.PO .notifications .buttons {
	float: right;
	margin: 0;
}
#Payments .Date {
	width: 210px;
}
