.status {
	width: 200px;
text-align: right;
}
.Price {
	width: 100px;
text-align: right;
}
.service {
	text-align: left;
}
.description {
	text-align: left;
}
.quantity {
	width: 75px;
	text-align: left;
}
.total .service,
.paid .service,
.downpayment .service,
.cod .service {
	font-weight: bold;
	text-align: right;
}
.total .service:after,
.paid .service:after,
.downpayment .service:after,
.cod .service:after {
	content: ":";
}
