.ZM_Monitors .name {
	text-align: left;
	padding-left: 5px;
}
.ZM_Monitors .function {
	width: 100px;
	text-align: left;
	padding-left: 5px;
}
.ZM_Monitors .Montage ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.ZM_Monitors .Montage ul li {
	height: auto;
	float: left;
	margin: 5px;
	padding: 0px;
	list-style: none;
}
.ZM_Monitors .thumbnail {
	text-align: left;
	width: 320px;
}
 
.ZM_Monitors img.thumbnail {
	width: 100px;
	height: auto;
	float: none;
}

img.stream {
}

#Viewing li {
}
#Available li {
	width: 100px;
}
.RADIUS .username, .RADIUS .attribute, .RADIUS .value {
	text-align: left;
}

table .action_type, table .note {
	text-align: left;
}
table .type {
	text-align: left;
}
