body {
	min-width: 780px;
} 
fieldset p {
	padding-left: 140px;
}
fieldset p label {
	width: 140px;
	margin-left: -140px;
}

div.PopupWindow fieldset p {
	padding-left: 0px;
}
div.PopupWindow fieldset p label {
	width: 100%;
	margin: 0px;
	text-align: left;
}

#Allocate fieldset p, #CheckOut fieldset p {
	padding-left: 100px;
}
#JobForm fieldset p {
	padding-left: 70px;
}
#JobForm fieldset p span.DateTimeSelector {
	float: left;
	width: 380px;
}
#Allocate fieldset p label, #CheckOut fieldset p label {
	width: 100px;
	margin-left: -95px;
}
#JobForm fieldset p label {
	width: 70px;
	margin-left: -65px;
}

#JobForm fieldset p label.radio, fieldset p label.radio, #Allocate fieldset p label.radio, #CheckOut fieldset p label.radio {
	width: auto;
	margin-left: 0px;
}

.Manifest #PurchaseOrders ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.Manifest table .InStock, .Manifest table .LastSeen {
	text-align: right;
	width: 90px;
}

.Signature .Previews img {
	width: 100%;
}
td p {
	margin: 0px;
	padding: 0px;
}
td p label {
    width: auto;
    margin-left: 0px;
}

table tr .name {
	text-align: left;
	width: 160px;
}
table tr .ip {
	text-align: left;
	width: 80px;
}

