#CustomStockPrice,
#CustomStockPriceInteriorSpreads,
#CustomStockPriceCoverSpreads {
	width: 75px;
}

.Service .Pages input {
	width: 35px;
}
.Service .Imposition input[type="number"] {
	width: 35px;
}
.Service .Imposition input[type="text"] {
	width: 55px;
}
