div.Service div.templates {
    padding-right: 0px;
}
div.Service div.templates:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Service div.templates {height: 1%;}
* div.Service div.templates {display:block;}
/* End hide from IE-mac */

div.Service div.templates p {
	float: left;
	width: 165px;
	height: 180px;
	text-align: center;
	margin: 0px 5px 10px 5px;
	padding: 0px;
}
div.Service div.templates p label {
	clear: none;
	float: none;
	margin: 0px;
}
div.Service div.templates p img {
    clear: both;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
}
.templateOption {
	float: left;
	width: 165px;
	height: 180px;
	text-align: center;
	margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.templateOption img {
    clear: both;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
}

.label {
	width: 175px;
	float: left;
	p\osition: relative;
}
.input {
	float: left;
	p\osition: relative;
}

div.Service div.row {
    margin: 0px;
    margin-bottom: 10px;
	margin-right: 20px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 400px;
    padding-bottom: 5px;
    clear: none;
    width: auto;
	max-width: 310px;
}
div.Service div.row:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.Service div.row {height: 1%;}
* div.Service div.row {display:block;}
/* End hide from IE-mac */

div.Service div.row .required {
	display: none;
    width: 10px;
    float:left;
    margin-left: -10px;
    right: 10px;
    height: 100%;
}

div.Service div.row span.label {
    width: auto;
    text-align: left;
    float: left;
    display:inline;
    margin: 0px;
    padding: 0px;
    height: 100%;
	margin-right: 10px;
}

div.Service div.row span.value {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    width: 180px;
    text-align: left;
    float:left;
    p\osition: relative;
    clear: none;
}
div.Service div.row span.input {
    width: 390px;
    margin: 0px;
    margin-right: -400px;
    margin-bottom: -15px;
    text-align: left;
    float:right;
    height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    background-color:#BBA971;
   color: #22275E;
}
div.Service fieldset {
}
div.Service fieldset p {
	padding-left: 130px;
}
div.Service fieldset p label {
	width: 125px;
	margin-left: -130px;
	text-align: left;
}
div.Service fieldset p label.radio {
	width: auto;
	float: none;
	margin: 0px;
}
div.Service fieldset p select, div.Service fieldset p input {
	width: auto;
}

div.Registration {
   padding-right: 20px;
}
div.Registration fieldset {
	float: left;
	width: 100%;
	max-width: 750px;
}
div.Registration fieldset p select {
   width: auto;
}

/* Help Desk Styles */ 

div.HelpDesk
{
   width: 500px;
   padding-right: 20px;
   float: left; 
}

/* Company Profile Styles */
div.CompanyProfile fieldset p select {
   width: auto;
}

/* User Profile styles */
div.UserProfile fieldset select {
   width: auto;
}

/* Credit Application styles */
div.CreditApplication fieldset select {
   width: auto;
}

/* Reseller Application styles */
div.ResellerApplication fieldset select {
   width: auto;
}

/* Create Stage1 styles */
div.ReprintOptions fieldset select
{
   width: auto;
}

/* Order history styles */

/* Quote History styles */
div.QuoteHistory fieldset label
{
   width: 100px;
}

div.ProjectCreateEdit ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
div.ProjectCreateEdit ul:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}
/* Hides from IE-mac \*/
* html .ProjectCreateEdit ul  {height: 1%;}
* .ProjectCreateEdit ul  {display: block;}
/* End hide from IE-mac */
div.ProjectCreateEdit fieldset ul li {
    float: left;
    width: 32%;
    padding: 0px;
    text-align: left;
}
div.ProjectCreateEdit fieldset ul li label {
    float: none;
    margin: 0px;
    width: auto;
}

div.ProjectCreateEdit fieldset p label {
	width: 33%;
	padding-right: 5px;
}
div.ProjectCreateEdit fieldset p textarea {
	width: 80%;
	
}
div.Project div.Reuse div.quantities ul li {
    width: 100px;
    float: left;
}
div.Project div.Reuse div.quantities ul li input[type="text"] {
	width: 92%;
}

div.ProjectSummary {
}

div.ProjectSummary div.row {
	width: 100%;
	p\osition: relative;
	clear: both;
	margin-bottom: 2px;
	padding-bottom: 2px;
}
div.ProjectSummary div.row span.label {
	width: 320px;
	margin-right: 10px;
	text-align: left;
	display: -moz-inline-box;
	display: inline-block;
}

div.ProjectSummary div.row span.value {
	margin-left: 10px;
	text-align: left;
	p\osition: relative;
	float: left;
}

#missingPasswordMessage, #missingLoginMessage, #forgotPassword_missingEmailMessage {
    font-size: 7.5pt;
    font-weight: normal;
    color: #ff0000;
	display: block;
}
ul.redbox {
list-style-image: url(/images/bullet.png);
}
#SiteMap ul {
	float: left;
	font-weight: bold;
	width: 25%;
	height: 140px;
list-style-image: url(/images/bullet.png);
}
#SiteMap ul li {
	font-weight: normal;
}
#QuickLogin {
	margin-bottom: 10px;
	margin-top: 10px;
}
#QuickLogin {
}
#QuickLogin fieldset {
	border: none;
	padding: 5px;
}
#QuickLogin fieldset legend {
	margin-left: 0px;
	padding: 0px;
	font-size: 16px;
}
#QuickLogin fieldset input {
	width: 90%;
}
div#AlertDiv {
	font-weight: bold;
	color: red;
}
div.LoginLog th.When {
	width: 180px;
	text-align: left;
}
div.LoginLog td.When {
	text-align: right;
	padding-right: 8px;
}
