
.spacer {
	clear: both;
}

form {
	margin: 0px;
}

body {
	font-size: 8px;
}

input {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	font-size: 8px;
	width: 60%;
}
select {
	margin: 0px;
	padding: 0px;
	font-size: 8px;
	width: 60%;
}
option {
	width: 100%;
}

div.row {
}
div.row span.label {
	float: left;
	width: 33%;

}
div.row span.input {
	float: left;
	width: 67%;
}
div.row span.buttons {
	float: left;
	width: 67%;
	margin-left: 33%;
}
a {
	font-size: 8px;
}
table tr th {
	font-size: 8px;
}
p {
	text-align: right;
}
p:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;

}
/* Hides from IE-mac \*/
* html p {height: 1%;}
p {display: block;}
/* Hides from IE-mac \*/

p label {
	width: 50%;
	display: inline-block;
}
p.location_id select {
	width: 60%;
}


	a.buttonImageOff {
		background-color: #EE3E33;
		padding: 4px 2px 4px 2px;
		margin: 2px 5px 2px 2px;
		text-decoration: none;
		font-family: Arial, Helvetica, Sans-Serif;
		font-size: small;
		font-weight: bold;
		color: white;
		display: -moz-inline-box;
		display: inline-block;
		outline:0;
border: 1px solid black;
	}

	a.buttonImageOn {
		background-color: #FF5C51;
		padding: 3px 2px 3px 2px;
		margin: 0px 5px 2px 2px;
		text-decoration: none;
		font-family: Arial, Helvetica, Sans-Serif;
		font-size: small;
		font-weight: bold;
		color: white;
		display: -moz-inline-box;
		display: inline-block;
		outline:0;
	}


a.buttonImageOff .l {
	display: none;
}
a.buttonImageOff .r {
	display: none;
}
a.buttonImageOff .c {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: x-small;
	background: none;
	display: -moz-inline-box;
	display: inline-block;
	float: none;
	margin: 0px;
	padding: 0px;
	color: white;
}


a.buttonImageOn .l {
	display: none;
}
a.buttonImageOn .r {
	display: none;
}
a.buttonImageOn .c {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: x-small;
	background: none;
	cursor: default;
	display: -moz-inline-box;
	display: inline-block;
	float: none;
	margin: 0px;
	padding: 0px;
	color: white;
}
