
#fbFooter {
	height: 49px;
	background-color: #000000;
	background-image: url('/pageflip/img/footerBackground.gif');
	background-repeat: repeat-x;
}

.fbPaginationMinor {
	color: #4e6605;
	margin-left: 10px;
}

#fbContents {
	float: left;
	margin-top: 17px;
	margin-left: 15px;	
}

#fbMenu {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

#altmsg { 
	position: absolute;
	background-color:#000000;
	padding: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align:center;
}
#altmsg:hover { 
	opacity: 0.8;
	filter: alpha(opacity=80);
}
a.altlink:link {
	color: #FFFFFF;
}

a.altlink:visited {
	color: #DDDDDD;
}

a.altlink:hover {
	color: #FFFFFF;
}

.PageFlip ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.PageFlip ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.PageFlip {
	display: block;
}
.PageFlip .Edit {
	display: block;
}
.PageFlip .Pages {
	float: left;
	width: 40%;
}
.PageFlip #Page {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 660px;
	border: 1px solid black;
}
.PageFlip #Page img {
	width: 640px;
	margin: 10px;
}

#ClipTop {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0px;
	right: 0px;
	height: 1px;
	background-color: black;
	margin: 0px 2px 0px 2px;
}

#ClipBottom {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 0px;
	right: 0px;
	height: 1px;
	background-color: black;
	margin: 0px 2px 0px 2px;
}
#ClipLeft {
	position: absolute;
	width: 1px;
	top: 0px;
	bottom: 0px;
	left: 10px;
	height: 100%;
	background-color: black;
	margin: 2px 0px 2px 0px;
}
#ClipRight {
	position: absolute;
	width: 1px;
	top: 0px;
	bottom: 0px;
	right: 10px;
	height: 100%;
	background-color: black;
	margin: 2px 0px 2px 0px;
}
