
#fbFooter {
	height: 49px;
	background-color: #000000;
	background-image: url('/pageflip/img/footerBackground.gif');
	background-repeat: repeat-x;
}

.fbPaginationMinor {
	color: #4e6605;
	margin-left: 10px;
}

#fbContents {
	float: left;
	margin-top: 17px;
	margin-left: 15px;	
}

#fbMenu {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

#altmsg { 
	position: absolute;
	background-color:#000000;
	padding: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align:center;
}
#altmsg:hover { 
	opacity: 0.8;
	filter: alpha(opacity=80);
}
a.altlink:link {
	color: #FFFFFF;
}

a.altlink:visited {
	color: #DDDDDD;
}

a.altlink:hover {
	color: #FFFFFF;
}

.PageFlip ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.PageFlip ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.PageFlip {
	display: block;
}
.PageFlip .Edit {
	display: block;
}
.PageFlip .Pages {
	float: left;
	width: 30%;
	border: 1px solid black;
}
.PageFlip img {
	width: 640px;
	position: absolute;
	top: 140px;
	right: 10px;
	z-index: 9;
}
.PageFlip #Page {
	position: absolute;
	top: 140px;
	right: 10px;
	width: 640px;
	z-index: 10;
}

#CropTop {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 1px;
	background-color: black;
	margin: 0px -10px 0px -10px;
	z-index: 11;
}

#CropBottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 1px;
	background-color: black;
	margin: 0px -10px 0px -10px;
	z-index: 11;
}
#CropLeft {
	position: absolute;
	width: 1px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background-color: black;
	margin: -10px 0px -10px 0px;
	z-index: 11;
}
#CropRight {
	position: absolute;
	width: 1px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: black;
	margin: -10px 0px -10px 0px;
	z-index: 11;
}
table tr .crop, table tr .filename, table tr .page {
	text-align: left;
}
table tr .page {
	width: 35px;
}
table tr .filename {
}
table tr .crop {
	width: 100px;
}
