.Popup {
	position:absolute;
	visibility: hidden;
	background-color: #ffffff;
	border:1px solid;
	width: auto;
	padding: 5px;
	z-index: 100;
}
.row {
	clear: none;
	width: 100%;
	font-weight: normal;
	font-size: 10px;
	margin:0px;
	padding:0;
	margin-bottom: 4px;
	height: auto;
	float: left;
	p\osition: relative;
}

.PressScheduleHeader {
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #E3E4F0;
	font-weight: bold;
	font-size: 16px;
}
	.PressColumn {
		margin:0;
		padding:0;
		border: none;
		text-align: center;
		font-size:16px;
		font-weight:bold;
		vertical-align: top;
	}
	.PressColumn ul {
		padding:0;
		margin:0 1px 0 1px;
		border-bottom: 1px solid black;
		list-style: none;
        font-weight: normal;
        text-align: left;
        font-size: 12px;
	}
	.PressColumn li {
		padding:0;
		margin:2px 0;
		border-top: 1px solid black;
		list-style: none;
		background-color: #ffffff;
		z-index: 0;
		max-height: 2048px;
		overflow: hidden;
	}

.PressColumn .multibindery,
.PressColumn .multipress, 
.PressColumn .scheduled, 
.multipress, 
.scheduled {
	background-color: #ffff99;
}
.PressColumn .regular, .PressColumn .unscheduled, .regular, .unscheduled {
	background-color: #ffffff;
}
.PressColumn .inprepress, .inprepress {
	background-color: #caffc4;
}
.PressColumn li.complete, li.complete {
	background-color: #FAC6FF;
}
.PressColumn li.tentative, li.tentative {
	background-color: #d7f5ff;
}
.PressColumn li.approval, li.approval {
	background-color: #FF0000;
	color: black;
}
.PressColumn li.rush, li.rush {
	border: 2px solid blue;
} 
.legend li.rush {
width: 196px;
} 
	.When {
		background-color: #ffb4da;
		font-weight: bold;
		font-size: 14px;
	   margin:0;
	   margin-left: 1px;
	   margin-right: 1px;
	   padding:0;
	}
.Printing .When {
		background-color: #ffb4da;
}
.Bindery .When {
	background-color: #c1e8e6;
}
.When .Shift_time {
	float: left;
}
.When .operator {
	float: right;
}
	.When span {
		padding: 2px;
		width: auto;
	}
	.When .Interval {
		float: left;
	} 
	.docket {
		float: right;
		p\osition: relative;
		margin-left: 5px;
	}
	.Company {
		font-weight: bold;
		font-size: 14px;
		overflow: hidden;
		text-align: left;
	}
	.Forms {
        width: 65px;
	}
	.DueDate {
		font-weight: bold;
		float: right;
		margin-left: 5px;
		display: inline;
	}
	.Impressions {
		min-width: 70px;
		padding:0 4px 0 4px;
	}
	.RunTime {
        width: 85px;
	}
	.StockVerified {
        width: 80px;
	}
	.StockVerified,
	.Forms,
	.Impressions,
	.RunTime,
	.StartTime {
		float: left;
        display: inline;
        border: 1px outset gray;
        text-align: center;
	}
	.StartTime {
        width: 80px;
	}
.StartTime img {
    margin:0;
    padding:0;
    height: 11px;
    border: none;
	vertical-align: middle;
}
@media print {
	.StartTime img {
	height: 10px;
	}
	.Feedback {
		display: none;
	}
}
	.Buttons {
		float: right;
		margin: 2px;
		display: inline;
	}
	.Services {
        margin: 2px;
        float: right;
        display: inline;
	}
	.Services .Service {
		float: left;
		margin-right: 5px;
		text-transform: capitalize;
	}
	.Services .nobindery {
		text-transform: uppercase;
	} 
	.commands {
		border-top: 1px solid #000000;
	}
	.Comment, .Stock {
		padding-left: 6px;
		padding-right: 6px;
		text-align: left;
	}
	.Comment p, .Stock p {
	margin: 0;
	padding: 0;
	} 
	.TotalImpressions {
		margin-left: auto;
		margin-right: auto;
		float: left;
		p\osition: relative;
	}
	.Operator, .assign {
		float: right;
	}
	@media print {
	.PressColumn, a.docket {
		color: black;
		font-size: x-small;
		}
		.PressColumn ul {
		font-size: xx-small;
		}
		.Company, .When {
		font-size: x-small;
		}
		.assign {
			display: none;
		}
		.TotalImpressions {
			display: none;	
		}
		.Comment {
			border: none;
		}
		ul {
			border: 1px solid black;
			margin: 2px;
		}
		li { 
			margin:0;
			padding: 1px;
		}
		td { 
			padding:0;
			margin:0;
		}
		span {
			margin:0;
			padding:0;
			width: auto;
		}
	#Header {
		display: none;
	}
	}

.CSR {
	font-weight: bold;
	text-transform: uppercase;
}
.PrepressOperator {
	font-weight: normal;
	text-transform: lowercase;
}

.filters .buttons {
	clear:both;
	padding:0;
	margin: 5px 0 5px 0;
}
.filters ul {
	list-style:none;
	margin:0;
	padding:0;
}
.schedule:after,
.header:after,
.PressColumn:after,
.PressColumn li:after,
.When:after,
.filters ul:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.filters li {
	list-style:none;
	padding:000 85px;
	float: left;
}
.filters li label {
	vertical-align: top;
	margin:0 0 0 -85px;
	width: 80px;
	float: left;
}
.filters li label.radio {
	float: none;
	margin: 0;
	width: auto;
}
.presses {
	width: 215px;
	float: left;
}
.presses li {
	width: 140px;
	padding-left: 70px;
}
.presses li label {
	margin-left: -70px;
	width: 65px;
}
.statuses {
	width: 40%;
	float: left;
}
.statuses li {
	padding-left: 80px;
}
.statuses li label {
	margin-left: -80px;
	width: 75px;
}
.dates {
	width: 350px;
	float: left;
}
.dates li{
width: 265px;
}

.legend {
	width: 30%;
	float: left;
}
.legend li {
	padding-left: 70px;
}
.legend li label {
	margin-left: -70px;
	width: 65px;
}
.legend li ul {

}
.legend li li {
	padding:0px;
	width: 200px;
}
.legend li li label {
	margin:0;
	width: auto;
}
.message {
	font-size: small;
}
.PressColumn a.buttonImageOff, .PressColumn a.buttonImageOn {
	margin: 1px;
}
.PressColumn a.buttonImageOff .c,
.PressColumn a.buttonImageOn .c {
	padding: 2px 4px 2px 4px;
}
@media only screen and (max-device-width: 480px) {
	.PressColumn a.buttonImageOff, 
	.PressColumn a.buttonImageOn {
		margin: 2px;
	}
	.PressColumn a.buttonImageOff .c,
	.PressColumn a.buttonImageOn .c {
		padding: 4px 6px 4px 6px;
	}
}
table {
	table-layout: fixed;
	width: 100%;
}
