<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?></title>	
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/administrator.css" rel="stylesheet" type="text/css"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
        <script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
        <script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
		<link rel="shortcut icon" href="/images/favicon.ico">
	</head>
	<body onLoad="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
		<div class="Content"> 
		<div class="ContentInner"> 
			<div class="Header">
				<span style="float: left;"><img src="/images/IQ_logo.png" alt="Intelligent Quote Demo"/></span>
				<span style="float: left;"><img src="/images/IQ_text.png" alt="Intelligent Quote Demo"/></span>
				<? if ( sets::isin( $openprint::session{'user_type'}, ['A'] ) ) ?>
				<span style="float: right;"><? echo ( ssi::writeButton( $log, $dbh, 'GoAdmin', 'admin.gif', '', '/administrator/', 'Administrators' ); ) ?></span>
				<? endif ( sets::isin( $openprint::session{'user_type'}, ['A'] ) ) ?>
				<? if ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
				<span style="float: right;"><? echo ( ssi::writeButton( $log, $dbh, 'GoEmployee', 'employee.gif', '', '/employee/', 'Employees' ); ) ?></span>
				<? endif ( sets::isin( $openprint::session{'user_type'}, ['E','A'] ) ) ?>
				<span style="float: right;"><? echo ( ssi::writeButton( $log, $dbh, 'GoCustomer', 'customer.gif', '', '/', 'Customer' ); ) ?></span>
			</div>
			<br/>
			<div class="menubar"><script type="text/javascript">writeMenu(Menus);</script><span class="filler">&nbsp;</span></div>
			<?PageContent?>
			<br class="spacer"/>
		</div><!--ContentInner-->
		</div><!--Content-->
	</body>
</html>
