<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js"></script>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/service.js"></script>
		<? endif ( $r->uri() =~ /\/main\/project/ ) ?>
		<? if ( $r->uri() =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/quote/ ) ?>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>

		<!--<LINK REL="SHORTCUT ICON" HREF="/favicon.ico">-->
<script type="text/javascript">
<!--
        function startList() {
            if (document.all && document.getElementById) {
                var navRoot = document.getElementById("menubar");
                if ( navRoot ) {
                    for ( var i=0; i<navRoot.childNodes.length; i+= 1 ) {
                        var node = navRoot.childNodes[i];
                        if (node.nodeName=='LI') {
                            node.onmouseover=function() {
                                this.className+=' over';
							}
                            node.onmouseout=function() {
								this.className=this.className.replace(' over', '');
							}
                        } // end if
                    } // end for
                } // end if
            }
        }
		Event.observe(window, 'load', startList );
			
		if ( typeof(body_onLoad) == 'function' ) 
			Event.observe(window, 'load', body_onLoad );
-->
        </script>
	</head>
	<body>
		<div class="Content">
			<div class="ContentInner">
				<div class="Header">
					<a href="/index.html"><img style="float: left;" src="/images/logo.gif" alt="West Star Printing"/></a>
					<img style="float: left;" src="/images/main_banner.gif" alt="West Star Printing"/>
					<br class="spacer"/>
					<!--#include virtual="/skins/<?SiteTitle?>/includes/customer_menu.html"-->
				</div><!--Header-->
				<?PageContent?>
				<span class="unprintable">
				<br class="spacer"/>
				<br class="spacer"/>
				</span>
			</div><!--ContentInner-->
		</div><!--Content-->
	</body>
</html>
