	<? eval (
		if ( $param{'btnFunction'} eq 'Agree' ) {
			$session{'AgreedToDisclaimer'} = 1;
		} elsif ( $param{'btnFunction'} eq 'Disagree' ) {
			openprint::login::logout();
		} # end if
$openprint::log->debug("$session{user_type}");
	) ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<link href="/css/common.css" rel="stylesheet" type="text/css"/>
		<link href="/css/common-print.css" rel="stylesheet" type="text/css" media="print"/>
		<link href="/css/menu.css" rel="stylesheet" type="text/css"/>
		<link href="/css/button.css" rel="stylesheet" type="text/css"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/buttons.js"></script>
		<script type="text/javascript" src="/javascripts/jsrsClient.js"></script>
		<script type="text/javascript" src="/javascripts/proj/misc_prin.js"></script>
		<script type="text/javascript" src="/javascripts/form_utilities.js?version=1.0"></script>
		<? if ( $r->uri() =~ /\/main\/order/ ) ?>
		<link href="/css/order.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/order/ ) ?>
		<? if ( $r->uri() =~ /\/main\/project/ ) ?>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/javascripts/service.js?version=1.0"></script>
		<? endif ( $r->uri() =~ /\/main\/project/ ) ?>
		<? if ( $r->uri() =~ /\/main\/quote/ ) ?>
		<link href="/css/quote.css" rel="stylesheet" type="text/css"/>
		<link href="/css/project.css" rel="stylesheet" type="text/css"/>
		<? endif ( $r->uri() =~ /\/main\/quote/ ) ?>
		<script type="text/javascript" src="/javascripts/popups.js"></script>
		<script type="text/javascript" src="/javascripts/tips.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/window.js?version=1.0"></script>
		<link href="/css/pwc.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>

		<link rel="shortcut icon" href="/images/favicon.ico"/>
<script type="text/javascript">
<!--
        function startList() {
            if (document.all && document.getElementById) {
                var navRoot = document.getElementById("menubar");
                if ( navRoot ) {
                    for ( var i=0; i<navRoot.childNodes.length; i+= 1 ) {
                        var node = navRoot.childNodes[i];
                        if (node.nodeName=='LI') {
                            node.onmouseover=function() {
                                this.className+=' over';
							}
                            node.onmouseout=function() {
								this.className=this.className.replace(' over', '');
							}
                        } // end if
                    } // end for
                } // end if
            }
        }
		Event.observe(window, 'load', startList );
			
		if ( typeof(body_onLoad) == 'function' ) 
			Event.observe(window, 'load', body_onLoad );
-->
        </script>
	</head>
	<body>
		<div id="maincontainer">
			<div class="Header">
				<a class="Logo" href="/index.html"><img id="Logo" src="/images/logo.png" alt="West Star Printing"/></a>
  <? if ( ! $session{'user_id'} ) ?>
				<form id="QuickLogin" name="QuickLoginForm" method="post" action="<?SecureSiteURL?>/account/login.html">
					<p><label>Email:</label><input type="text" name="email" id="email" onkeydown="if(event.keyCode == 13){checkLoginData( this, this.form.password );}"/>
							<? echo ( ssi::writeButton( $log, $dbh, 'QuickLoginButton','login.gif',"QuickLoginForm.btnFunction.value='Login';QuickLoginForm.submit();", '', 'Login' ) ) ?>
					</p>
					<p><label>Password:</label><input type="password" name="password" id="password" onkeydown="if(event.keyCode == 13){checkLoginData(this.form.email, this);}"/>
						<? echo ( ssi::writeButton( $log, $dbh, 'QuickRegistration','registration.gif','', '/account/registration.html', 'Register Now' );) ?>
					</p>
					<input type="hidden" name="btnFunction" />
				</form>
    <? else ( ! $session{'user_id'} ) ?>
				<div id="CurrencySelection">
					<form name="SelectCurrency" action="<? echo ( misc::get_url( $r->uri(), \%openprint::param, { 'exclude'=>['select_currency_id','ddmCompany','btnFunction'] } ); ) ?>" method="post">
						<p>
							<label>Currency:</label>
							<select name="select_currency_id" onchange="this.form.submit();">
								<? echo (
										ssi::make_drop_down( [ map { $_->id(), $_->name() } openprint::Currency::find( 'order'=>'lower(name)' ) ], $session{'Currency_id'} );
								) ?>
							</select>
				<? if ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
				<? echo ( ssi::writeButton( $log, $dbh, 'GoEmployee', 'employee.gif', '', '/employee/', 'Employees' ); ) ?>
				<? endif ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
				<? if ( sets::isin( $session{'user_type'}, ['A'] ) ) ?>
				<? echo ( ssi::writeButton( $log, $dbh, 'GoAdministrator', 'administrator.gif', '', '/administrator/', 'Administrators' ); ) ?>
				<? endif ( sets::isin( $session{'user_type'}, ['A'] ) ) ?>
						</p>
<? if ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
						<p>
							<label>Company:</label>
							<input name="CompanyFilter" type="text" style="width: auto;" onkeyup="filterDDM(this, this.form.ddmCompany);" size="4"/>
							<select name="ddmCompany" onchange="if(this.options[this.selectedIndex].value != '') this.form.submit();">
								<option value="">Select a Company</option>
								<? echo (
										openprint::Company::get_dropdown( $session{'company_id'} );
										) ?>
							</select>
							<? echo ( ssi::writeButton( $log, $dbh, 'Submit', 'submit.gif', 'SelectCurrency.submit();', '', 'Submit' ); ) ?>
						</p>
<? endif ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
						<input type="hidden" name="btnFunction" value="SelectCompany" />
					</form>
                </div>
				<br/>
				<br/>
				<br/>
    <? endif ( ! $session{'user_id'} ) ?>
			<? echo ( ssi::include( $config{'SkinPath'}.'/includes/customer_menu.html', $variable ); ) ?>
			</div><!--Header--><div class="GrayGradient"><? if ( $r->uri() =~ /index.html$/ ) ?><div style="background: white; margin: 0px 0px 2px 0px;"><img id="Rolls" src="/images/rolls.jpg" alt=""/></div><? endif ( $r->uri() =~ /index.html$/ ) ?></div><div class="Content">
			<div class="ContentInner">
<? if ( ( $session{'user_type'} eq 'C' ) and ! $session{'AgreedToDisclaimer'} ) ?>
<form name="DisclaimerForm" method="post" action="/account/login.html">
	<fieldset><legend>Disclaimer</legend>
<? echo ( $config{'LoginDisclaimer'} ) ?>
		<p class="buttons">
			<? echo ( ssi::writeButton( $log, $dbh, 'DisclaimerAgree','agree.gif',"DisclaimerForm.btnFunction.value='Agree';DisclaimerForm.submit();",'','Agree' ); ) ?>
			<? echo ( ssi::writeButton( $log, $dbh, 'DisclaimerDisagree','disagree.gif',"DisclaimerForm.btnFunction.value='Disagree';DisclaimerForm.submit();",'','Disagree' ); ) ?>
		</p>
	</fieldset>
	<input type="hidden" name="btnFunction" />
</form>
<? else ( ( $session{'user_type'} eq 'C' ) and ! $session{'AgreedToDisclaimer'} ) ?>
<? eval ( $openprint::log->debug("$session{user_type} ($session{'AgreedToDisclaimer'})"); ) ?>
				<? echo ( ssi::variable_substitution( \$$variable{'PageContent'}, $variable ); ) ?>
<? endif ( ( $session{'user_type'} eq 'C' ) and ! $session{'AgreedToDisclaimer'} ) ?>
				<span class="unprintable">
				<br class="spacer"/>
				<br class="spacer"/>
				</span>
			</div><!--ContentInner-->
		</div><!--Content-->
		</div>
	</body>
</html>
