<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><?PageTitle?></title>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/scriptaculous/prototype.js'); ) ?>"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous/scriptaculous.js"></script>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/buttons.js'); ) ?>"></script>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/proj/misc_prin.js'); ) ?>"></script>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/popups.js'); ) ?>"></script>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/form_utilities.js'); ) ?>"></script>
		<script type="text/javascript" src="<? echo ( hash_link('/javascripts/window.js'); ) ?>"></script>
		<link href="<? echo ( hash_link('/css/common.css'); ) ?>" rel="stylesheet" type="text/css"/>
		<link href="<? echo ( hash_link('/css/menu.css'); ) ?>" rel="stylesheet" type="text/css"/>
		<link href="<? echo ( hash_link('/css/button.css'); ) ?>" rel="stylesheet" type="text/css" media="screen,print"/>
		<link href="<? echo ( hash_link('/css/pwc.css'); ) ?>" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/alphacube.css" rel="stylesheet" type="text/css" media="screen"/>

		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
	</head>
	<body onload="if ( typeof(body_onLoad) == 'function' ) body_onLoad();">
			<div id="Header">	
				<div id="Logo">
				<table><tr>
				<td><a href="/index.html"><img src="/images/logo.gif" alt="Books-One Publications"/></a></td>
				<td><a href="/index.html">Books-One Publications</a></td>
				</tr></table>
				</div>
				<div id="Menu">
					<ul id="menubar">
						<li id="MenuAccount" class="<? echo ( $r->uri() =~ /main\/account/ ? 'on' : 'off' ) ?>" ><a href="#" onclick="toggleMenu($('MenuAccount'), 'off', 'on');return false;">ACCOUNT</a>
							<ul>
	<? if ( $session{'user_id'} ) ?>
	<? if ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
								<li><a href="/main/account/select_company.html">&raquo; Select Company</a></li>
	<? endif ( sets::isin( $session{'user_type'}, ['E','A'] ) ) ?>
								<li><a href="/main/account/logout.html">&raquo; Logout</a></li>
	<? else ( $session{'user_id'} ) ?>
								<li><a href="/main/account/login.html">&raquo; Login</a></li>
	<? endif ( $session{'user_id'} ) ?>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		<div id="Content">
			<div id="ContentInner">
				<?PageContent?>
			</div><!--ContentInner-->
		</div><!--Content-->
	</body>
</html>
