<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><?PageTitle?></title>	
		<base href="<?siteURL?>"/>
		<style TYPE="text/css">
			.docketText {font-family: Arial, Helvetica, Sans-Serif; font-size:8pt; color: #000000;}
			.headerText {font-family: Arial, Helvetica, Sans-Serif; font-size:8pt;}
			.bigheaderText {font-family: Arial, Helvetica, Sans-Serif; font-size:10pt;}
			.hugeText {font-family: Arial, Helvetica, Sans-Serif; font-size:12pt;}
		</style>
		<LINK REL="SHORTCUT ICON" HREF="/favicon.ico">
	</head>
	<body>
		<?PageContent?>
	</body>
</html>

