.back1 {
	background-image: url(/images/back_menu.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FCEBFE;
}
.back2 {
	background-image: url(/images/back_menuII.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFFFFF;
}
.back3 {
	background-image: url(/images/back.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	
}
.minitext {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.linkmini {
	FONT-SIZE: 11px; COLOR: #3333ff; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: underline
}
.linkmini:hover {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.text {
	FONT-SIZE: 12px; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.textorange {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #7F017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.texttotal {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.linkp {
	FONT-SIZE: 12px; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkp:hover {
	FONT-SIZE: 12px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.textsize {
	FONT-SIZE: 11.5px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.linksize {
	FONT-SIZE: 11.5px; COLOR: #1C63D8; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linksize:hover {
	FONT-SIZE: 11.5px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkcc {
	FONT-SIZE: 11.5px; FONT-WEIGHT: bold; COLOR: #1C63D8; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkcc:hover {
	FONT-SIZE: 11.5px; FONT-WEIGHT: bold; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkfaq {
	FONT-SIZE: 12px; COLOR: #1C63D8; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkfaq:hover {
	FONT-SIZE: 12px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.text1 {
	FONT-SIZE: 12px; COLOR: #072B61; LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.title {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #F2BA00; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.title1 {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.subtext {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 1px
}
.textorder {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.linkorder {
	FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkorder:hover {
	FONT-SIZE: 11px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linklost {
	FONT-SIZE: 11px; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: underline
}
.linklost:hover {
	FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: underline
}
.linkcreate {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: underline
}
.linkcreate:hover {
	FONT-SIZE: 12px; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: underline
}
.textinvoice {
	FONT-SIZE: 11px; COLOR: #072B61; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px
}
.linkadmin {
	FONT-SIZE: 12px; COLOR: #35802E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkadmin:hover {
	FONT-SIZE: 12px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkadminw {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.linkadminw:hover {
	FONT-SIZE: 12px; COLOR: #81017E; LINE-HEIGHT: 18px; FONT-FAMILY: Tahoma, Arial, Verdana; LETTER-SPACING: 0px; TEXT-DECORATION: none
}

.PageTitle {
	display: none;
}
img {
border: none;
}

a {
	padding: 0px;
	margin: 0px;
	border: none;
}
td {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: #DBDBDB;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Arial, Verdana;
}
ul.ProjectTypes {
list-style: none;
padding: 0px 10px 0px 10px;
margin: 0px;
}
ul.ProjectTypes li {
background: url(/images/arrow.gif) right center no-repeat
}
ul.ProjectTypes li a {
	font-size: 12px;
	color: #072B61; 
	line-height: 18px; 
	letter-spacing: 0px; 
	text-decoration: none;
}

div#instant_price_section {
	float: right;
	width: 267px;
	margin-right: 15px;
}
div#instant_price_section .Questions {
	background-color: #c9c9c9;
	padding: 2px;
}
div#instant_price_section .Questions h3 {
	font-size: 16px;
	font-weight: bold;
	color: #072B61;
	line-height: 18px;
	letter-spacing: 1px;
	margin-left: 10px;

} 

div.row {
    margin: 0px;
}

div.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html div.row {height: 1%;}
/* End hide from IE-mac */

div#instant_price_section .Questions div.row {
	background-image: url(/images/back.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 10px;
}
div#instant_price_section .Questions div.row span.label, div#instant_price_section .Questions label {
	float: left;
	font-weight: bold;
	width: auto;
	font-size: 12px;
	color: #7F017E;
	line-height: 18px;
	letter-spacing: 0px
}

.InstantPricing .Questions span.input {
    width: auto;
    float: right;
}
.InstantPricing .Questions div.Prices {
	background-image: url(/images/back.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.spacer {
    clear: both;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.InstantPricing img {
    width: 200px;
}

