[Unit]
Description=Openprint Syslog Monitor

[Service]
#Type=forking
ExecStart=/var/www/testing/perl/tool/syslog.pl --config=/etc/openprint/syslog.conf

[Install]
WantedBy=multi-user.target
