[Unit]
Description=Openprint IP Monitor for %i

[Service]
#Type=forking
ExecStart=/var/www/testing/perl/tools/ip_monitor.pl --config=/etc/openprint/ip_monitor.%i.conf
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
