table .PeriodStart, table .PeriodEnd, table .Period {
	width: 255px;
	text-align: left;
}
table .Range {
	width: 185px;
}
table .Range_Units {
	width: 90px;
}

table .Units {
	width: 100px;
}
table .Cost,
table .Price,
table .Markup {
	width: 80px;
}
#Prices table .buttons {
	width: 80px;
}

.tax_exempt {
	padding-left: 180px;
}
.tax_exempt label {
	width: 175px;
	margin-left: -180px;
}

table .Supplier {
	width: 80px;
}
.Service li input[type="text"] {
width: 100%;
}
