.InteriorPages, .CoverPages {
	width: 50%;
	float: left;
}
.PressProofApprovals {
	width: 50%;
	float: left;
}
.CoverPages .Dimensions {
	float: none;
	width: auto;
}

.SignatureGroup .leftColumn ,
.SignatureGroup .rightColumn {
width: 50%;
	float: left;
}
#Inks label:after {
content: "";
}
.BleedsColourBars ,
.Service .Overrides ,
.Stock ,
.InksFront,
.InksBack {
	float: left;
	width: 50%;
	min-width: 425px;
}
.SpotColour {
	width: 25%;
display: inline-block;
	min-height: 22px;
/*
	float: left;
*/
}
.SpotColour label:not(.radio):not(.radio-inline),
.Coverages label:not(.radio):not(.radio-inline) {
	clear: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0 0 0 2px;
	vertical-align: middle;
}
.SpotColour label:after {
	content: "";
}
.bleedOption {
	float: left;
	width: 100px;
}
.SpecialColour {
	margin: 5px 0px;
	padding-left: 135px;
}
.SpecialColour .checkOption {
	float: left;
	width: 135px;
	margin-left: -135px;
}
.SpecialColour .Mileage,
.SpecialColour .Price
{
display: inline-block;
width: 49%;
}
.colourOption {
	float: left;
	width: 104px;
}
