@import 'project.css';

.SidesTheSame {
	top: -22px; left: 50px; position: relative; width: 120px;padding-left: 5px;
	background-color: #DEDCB7;
}
.Service input[type="text"],
.Service input[type="number"] {
	width: 75px;
	text-align: right;
}
.Service .Stock .Brand input,
.Service .Stock .Finish input,
.Service .Stock .Colour input,
.Service .Stock .Weight input {
	width: 100%;
	text-align: left;
}
.pagequantity input[type="number"],
.pagequantity input[type="text"],
.imposition input[type="number"],
.imposition input[type="text"] {
	width: 40px;
}
.quantity input[type="number"],
.quantity input[type="text"],
.unitprice input[type="number"],
.unitprice input[type="text"],
.mprice input[type="number"],
.mprice input[type="text"],
.serviceprice input[type="text"],
.serviceprice input[type="number"] {
	width: 75px;
	text-align: right;
}
.stockquantity input[type="text"] ,
.stockquantity input[type="number"] {
	width: 100px;
}
/*
.InteriorPages,
.GateFoldedPages,
.CoverPages .Dimensions {
	width: 50%;
	float: left;
}
.CoverPages .Dimensions {
	width: auto;
}
*/
.Service .Dimensions input {
	width: 17%;
	max-width: 55px;
	min-width: 45px;
}
.Dimensions .leftColumn,
.Dimensions .rightColumn {
	width: 100%;
}
.InteriorPages .Dimensions {
	width: auto;
	float: none;
}
.Coverages label:not(.radio):not(.radio-inline) {
	padding-right: 2px;
}
.Service .SpotColour input[type="number"],
.Service .SpotColour input[type="text"],
.Service .Coverages input[type="number"],
.Service .Coverages input[type="text"],
.SpecialColour input[type="number"] ,
.SpecialColour input[type="text"] {
	width: 30px;
}
.SpecialColour input[type="text"] {
	min-width: 50px;
	max-width: 100px;
	text-align: left;
}
.SpecialColour .Price input {
	width: 40%;
	text-align: right;
}
.SpecialColour .Mileage input {
	width: 40%;
}
.Service .templates {
    padding-right: 0;
}
.Service .templates:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.Service .templates p {
	float: left;
	width: 165px;
	height: 180px;
	text-align: center;
	margin: 0 5px 10px 5px;
	padding: 0;
}
.Service .templates p label:not(.radio):not(.radio-inline) {
	clear: none;
	float: none;
	margin: 0;
	vertical-align: middle;
}
.Service .templates p label:after {
content: "";
}
.Service .templates p img {
    clear: both;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
}
.templateOption {
	float: left;
	width: 165px;
	height: 180px;
	text-align: center;
	margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.templateOption img {
    clear: both;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
}
.psc_questions {
	width: 50%;
	float: left;
}
.Service .psc_questions li {
	padding-left: 300px;
}
.Service .psc_questions label {
	width: 300px;
	margin-left: -300px;
}
.Stock {
	position: relative;
}
#ButtonStockList {
	position: absolute;
	right: 0;
	top: 10px;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
li label {
    font-size: medium;
}
select {
	font-size: medium;
}
.SpotColour label, .Coverages label {
	font-size: medium;
}
.Service input {
	font-size: medium;
}
}

.Service .Description input {
	width: 97%;
	text-align: left;
}

.Paper .TwoColumns .quantity,
.Paper .TwoColumns .pricing {
	display: block;
	width: 100%;
}
.Paper li {
	margin: 15px 0;
}
#InformationDiv {
	min-height: 15px;
}
svg.Imposition {
	width: 320px;
	height: 240px;
	color: white;
}
svg.Imposition rect.background {
	background: none;
	fill: white;
}
svg.Imposition rect.sheet {
	background-color: white;
	border: 1px solid black;
	color: white;
}
