
.Folding table {
	table-layout: auto;
	width: auto;
}
table .Qty,
table .Imp {
	width: 27px;
}
.Folding table .Folds, 
.Folding table .Angles {
	width: 30px;
}
.Folding table .Speed {
	width: 80px;
	vertical-align: middle;
}
.Folding table .Speed img {
	vertical-align: middle;
}

.Folding table input[type="text"],
.Folding table input[type="number"] {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.Folding table .Speed input[type="text"],
.Folding table .Speed input[type="number"] {
	width: 50px;
}
.Folding table th {
	font-size: x-small;
}
.Folds, .Angles {
	display: none;
}
